<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-styles/color.html">

<!-- INCLUDE IF NEEDED: -->
<!--<link rel="import" href="../shared/shared-styles.html">-->

<dom-module id="index-card">
    <template>
        <style>
            :host {
                display: block;
                height: 120px;
                background-color: var(--paper-blue-grey-900);
                -webkit-box-shadow: inset 0 4px 8px -5px rgba(50, 50, 50, 0.75);
                -moz-box-shadow:    inset 0 4px 8px -5px rgba(50, 50, 50, 0.75);
                box-shadow:         inset 0 4px 8px -5px rgba(50, 50, 50, 0.75);
                padding-top: 4px;
            }
            :host:first-child {
                background-color: var(--paper-blue-grey-400);
            }
            :host:nth-child(2) {
                background-color: var(--paper-blue-grey-500);
            }
            :host:nth-child(3) {
                background-color: var(--paper-blue-grey-600);
            }

            .form-bg {
                position: absolute;
            }
            :host:first-child .form-bg {
                fill: #FFF;
            }
            :host:nth-child(2) .form-bg {
                fill: var(--paper-grey-50);
            }
            :host:nth-child(3) .form-bg {
                fill: var(--paper-grey-100);
            }
            h2 {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 300;
                font-size: 18px;
                padding: 5px 10px;
                color: var(--paper-blue-grey-50);
                margin: 0;
            }

            p {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 300;
                font-size: 15px;
                color: var(--paper-blue-grey-800);
                margin: 0;
                padding: 5px;
            }
            .back-container{
                /*z-index:1;*/
            }
            .info {
                height: 70px;
                margin: 10px;
                padding: 0;
                position:relative;
            }
        </style>

        <div>
            <div class="front" >
                <div class="back-container">
                    <svg class="form-bg" width="320px" height="120px" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M 0 30 V 120 H 320 V 0 H 220 Q 210 0 200 15 T 180 30"/>
                    </svg>
                </div>
                <div class="icon">
                </div>
                <h2>[[type]]</h2>
                <div class="info">
                    <p>Lab: [[lab]]</p>
                    <p>Abgabe: [[delivery]]</p>
                </div>
            </div>
        </div>
    </template>

    <script>
        Polymer({

            is: 'index-card',

            properties: {
                type: {
                    type: String
                },
                delivery: {
                    type: String
                },
                lab: {
                    type: String
                }
            }

        });
    </script>
</dom-module>
