<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-styles/color.html">
<link rel="import" href="../shared/shared-styles.html">

<dom-module id="index-header">
    <template>
        <style include="shared-styles">
            :host {
            }
            .header-container {
                padding: 8px;
            }
            iron-icon {
                border: var(--paper-blue-grey-500) solid 2px;
                border-radius: 50%;
                display: inline-table;
            }
            .header-title {
                font-size: 28px;
                padding-left: 3px;
                position: relative;
                top: 4px;
            }
            .header-container iron-icon {
                --iron-icon-height: 12%;
                --iron-icon-width: 12%;
                padding: 4px;
            }
        </style>

        <div class="header-container">
            <iron-icon icon="social:group"></iron-icon>
            <span class="header-title">Gruppe [[ groupnumber ]]</span>
        </div>
    </template>

    <script>
        Polymer({

            is: 'index-header',

            properties: {
                'groupnumber': {
                    type: Number,
                    value: 3  // dummy data
                }
            }

        });
    </script>
</dom-module>
