<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-styles/color.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<!--<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">-->
<link rel="import" href="../shared/shared-styles.html">

<dom-module id="navigation-bar">
    <template>
        <style>
            :host {
                display: block;
                height: 60px;
            }
            .nav-container {
                height: 55px;
                width: 100%;
                position: fixed;
                background: var(--paper-blue-grey-100);
                z-index: 1;
                border-bottom: #BBB solid 3px;
            }
            .nav-block {
                padding: 1%;
                padding-top: 25px;
                height: 100%;
                width: 17%;
            }
            .configuration{
                float: left;
            }
            .notification{
                float:right;
            }
            .icon{
                display: block;
                margin: auto;
                padding-top: 10px;
                width: 100px;
                z-index: 1;
            }
            iron-icon {
                /*position:relative;*/
                --iron-icon-width: 35px;
                --iron-icon-height: 35px;
                position: relative;
                /*padding: 10%;*/
                color: var(--paper-blue-grey-900);

            }
        </style>
        <app-header>
            <app-toolbar class="nav-container">
                <div class="configuration nav-block">
                    <iron-icon icon="icons:menu" class="iron-icon-1"></iron-icon>
                </div>
                <div class="icon nav-block">
                    <img src="../../../images/mt.svg">
                </div>
                <div class="notification  nav-block">
                    <iron-icon icon="social:notifications"></iron-icon>
                </div>
            </app-toolbar>
        </app-header>
    </template>

    <script>
        Polymer({

            is: 'navigation-bar',
            properties: {

            }

        });
    </script>
</dom-module>
