<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-styles/color.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../shared/shared-styles.html">

<dom-module id="navigation-bar">
    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                display: block;
                height: 60px;
            }
            .nav-container {
                height: 70px;
                width: 100%;
                position: fixed;
                background: var(--paper-blue-grey-100);
                z-index: 1;
                border-bottom: #BBB solid 3px;
            }
            paper-icon-button {
                padding: 0;
                color: var(--paper-blue-grey-900);
            }
            paper-toolbar img {
                transform: translateY(20px);
                height: 130%;
            }
        </style>

            <paper-toolbar class="nav-container" >
                <paper-icon-button icon="icons:menu"></paper-icon-button>
                <span style="flex: 1;"></span>          <!-- used to make the items float -->
                <img src="../../../images/mt.svg">
                <span style="flex: 1;"></span>          <!-- used to make the items float -->
                <paper-icon-button class="mobile-and-tablet-only" icon="social:notifications" ></paper-icon-button>
            </paper-toolbar>
    </template>

    <script>
        Polymer({

            is: 'navigation-bar',
            properties: {

            }

        });
    </script>
</dom-module>
