<dom-module id="date-creator">
    <template>
        <style include="shared-styles">
            :host{

            }
            .date{
                padding: 10px;
                background-color: var(--paper-blue-grey-500);
                color: var(--paper-blue-grey-100);
                font-size: 18px;
            }
            .slot{
                border-style: solid;
                border-width: 1px;
                border-color: var(--paper-blue-grey-100);
            }
            .date-creator{
                margin-top: 20px;
                background-color: var(--paper-blue-grey-50);
                text-align: center;
            }
            #priorityselection{
                background-color: var(--paper-blue-grey-200);
                padding-bottom: 20px;
            }
            #priorityShower{
                margin-left: 10%;
                color: green;
            }
            .dropdown-content{
                width: 70px;
            }

        </style>
        <div class="date-creator">
            <div class="date">
                [[date]]
            </div>
            <template is="dom-repeat" items="[[timeSlotStrings]]" as="slot" >
                <paper-item id="slot" class="slot" on-tap="_handleDateClick">
                    [[slot]]
                </paper-item>
                <iron-collapse id="priorityselection">
                    <div>
                        <paper-dropdown-menu label="Priorität: ">
                            <paper-listbox class="dropdown-content">
                                <template is="dom-repeat" items="[[priorities]]" as="selector">
                                    <!--template is="dom-if" if="[[_computeSelector(selector)]]"-->
                                        <template is="dom-if" if="[[_computeSelector(selector)]]">
                                          <paper-item on-tap="_handlePriorityClick">[[selector]]</paper-item>
                                    </template>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                        <div>(1 - gering; [[priority]] - hoch)</div>
                    </div>
                </iron-collapse>
            </template>
        </div>
    </template>
    <script>
        Polymer({
            is: 'date-creator',
            properties: {
                timeslots:{
                    type: Array,
                    value: []
                },
                timeSlotStrings:{
                    type: Array,
                    value: []
                },
                date:{
                    type: String,
                    value: ""
                },
                priority:{
                    type: Number,
                    value: 0
                },
                priorities:{
                    type: Array,
                    value: [],
                    notify: true
                },
                chosenpriority:{
                    type: Number,
                    value: 0
                },
                chosenslot:{
                    type: Number
                },
                recentslot: {
                    type: Object
                },
                recentpriorityselection:{
                    type: Object
                }
            },
            ready: function() {
                this.date = this._getDateString(this.timeslots[0][0]);
                this.timeSlotStrings = this._getTimeSlotString();

                for (i = 0; i < this.priority; i++) {
                        this.priorities[i]=i+1;
                }
            },

            /**
             * Creates string from the timeslot-timits to get a nicer visualisation,
             * Adds leading zeros, if necessary
             */
            _getTimeSlotString: function(){
                var timeslotstrings = [];
                for (i=0; i<this.timeslots.length; i++) {
                    var starthours = this.timeslots[i][0].getHours();
                    var startminutes = this.timeslots[i][0].getMinutes();
                    var endhours = this.timeslots[i][1].getHours();
                    var endminutes = this.timeslots[i][1].getMinutes();

                    /*
                    * Add zeros, if necessary
                    */

                    if(starthours<10){
                        starthours = "0"+starthours;
                    }
                    if(startminutes<10){
                        startminutes = "0"+startminutes;
                    }
                    if(endhours<10){
                        endhours = "0"+endhours;
                    }
                    if(endminutes<10){
                        endminutes = "0"+endminutes;
                    }

                    timeslotstrings.push(starthours + ":" + startminutes + " - "
                            + endhours + ":" + endminutes+ " Uhr");
                }
                return timeslotstrings;
            },

            /**
             * Creates string from the given date
             * @param {String} date - date that will be transformed to String
             */
            _getDateString: function(date){
                var datestring = "";
                switch(date.getDay()){

                    case 0:
                        datestring = "Sonntag, ";
                        break;
                    case 1:
                        datestring = "Montag, ";
                        break;
                    case 2:
                        datestring = "Dienstag, ";
                        break;
                    case 3:
                        datestring = "Mittwoch, ";
                        break;
                    case 4:
                        datestring = "Donnerstag, ";
                        break;
                    case 5:
                        datestring = "Freitag, ";
                        break;
                    case 6:
                        datestring = "Samstag, ";
                        break;
                }
                datestring = datestring+date.getDate()+"."+date.getMonth()+"."+date.getFullYear();
                return datestring;
            },

            /**
             * Click-Event handler
             * Handles the timeslot selection
             * @param {String} e - handle data
             */
            _handleDateClick: function(e){
                this.fire("date-click");

                this.chosenslot = this.timeslots[e.model.index];
                //console.log(this.chosenslot);

                //If there is a visible priorityselection, hide it
                if(this.recentpriorityselection){
                    this.recentpriorityselection.hide();
                }

                // Get clicked priorityselection
                this.recentpriorityselection = Polymer.dom(this.root).querySelectorAll("#priorityselection")[e.model.index];
                this.recentpriorityselection.toggle(); //Show Priorityselection
                this.recentslot = e.target;

                //Array-Mutation to force the priorityselection-Dom-Repeat to update
                var array = this.priorities;
                this.priorities = [];
                this.priorities = array;
            },

            /**
             * Click-Event handler
             * Handles the priority selection and fires the priority-click-Event
             * @param {String} e - handle data
             */
            _handlePriorityClick: function(e){
                this.chosenpriority = e.model.selector;
                this.fire("priority-click"); //Notifies Parent (practical-date-detail.html)

                this.recentpriorityselection.toggle(); //Hide Priorityselection
                this.recentslot.style.color = 'green';
                this.recentslot.style.backgroundColor = '#CEF6CE';
                this.recentslot.innerHTML = this.recentslot.innerHTML +'<div id="priorityShower">'+'Priorität: ' + e.model.selector+'</div>';
            },

            /**
             * Checks if given Parameter is 0 and returns true of false
             * @param selector - Given parameter
             * @returns {boolean}
             * @private
             */
            _computeSelector: function(selector){
                var response = true;
                if(selector == 0){
                    response = false;
                }
                return response;
            },
            _resetSelection: function(){
                var slots = Polymer.dom(this.root).querySelectorAll("#slot");
                for(j=0; j < slots.length; j++){
                    slots[j].innerHTML = this.timeSlotStrings[j];
                    slots[j].style.color = '';
                    slots[j].style.backgroundColor = '';
                }
            }
        });
    </script>
</dom-module>