<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../shared/shared-styles.html">
<link rel="import" href="../services/get-user-info.html">
<link rel="import" href="../services/get-access-token.html">
<link rel="import" href="mail-input.html">

<!--Localization Imports-->
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../services/my-localize-behavior.html">


<dom-module id="group-detail">

    <template>

        <style include="shared-styles">
            :host{
                height: auto;
                min-width: 320px;
                width: 100% ;
                background-color: var(--paper-blue-grey-100);
                display: block;
                position: relative;
                /*top: 1px;*/
                border-top: 1px solid var(--paper-blue-grey-900);
                /*border-radius: 0 0 5px 5px;*/
            }

            .info{
                display: block;
                padding: 5px;
            }

            .info > .member {
                margin: 10px;
                padding: 11px;
                /*border: 1px solid var(--paper-blue-grey-700);*/
                background-color: #FFF;
                border-radius: 0px;
                height: 30px;
                overflow: hidden;
            }

            .info > .member > h2 {

                position: relative;
                margin: 0 0 0 50px;
                width: calc(100% - 50px);
                top: -5px;
                color: var(--paper-blue-grey-700);
            }

            .info > .member > a {
                float: left;
                width: 50px;
                position: relative;
                top: -5px;
            }

            .info > .member > a > paper-icon-button {
                color: var(--paper-blue-grey-700);
            }

            .info > .member > a > paper-icon-button:hover {
                /*color: var(--paper-blue-grey-400);*/
                transition: transform;
                border: 2px solid var(--paper-blue-grey-300);
                border-radius: 50%;
            }

            .create-group{
                background-color: var(--paper-blue-grey-50);
                border-radius: 5px;
                padding:10px 20px;
            }

            .create-group-input iron-icon {
                margin-right: 5px;
            }

            .error{
                position: relative;
                display: none;
                text-align: center;
                white-space: normal;
            }

            .error[invalid]{
                display: block;
            }
            .random{
                background-color: var(--paper-blue-grey-50);
                border-radius: 5px;
                padding:10px 20px;
                margin-bottom: 5px;

            }

            .join{
                display: block;
                padding:20px;
            }

            paper-spinner{
                display: none;
            }

            paper-input{
                --paper-input-container-color: var(--paper-blue-grey-600);
                --paper-input-container-focus-color: var(--paper-blue-grey-800);
            }

            paper-spinner[active]{
                display: block;
                position: absolute;
                height: 50px;
                width: 50px;
                left: 0;
                top: 0;
                background-color: rgba(255,255,255,0.8);
                padding:calc(50% - 10px) calc(50% - 25px);
                z-index: 100;
            }

            paper-input[wronginput]{
                color: var(--paper-red-500);
            }
        </style>

        <div>
            <content>
                <paper-spinner active="[[isLoading]]"></paper-spinner>
            </content>
        </div>

        <!-- Dieser Request soll einen User einer zufälligen Gruppe zuweisen -->
        <api-request
                id="ajax_randomJoin"
                headers="[[ ajaxRandomJoin.headers ]]"
                method="[[ ajaxRandomJoin.method ]]"
                endpoint="[[ ajaxRandomJoin.endpoint ]]"
                on-api-response="_handleRandomJoinResponse"
                loading="{{ isLoading }}"></api-request>

        <!-- Create group by mail request -->
        <api-request
                headers="[[ ajaxCreateGroup.headers ]]"
                body="[[ ajaxCreateGroup.body ]]"
                method="[[ ajaxCreateGroup.method ]]"
                endpoint="[[ ajaxCreateGroup.endpoint ]]"
                on-api-response="_handleCreateGroupResponse"
                on-api-error="_handleCreateGroupError"
                loading="{{ isLoading }}"></api-request>

        <!-- Checking for Group ID if User Joined Group-->
        <template is="dom-if" if="{{selfInfo.groupId}}">

            <div class="info">

                <!-- Dieser Request soll anhand der ID die Gruppeninfo holen -->
                <api-request
                        headers="[[ ajax.headers ]]"
                        method="[[ ajax.method ]]"
                        endpoint="[[ ajax.endpoint ]]"
                        on-api-response="_handleGroupResponse"
                        loading="{{ isLoading }}"></api-request>

                <!--Fetching info about the groups labs-->
                <api-request
                        headers="[[ ajax_glabs.headers ]]"
                        method="[[ ajax_glabs.method ]]"
                        endpoint="[[ ajax_glabs.endpoint ]]"
                        on-api-response="_handleGroupLabsRequest"></api-request>

                <!--Fetching info about the groups priorities-->
                <api-request
                        headers="[[ ajax_prios.headers ]]"
                        method="[[ ajax_prios.method ]]"
                        endpoint="[[ ajax_prios.endpoint ]]"
                        on-api-response="_handlePriosRequest"></api-request>

                <template is="dom-repeat" items="[[group.groupMemberIds]]" as="member">
                    <div class="member">
                        <get-user-info
                                access-token="[[ accessToken ]]"
                                user-id="[[member.id]]"
                                name="{{member.name}}"
                                mail="{{member.mail}}"></get-user-info>
                        <a id="mail-[[member.id]]" href="mailto:[[member.mail]]" tabindex="-1"><paper-icon-button icon="icons:mail"></paper-icon-button></a>
                        <paper-tooltip for="mail-[[member.id]]" offset="5" animation-delay="0">{{localize('groupdetail_write mail')}}</paper-tooltip>
                        <h2>[[member.name]]</h2>
                    </div>
                </template>

            </div>

        </template>

        <template is="dom-if" if="{{!selfInfo.groupId}}">

            <div class="join">

                <!-- Random Join -->
                <div class="random">
                    <paper-button on-tap="_onRandomTap">{{localize('groupdetail_button randomjoin')}}</paper-button>
                </div>

                <div class="create-group">

                    <paper-input class="create-group-input"
                                 label="{{localize('groupdetail_you')}}"
                                 value="{{convertMail(selfInfo.email)}}"
                                 readonly>
                        <iron-icon icon="mail" prefix></iron-icon>
                        <div suffix>@campus.lmu.de</div>
                    </paper-input>

                    <template is="dom-repeat" items="{{members}}" as="member">
                        <paper-input class="create-group-input"
                                     label="{{localize('groupdetail_member')}} [[calcNaturalIndex(index)]]"
                                     value="{{member.name}}"
                                     required>
                            <iron-icon icon="mail" prefix></iron-icon>
                            <div suffix>@campus.lmu.de</div>
                        </paper-input>
                    </template>

                    <paper-button on-tap="_createNewGroup" style="margin-top: 20px">
                        {{localize('groupdetail_create group')}}
                    </paper-button>
                    <paper-input-error id="inputError" class="error">
                        {{localize('groupdetail_input_error')}}
                    </paper-input-error>
                    <paper-input-error id="requestError" class="error">
                        {{localize('groupdetail_request_error')}}
                    </paper-input-error>
                </div>
            </div>
        </template>

        <!--Iron Signal for Localization-->
        <iron-signals on-iron-signal-language="changeLanguage"></iron-signals>

    </template>
    <script>
        Polymer({
            is: 'group-detail',
            properties: {
                accessToken: String,
                group: {
                    type: Object,
                    notify: true,
                    readOnly: false,
                    observer: '_groupChanged'
                },
                groupSize: {
                    //TODO make input dependent
                    type: Number,
                    value: 4
                },
                isLoading: {
                    type: Boolean,
                    value: false
                },
                members: {
                    type: Array,
                    reflectToAttribute: false,
                    notify: true
                },
                selfInfo: {
                    type: Object,
                    notify: true,
                    readOnly: false,
                    observer: '_selfInfoChanged'
                }
            },
            observers: [
                '_selfInfoGroupIdChanged(selfInfo.groupId)'
            ],
            behaviors: [
                Polymer.MyLocalizeBehavior
            ],

            ready: function() {

                this.members= [];
                for (var i=1;i<this.groupSize;i++){
                    this.members.push({"name":""});
                }
                this._selfInfoGroupIdChanged();
            },

            _selfInfoGroupIdChanged: function () {

                if (typeof this.accessToken == "undefined")
                    return;

                if (this.selfInfo.groupId) {
                    this.ajax = {
                        contentType: 'application/json',
                        headers: {
                            Authorization: this.accessToken
                        },
                        method: 'GET',
                        endpoint: '/groups/' + this.selfInfo.groupId
                    }
                }
            },

            convertMail: function (mail) {
                if (!mail) {
                    return "";
                } else if (mail.includes("@campus.lmu.de")) {
                    return mail.slice(0,-14);
                }
                return mail.split("@")[0];
            },

            _createNewGroup: function(){
                var checked = true;

                //Restet Errors to not visible
                this.$$('#requestError').toggleAttribute("invalid",false);
                this.$$('#inputError').toggleAttribute("invalid",false);

                //Check for empty inputs
                this.members.forEach(function(element) {
                    if(element.name==""){
                        //console.log('element was empty');
                        checked = false;
                    }
                });

                if(checked){
                    var mails = [];
                    //Add suffix back to Mails and Push to Array
                    this.members.forEach(function (element) {
                        mails.push(element.name.concat("@campus.lmu.de"));
                    });

                    this.ajaxCreateGroup = {
                        headers: {
                            Authorization: this.accessToken
                        },
                        method: 'POST',
                        body: {
                            "emails": mails
                        },
                        endpoint: '/groups/createbymail/'
                    };
                }else {
                    this.$$('#inputError').toggleAttribute("invalid",true);
                }
            },

            calcNaturalIndex: function (index) {
                return index+1;
            },

            /**
             * Callback fired when api-request responds to GET on current group.
             * @param response
             * @private
             */
            _handleGroupResponse: function (event) {
                //console.log(event);
                var self = this;
                var receivedGroup = event.detail;
                this.set('group', receivedGroup);

                //Change groupMemberIds to Array Containing Objects with ID, Name and Mail
                this.group.groupMemberIds.forEach(function () {
                    self.push('group.groupMemberIds',{"id":self.shift('group.groupMemberIds'),"name":"","mail":""});
                });

                if(this.group.labIds){
                    // Get the first group-lab
                    this.ajax_glabs = {
                        headers: {
                            Authorization: this.accessToken
                        },
                        method: 'GET',
                        endpoint: '/labs/' + this.pop('group.labIds')
                    };
                }
            },

            _handleGroupLabsRequest: function (response) {
                var labInfo = response.detail;
                //console.log(labInfo);
                ////console.log(this.pop('group.labIds'));
                this.push('group.labIds',labInfo);

                //console.log(this.group);

                if((typeof this.group.labIds[0])=='string'){
                    var labId = this.splice('group.labIds',0,1);
                    // Get further group-labs until all strings replaced
                    this.ajax_glabs = {
                        headers: {
                            Authorization: this.accessToken
                        },
                        method: 'GET',
                        endpoint: '/labs/' + labId[0]
                    };
                }else {
                    //Notify labIds Changed
                    //this.splice('group.labIds')

                    //Get the Groups Priorities
                    this.ajax_prios = {
                        headers: {
                            Authorization: this.accessToken,
                            filter: '{"where":{"semesterId":"' + this.selfInfo.semesterId + '","groupId":"' + this.selfInfo.groupId + '"}}'
                        },
                        method: 'GET',
                        endpoint: '/Priorities'
                    };
                }
            },


            _handlePriosRequest: function (response) {
                this.set('group.priorityIds',response.detail);

                //Notify Main to Update Group Property
                this.fire('GROUP_CHANGED',this.group);
            },

            /**
             * Callback fired when api-request responds to createByMail request
             * @param apiResponse
             * @private
             */
            _handleCreateGroupResponse: function(event){
                var result = event.detail.group;
                if(result){
                    this.set('selfInfo.groupId', result.id);
                }
            },

            _handleCreateGroupError: function (event) {
                //console.log('there has been an error');
                this.$$('#requestError').toggleAttribute("invalid",true);
            },

            /**
             * API response handler after Random Join Request
             **/
            _handleRandomJoinResponse: function(event) {
                this.set('selfInfo.groupId', event.detail.group.id);
                this.fire('iron-signal', { name: 'notification', data:'Du bist einer zufälligen Gruppe zugewiesen worden!'});
            },

            /**
             * Random join button tap handler
             * @private
             */
            _onRandomTap: function() {
                console.log(this.accessToken);
                this.ajaxRandomJoin = {
                    headers : {
                        Authorization: this.accessToken
                    },
                    method:'POST',
                    endpoint: '/groups/randomJoin/'
                };
            },

            _selfInfoChanged: function (detail) {
                //console.log(detail);
                //console.log(this.selfInfo.groupId);
                this.notifyPath('selfInfo.groupId');
                this.fire('dom-change');

            },
            _groupChanged: function (detail) {
                //console.log(detail);
            }

        });
    </script>
</dom-module>