<link rel="import" href="../shared/shared-styles.html">
<link rel="import" href="group-detail.html">

<dom-module id="group-card">
    <template>
        <style  include="shared-styles">
            :host {
                --custom-height: 100px;
                height: var(--custom-height);
                min-width: 320px;
                margin-top: 5px;
                display: block;
                background-color: var(--paper-blue-grey-100);
                border-radius: 5px 5px 0 0;
            }

            .icon{
                height: 64px;
                width: 64px;
                position: relative;
                margin: 18px 0 18px 18px; /*oben rechts unten links old:calc(20% - 54px)*/
                float: left;
                border-radius: 50%;
                border: 2px solid var(--paper-blue-grey-900);
            }
            .icon > img {
                color: var(--paper-blue-grey-900);
            }
            h1{
                float: right;
                position: relative;
                top: 20px;
                display:flex;
                align-items:center;
                width:calc(100% - 128px);
                margin: 0 18px;
                height: 60px;
                padding: 0;
            }

            @media screen and (max-width: 767px) {
                :host{
                    border-radius: 0;
                }
            }
        </style>
        <div>
            <div class="icon">
                <img src="../../../images/group.svg">
            </div>
            <h1>[[groupName]]</h1>
            
        </div>
    </template>

    <script>
        Polymer({

            is: 'group-card',

            properties: {
                groupName: {
                    type: String,
                    value: "Tritt jetzt einer Gruppe bei!",
                    notify: false,
                    readOnly: false
                },
                expanded: {
                    type: Boolean,
                    value: false
                }
            },
            ready: function(){
                if(this.expanded){
                    this.customStyle['--custom-height']= '370px';
                    this.updateStyles();
                    console.log("Updated Height");
                }

                console.log(this.groupName);
            }

        });
    </script>
</dom-module>
