<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../shared/shared-styles.html">
<link rel="import" href="mail-input.html">

<dom-module id="group-detail">
    <template>
        <style include="shared-styles">
            :host{
                height: auto;
                min-width: 320px;
                width: 100% ;
                background-color: var(--paper-blue-grey-100);
                display: block;

            }
            :host[joinedGroup] > .info{
                display: block;
            }
            .info{
                display: none;
            }
            .create-group{
                background-color: var(--paper-blue-grey-50);
                border-radius: 5px;
                padding:10px 20px;
            }
            .random{
                background-color: var(--paper-blue-grey-50);
                border-radius: 5px;
                padding:10px 20px;
                margin-bottom: 5px;

            }
            .join{
                padding:20px;
                display: none;
                border: solid 1px black;
            }
            .join[active]{
                display: block;
            }
            .info{
                display: none;
            }
            .info[active]{
                display: block;
            }

            paper-spinner[active]{
                position: absolute;
                height: 50px;
                width: 50px;
                left: 0;
                top: 0;
                background-color: rgba(255,255,255,0.8);
                padding:calc(50% - 10px) calc(50% - 25px);
                z-index: 100;
            }
            paper-input[wronginput]{
                color: var(--paper-red-500);
            }
        </style>
        <div class="info">
            <template is="dom-repeat" items="[[members]]">
                <div>
                    <h2>[[item.name]]</h2>
                </div>
            </template>
        </div>
        <div class="join">
            <div class="random">
                <paper-button disabled>Zufälliger Beitritt</paper-button>
            </div>
            <div class="create-group">
                <div>
                    <content>
                        <paper-spinner active="[[isLoading]]"></paper-spinner>
                    </content>
                </div>
                <template is="dom-repeat" items="{{members}}" as="member">
                    <dom-if></dom-if>
                    <paper-input label="Member [[calcNaturalIndex(index)]]"
                                 value="{{member.mail}}"
                                 required
                                 <!--readonly-->>
                        <iron-icon icon="mail" prefix></iron-icon>
                        <div suffix>@campus.lmu.de</div>
                    </paper-input>
                </template>
                <paper-button on-tap="_createNewGroup">Neue Gruppe erstellen</paper-button>

                <iron-ajax
                        id="joinRequest"
                        url="https://www.some-api"
                        params='[[joinParams]]'
                        handle-as="json"
                        on-response="_handleJoin"
                        loading="{{isLoading}}">

                </iron-ajax>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'group-detail',
            properties: {
                groupMembers: {
                    type: Object,
                    value: function(){
                        return {};
                    }
                },
                joinedGroup: {
                    type: Boolean,
                    value: false
                },
                mails: {
                    type: Array,
                    value: function () {
                        return [];
                    }
                },
                groupSize: {
                    //TODO make input dependent
                    type: Number,
                    value: 4
                }
            },
            ready: function() {
                console.log(this.groupMembers);

                //Just for testing
                var joinedMembersTest = [
                    {name: 'Max Mustermann', mail:'max.mustermann@campus.lmu.de'},
                    {name: 'Frauke Froehlich', mail:'frauke.froehlich@campus.lmu.de'},
                    {name: 'Ida Irre', mail:'ida.irre@campus.lmu.de'},
                    {name: 'Nina Never', mail:'nina.never@campus.lmu.de'}
                ];
                var notJoinedMembersTest = [
                    {name: '', mail:''},
                    {name: '', mail:''},
                    {name: '', mail:''},
                    {name: '', mail:''}
                ];
                this.members = notJoinedMembersTest;

                //If not yet in group, show join group view, else show group info
                if(!this.members[0].mail){
                    this.toggleAttribute('active',true, this.$$('.join'));
                    this.members[0].mail = 'your.mail';
                } else {
                    this.toggleAttribute('active',true, this.$$('.info'));

                }

            },

            _createNewGroup: function(){

                var checked = true;
                var self = this;
                var inputs =  this.getEffectiveChildren('.creatate-group');
                inputs = Polymer.dom(this.root).querySelector('.create-group').children;
                console.log(inputs);

                //Check inputs
                this.members.forEach(function(element) {
                    if(!element.mail){
                        checked = false;
                    }
                });
                //self.$$('paper-input').each.validate();
                console.log(self.$$('paper-input'));

                Polymer.updateStyles();

                if(checked){
                    console.log("Korrekt ausgefüllt.");
                    this.joinParams = {
                        'member1': this.mail1,
                        'member2': this.mail2,
                        'member3': this.mail3,
                        'member4': this.mail4
                    };
                    this.$.joinRequest.generateRequest();
                    this.isLoading = true;
                }
                console.log(this.members);
            },
            calcNaturalIndex: function (index) {
                return index+1;
            },
            _handleJoin: function(e){
                var response = e.detail.response;
                if(response.valid){
                    this.members=response.members;
                } else {

                }
            }
        });
    </script>
</dom-module>