<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../shared/shared-styles.html">
<link rel="import" href="../services/get-user-info.html">
<link rel="import" href="../services/get-access-token.html">
<link rel="import" href="mail-input.html">

<dom-module id="groups-admin">

    <template>

        <style include="shared-styles">

            h1 > span {
                font-style: italic;
            }

            h1 {
                height: auto;
            }

            .groupsMembers{
                display: block;
                padding-bottom: 10px;
            }

            .groupsMembers > .member {
                margin: 0 10px;
                padding: 10px;
                border-bottom: 1px solid var(--paper-blue-grey-700);
                background-color: var(--paper-blue-grey-50);
                height: 20px;
                overflow: hidden;
            }
            .groupsMembers > .member > *:last-child{
                border-radius: 0 0 5px 5px;

            }

            .groupsMembers > .member > h2 {

                position: relative;
                margin: 0 0 0 40px;
                width: calc(100% - 40px);
                top: -5px;
                color: var(--paper-blue-grey-700);
                font-size: 13px;
            }

            .groupsMembers > .member > a {
                float: left;
                width: 40px;
                position: relative;
                top: -10px;
            }

            .groupsMembers > .member > a > paper-icon-button {
                color: var(--paper-blue-grey-700);
            }

            .container{
                padding: 20px;
                background-color: var(--paper-blue-grey-100);
                border-top: 1px solid var(--paper-blue-grey-700);
            }

            .group{
                height: 50px;
                background-color: var(--paper-blue-grey-50);
                border-bottom: 1px solid var(--paper-blue-grey-700);

                border-radius: 5px;
            }


            .group>h1{
                width: calc(100% - 100px);
                float: left;
                margin: 10px;

                font-size: 20px;
                height:30px;
                padding: 0 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .group>paper-icon-button{
                float: right;
                margin: 5px;
            }
        </style>

        <paper-dialog id="deleteDialog" on-iron-overlay-closed="_reactToDialog">
            <div>
                <h1>{{localize('groupsadmin_dialog text-1')}}<span></span> {{localize('groupsadmin_dialog text-2')}} </h1>
                <p>{{localize('groupsadmin_dialog text-3')}}</p>
            </div>
            <div class="buttons">
                <paper-button dialog-dismiss autofocus>{{localize('c_button_cancel')}}</paper-button>
                <paper-button dialog-confirm>OK</paper-button>
            </div>
        </paper-dialog>

        <!-- Fetches all current Groups -->
        <api-request
                headers="[[ ajax.headers ]]"
                method="[[ ajax.method ]]"
                endpoint="[[ ajax.endpoint ]]"
                response="{{ apiGetGroupsResponse }}"></api-request>

        <!-- Deletes Specific group -->
        <api-request
                headers="[[ deleteAjax.headers ]]"
                method="[[ deleteAjax.method ]]"
                endpoint="[[ deleteAjax.endpoint ]]"
                response="{{ apiDeleteGroupResponse }}"></api-request>
        <!--Lists all Groups-->
        <div class="container">
        <template is="dom-repeat" items="[[groups]]" as="group">
            <div class="group">
            <h1 on-tap="_toggleCollapse">[[group.name]]</h1>
            <paper-icon-button icon="icons:delete" on-tap="_deleteGroup"></paper-icon-button>
            </div>
            <iron-collapse id="collapse[[index]]">
            <div class="groupsMembers">
            <!--TODO Lists Group Memebers -->
            <template is="dom-repeat" items="[[group.groupMemberIds]]" as="member">
                <div class="member">
                    <get-user-info
                            access-token="[[ accessToken ]]"
                            user-id="[[member.id]]"
                            name="{{member.name}}"
                            mail="{{member.mail}}"></get-user-info>
                    <a href="mailto:[[member.mail]]" tabindex="-1"><paper-icon-button icon="icons:mail"></paper-icon-button></a>
                    <h2>[[member.name]]</h2>
                </div>
            </template>
            </div>
            </iron-collapse>

        </template>
        </div>
        <iron-signals on-iron-signal-switchlocale="_switchLocale"></iron-signals>
    </template>
    <script>
        Polymer({
            is: 'groups-admin',
            properties: {
                accessToken: String,
                selfInfo: {
                    type: Object,
                    notify: true,
                    readOnly: false,
                    value: {
                        groupId: ''
                    }
                },
                apiGetGroupsResponse: {
                    type: String,
                    reflectToAttribute: false,
                    observer: '_apiGetGroupsResponseChanged'
                },
                apiDeleteGroupResponse: {
                    type: String,
                    reflectToAttribute: false,
                    observer: '_apiDeleteGroupResponseChanged'
                },
                groups: {
                    type: Array
                },
                language: {
                    type: String,
                    value: 'de'
                }
            },

            ready: function () {
                this._groupsChanged();
            },

            /**
             * Localization setup
             */
            behaviors: [
                Polymer.AppLocalizeBehavior
            ],
            attached: function() {
                this.loadResources(this.resolveUrl('../shared/locales.json'));
            },
            _switchLocale: function() {
                this.language = (this.language == 'en') ? 'de' : 'en';
            },

            _groupsChanged: function () {
                this.ajax = {
                    contentType: 'application/json',
                    headers: {
                        Authorization: this.accessToken
                    },
                    method: 'GET',
                    endpoint: '/groups/'
                }
            },

            /**
             * Callback fired when api-request responds to GET on current group.
             * @param response
             * @private
             */
            _apiGetGroupsResponseChanged: function (response) {

                if (response.type == 'response'){
                    var self = this;
                    var receivedGroup = response.data;
                    this.set('groups', receivedGroup);

                    //Change groupMemberIds to Array Containing Objects with ID, Name and Mail
                    this.groups.forEach(function (element, index) {
                        element.groupMemberIds.forEach(function () {
                            self.push('groups.'+index+'.groupMemberIds',{"id":self.shift('groups.'+index+'.groupMemberIds'),"name":"","mail":""});
                        });
                    });
                }
                //console.log(this.groups);
            },

            _apiDeleteGroupResponseChanged: function (response) {
                //console.log(response);

                this._groupsChanged();
            },

            _deleteGroup: function(event, groupId){
                //console.log(event);
                //console.log(event.model.__data__.group.id);

                var groupID = event.model.__data__.group.id;
                var groupName = event.model.__data__.group.name;
                //Pass Group ID Through deleteDialog
                this.$.deleteDialog.dataset.groupID = groupID;
                this.$$('#deleteDialog > div > H1 > span').textContent = groupName;
                //console.log(this.$$('#deleteDialog > div > H1 > span').textContent);
                this.$.deleteDialog.open();
            },

            _reactToDialog: function (event) {
                if(event.detail.confirmed){
                    //Get bakc groupID
                    var groupID = event.path[0].dataset.groupID;
                    this.deleteAjax = {
                     contentType: 'application/json',
                     headers: {
                     Authorization: this.accessToken
                     },
                     method: 'DELETE',
                     endpoint: '/groups/' + groupID
                     };

                }
                //Reset groupID Attribute
                this.$.deleteDialog.dataset.groupID = '';
            },

            _toggleCollapse: function (event) {
                //console.log(event);
                index = event.model.__key__.slice(1);
                this.$$('#collapse'+index).toggle();
            }
        });
    </script>
</dom-module>