<link rel="import" href="../shared/shared-styles.html">
<link rel="import" href="group-detail.html">
<link rel="import" href="../services/redux-store.html">



<dom-module id="group-card">
    <template>
        <style  include="shared-styles">
            :host {
                --custom-height: 100px;
                height: var(--custom-height);
                min-width: 320px;
                margin-top: 5px;
                display: block;
                background-color: var(--paper-blue-grey-100);
                /*border-radius: 5px 5px 0 0;*/
            }

            .icon{
                height: 64px;
                width: 64px;
                position: relative;
                margin: 18px 0 18px 18px; /*oben rechts unten links old:calc(20% - 54px)*/
                float: left;
                border-radius: 50%;
                border: 2px solid var(--paper-blue-grey-900);
            }
            .icon > img {
                color: var(--paper-blue-grey-900);
            }
            h1{
                float: right;
                position: relative;
                top: 20px;
                display:flex;
                align-items:center;
                width:calc(100% - 128px);
                margin: 0 18px;
                height: 60px;
                padding: 0;
            }

            @media screen and (max-width: 767px) {
                :host{
                    border-radius: 0;
                }
            }
        </style>
        <div>
            <div class="icon">
                <img src="../../../images/group.svg">
            </div>
            <h1 id="groupname">{{localize('groupcard_tritt bei')}}</h1>
        </div>
        <iron-signals on-iron-signal-switchlocale="_switchLocale"></iron-signals>
    </template>

    <script>
        Polymer({

            is: 'group-card',

            properties: {
                groupName: {
                    type: String,
                    statePath: 'group.name'
                    /*notify: false,
                    readOnly: false*/
                },
                group: {
                    type: Object,
                    statePath: 'group'
                },
                language: {
                  type: String,
                  value: 'en'
                }
            },

            observers: [
              "_onGroupNameSet(groupName)"
            ],

            /**
            * Localization setup
            */
            behaviors: [
                Polymer.AppLocalizeBehavior, ReduxBehavior
            ],
            attached: function() {
                this.loadResources(this.resolveUrl('../shared/locales.json'));
            },
            _switchLocale: function() {
                this.language = (this.language == 'en') ? 'de' : 'en';
            },
            ready: function () {
                if(!this.group.name==""){
                    console.log("NO GROUP");
                    this.$.groupname.textContent = groupName;
                }
            },

            /**
            * Set the group name in the title, after it has been retrieved from AJAX
            * @param groupName
            * @private
            */
            _onGroupNameSet: function(groupName) {
                this.$.groupname.textContent = groupName;
            }

        });
    </script>
</dom-module>
