<link rel="import" href="../shared/shared-styles.html">

<!--Localization Imports-->
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../services/my-localize-behavior.html">

<dom-module id="index-card">
    <template>
        <style  include="shared-styles">
            :host {
                --color: #000000;
                height: 120px;
                min-width: 320px;
                margin:5px 0;
                display: block;
                background-color: var(--color);
            }
            :host(:hover) {
                cursor: pointer;
            }
            h2 {
                display: inline;
                float: left;
                width: calc(60% - 20px);
                margin: 0;
                line-height:20px;
            }

            .form-container{
                height: 30px;
                display: inline;
                float: right;
                width: 40%;
            }

            .form-fill {
                fill: var(--paper-blue-grey-100);
            }
            .back-fill{
                width:calc(100% - 40px);
                height:30px;
                display: inline;
                float: right;
                background-color: var(--paper-blue-grey-100);
            }

            .content{
                height: 90px;
                width: 100%;
                position: relative;
                top: 30px;
                background-color: var(--paper-blue-grey-100);
            }


            .info {
                position: relative;
                width: calc(60% + 20px);
                height: 70px;
                padding: 10px;
            }

            .plabel{
                width: 40%;
                float: left;
                top: -30px;
                position: relative;
                line-height: 30px;
            }
            .pinfo{
                width: 60%;
                float: left;
                top: -30px;
                position: relative;
                line-height: 30px;
            }
            .padmin{
                width: 120%;
                margin: 0;
                padding: 0;
            }

            .icon{
                height: 64px;
                width: 64px;
                float: right;
                margin-right: calc(20% - 54px);
                position: relative;
                top: -30px;
                border-radius: 50%;
                border: 2px solid var(--paper-blue-grey-900);
            }
        </style>
        <div on-tap="_handleTap">

            <div>
                <h2 class="light light-color-text">[[labType.type_str]]</h2>

                <div class="form-container">

                    <svg class="form-fill" width="40" height="30" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M 0 30  H 40 V 0 Q 30 0 20 15 T 0 30"></path>
                    </svg>
                    <div class="back-fill"></div>
                </div>
            </div>

            <div class="content">
                <div class="icon">
                    <img src="../../images/[[labType.name]].svg" width="64px" height="64px" alt="camera-icon" fill="">
                </div>
                <div class="info">
                    <template is="dom-if" if="[[!isAdmin]]">
                        <p class="plabel">[[localize('practicals-admin lab')]]:<br/>[[label2]]</p>
                        <p class="pinfo">[[labDate]]<br/>[[info2]]</p>
                    </template>
                    <template is="dom-if" if="[[isAdmin]]">
                        <p class="padmin">[[localize('practicals-admin-labtype text2_short')]]: [[deadlineTutors]]</p>
                        <p class="padmin">[[localize('practicals-admin-labtype text1_short')]]: [[deadlineStudents]]</p>
                    </template>
                </div>
            </div>
        </div>

        <!--Iron Signal for Localization-->
        <iron-signals on-iron-signal-language="changeLanguage"></iron-signals>

    </template>

    <script>
        Polymer({

            is: 'index-card',

            properties: {
                type: {
                    type: String
                },
                label1: {
                    type: String
                },
                label2: {
                    type: String
                },
                info1: {
                    type: String
                },
                info2: {
                    type: String
                },
                icon: {
                    type: String
                },
                isAdmin: {
                    type: Boolean,
                    value: false
                },
                labType: {
                    type: Object,
                    observer: '_labTypeChanged'
                },
                labDate: {
                    type: String,
                    observer: '_labDateChanged'
                },
                group: {
                    type: Object,
                    observer: '_groupChanged'
                }
            },
            behaviors: [
                Polymer.MyLocalizeBehavior
            ],
            _handleTap: function (event) {
                var key = this.labType.name;
                this.fire('CHANGE_ROUTE', {path: '/' + key, page: key});
            },

            _labTypeChanged: function (detail) {
                if(this.isAdmin && this.labType){
                    console.log(this.labType);
                    var temporal_deadline_students = new Date(this.labType.registration_deadline);
                    var temporal_deadline_tutors = new Date(this.labType.registration_deadline_tutors);
                    if(temporal_deadline_tutors && temporal_deadline_tutors.getDate()) {
                        this.deadlineTutors = temporal_deadline_tutors.getDate()+"."
                            +(temporal_deadline_tutors.getMonth()+1)
                            +"."+temporal_deadline_tutors.getFullYear();
                    }
                    if(temporal_deadline_students && temporal_deadline_students.getDate()) {
                        this.deadlineStudents = temporal_deadline_students.getDate()+"."
                                                +(temporal_deadline_students.getMonth()+1)
                                                +"."+ temporal_deadline_students.getFullYear();
                    }
                }
                this.customStyle['--color'] = this.labType.color;
                this.updateStyles();
            },

            _groupChanged: function (detail) {
                if(this.group && this.group.labIds) {
                    for (var i = 0; i < this.group.labIds.length; i++) {
                        if (this.group.labIds[i].labTypeId === this.labType.id) {
                            var d = new Date(this.group.labIds[i].date);
                            this.set('labDate', d.toLocaleString().slice(0, -3));

                        }
                    }
                }
            }

        });
    </script>
</dom-module>
