<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../shared/shared-styles.html">

<dom-module is="login-card">

    <template>

        <style>

            :host {
                max-width: 400px;
                padding: 10px;
                width: 100%;
            }

            a {
                color: var(--paper-blue-grey-800);
            }

            paper-card {
                width: 100%;
                --paper-card-background-color: var(--paper-blue-grey-100);
                --paper-card-header-color: var(--paper-blue-grey-50);

                --paper-card-header: {
                    background: var(--paper-blue-grey-900);
                };

                --paper-card-actions: {
                    border: 0;
                };
            }

            paper-button {
                background-color: var(--paper-blue-grey-900);
                color: var(--paper-blue-grey-50);
                margin: 0;
                width: 100%;
            }

            paper-input {
                --paper-input-container-color: var(--paper-blue-grey-500);
                --paper-input-container-focus-color: var(--paper-blue-grey-900);
            }

            .card-content p {
                margin-top: 0;
            }

        </style>

        <iron-ajax
                auto
                body="[[ ajax.body ]]"
                content-type="[[ ajax.contentType ]]"
                handle-as="json"
                method="[[ ajax.method ]]"
                on-error="_handleLoginError"
                on-response="_handleLoginResponse"
                url="[[ ajax.url ]]"
                verbose></iron-ajax>

        <paper-card heading="Login">
            <div class="card-content">
                <p>Willkommen bei <em>Medientechnik</em>. Bitte melde dich mit deiner Campus-Mailadresse an.</p>
                <paper-input label="E-Mail" type="email" value="{{ userInput.email }}"></paper-input>
                <paper-input label="Password" type="password" value="{{ userInput.password }}"></paper-input>
            </div>
            <div class="card-actions">
                <paper-button on-tap="_fireLoginRequest">Einloggen</paper-button>
                <p>Neu hier? <a href="#">Registrieren</a></p>
            </div>
        </paper-card>

    </template>

    <script>

        Polymer({

            is: 'login-card',

            properties: {

                accessToken: {
                    type: String,
                    notify: true
                },

                loggedIn: {
                    type: Boolean,
                    notify: true
                },

                userId: {
                    type: Boolean,
                    notify: true
                },

                userInput: {
                    type: Object,
                    value: {
                        email: "",
                        password: ""
                    }
                }

            },

            /**
             * Callback fired when user clicks submit button. Sets a property
             * `ajax` containing information for login API call
             * @private
             */
            _fireLoginRequest: function () {
                this.ajax = {
                    body: {
                        email: this.userInput.email,
                        password: this.userInput.password
                    },
                    contentType: 'application/json',
                    method: 'POST',
                    url: 'http://localhost:3000/api/platformusers/login'
                }
            },

            /**
             * Callback fired when API gives positive response
             * @param {Object} response
             * @private
             */
            _handleLoginResponse: function (response) {
                var jsonResponse = response.detail.response;
                console.log(jsonResponse);
                this.accessToken = jsonResponse.id;
                this.userId = jsonResponse.userId;
                this.loggedIn = true;
            },

            /**
             * Callback fired when API answers with an error
             * @param response
             * @private
             */
            _handleLoginError: function (response) {
                console.log(response.detail.error);
            }

        });

    </script>

</dom-module>