<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../shared/shared-styles.html">

<dom-module is="login-card">

    <template>

        <style>

            :host {
                max-width: 400px;
                padding: 10px;
                width: 100%;
            }

            a {
                color: var(--paper-blue-grey-800);

            }

            a:hover {
                color: var(--paper-blue-grey-500);
                -o-transition: .1s;
                -moz-transition: .1s;
                -webkit-transition: .1s;
                transition: .1s;
            }

            paper-card {
                width: 100%;
                --paper-card-background-color: var(--paper-blue-grey-100);
                --paper-card-header-color: var(--paper-blue-grey-50);

                --paper-card-header: {
                    background: var(--paper-blue-grey-900);
                };

                --paper-card-actions: {
                    border: 0;
                };
            }

            .card-actions paper-button {
                background-color: var(--paper-blue-grey-900);
                color: var(--paper-blue-grey-50);
                margin: 0;
                width: 100%;
            }

            .card-actions paper-button:hover {
                background-color: var(--paper-blue-grey-700);
                -o-transition: .1s;
                -moz-transition: .1s;
                -webkit-transition: .1s;
                transition: .1s;
            }

            paper-input {
                --paper-input-container-color: var(--paper-blue-grey-500);
                --paper-input-container-focus-color: var(--paper-blue-grey-900);
            }

            .card-content p {
                margin-top: 0;
            }

            .card-content p.error {
                color: #db4437;
                font-size: 12px;
                margin-bottom: 0;
                margin-top: 16px;
                transition: height 1s;
            }

            .card-content p.hide {
                display: none;
            }

            .spinner-container {
                background-color: rgba(255, 255, 255, 0.8);
                display: block;
                height: 100vh;
                left: 0;
                position: absolute;
                text-align: center;
                top: 0;
                width: 100vw;
                z-index: 100;
            }

            paper-spinner[active] {
                height: 50px;
                margin: auto;
                top: calc(50% - 25px);
                width: 50px;
            }

            .card-header {
                @apply(--paper-font-headline);
                background-color: var(--paper-blue-grey-900);
                padding: 16px;
                font-size: 24px;
                font-weight: 400;
                color: #eceff1;
            }

            .localepicker {
                float: right;
            }

            .localepicker paper-button {
                padding: 0;
                /*width: 50px;*/
                color: var(--paper-blue-grey-300);
                min-width: 0px;
                font-size: 20px;
                font-weight: 300;
            }

            .localepicker paper-button:hover {
                color: #FFF;
                -o-transition: .1s;
                -moz-transition: .1s;
                -webkit-transition: .1s;
                transition: .1s;
            }
        </style>

        <api-request
                body="[[ ajax.body ]]"
                method="[[ ajax.method ]]"
                endpoint="[[ ajax.endpoint ]]"
                loading="{{ isLoading }}"
                response="{{ apiResponse }}"></api-request>

        <template is="dom-if" if="[[ isLoading ]]">
            <div class="spinner-container">
                <paper-spinner active="[[ isLoading ]]"></paper-spinner>
            </div>
        </template>

        <template is="dom-if" if="[[ isLoading ]]">
            <div class="spinner-container">
                <paper-spinner active="[[ isLoading ]]"></paper-spinner>
            </div>
        </template>

        <paper-card>
            <div class="card-header">
                <span>Login</span>
                <span class="localepicker">
                    <paper-button style="float:right" on-tap="initSwitchLocale">{{ language }}</paper-button>
                    <paper-tooltip offset="5">{{localize('logincard_locale button tooltip')}}</paper-tooltip>
                </span>
            </div>
            <div class="card-content">
                <template is="dom-if" if="[[ customWelcomeText ]]">
                    <p><b>Hi, [[ presetName ]]!</b> {{localize('logincard_register success')}}</p>
                </template>
                <template is="dom-if" if="[[ !customWelcomeText ]]">
                    <p>{{localize('logincard_welcome text-1')}} <em>{{localize('c_medientechnik')}}</em>{{localize('logincard_welcome text-2')}}</p>
                </template>
                <paper-input
                        label="E-Mail"
                        type="email"
                        value="{{ userInput.email }}"
                        on-keydown="_onEnterFireLoginRequest"></paper-input>
                <paper-input
                        label="{{localize('logincard_password placeholder')}}"
                        type="password"
                        value="{{ userInput.password }}"
                        on-keydown="_onEnterFireLoginRequest"></paper-input>

                <!-- API error message -->
                <p class="error hide" id="apiErrorMessage">
                    {{localize('registrationcard_error')}}
                </p>

            </div>
            <div class="card-actions" style="padding: 20px">
                <paper-button on-tap="_fireLoginRequest">{{localize('logincard_login button')}}</paper-button>
                <p>{{localize('logincard_register text')}} <a href="#/login/register">{{localize('logincard_register button')}}</a></p>
            </div>
        </paper-card>
        <iron-signals on-iron-signal-switchlocale="_switchLocale"></iron-signals>
    </template>

    <script>

        Polymer({

            is: 'login-card',

            properties: {

                language: {
                    value: 'de',
                    type: String
                },

                apiResponse: {
                    type: String,
                    reflectToAttribute: false,
                    observer: '_apiResponseChanged'
                },

                accessToken: {
                    type: String,
                    notify: true
                },

                customWelcomeText: {
                    type: Boolean,
                    value: false
                },

                isLoading: {
                    type: Boolean,
                    value: false
                },

                loggedIn: {
                    type: Boolean,
                    notify: true
                },

                presetEmail: {
                    type: String,
                    notify: true,
                    observer: '_presetChanged'
                },

                presetName: {
                    type: String,
                    notify: true,
                    observer: '_presetChanged'
                },

                userId: {
                    type: String,
                    notify: true
                },

                userInput: {
                    type: Object,
                    value: {
                        email: "",
                        password: ""
                    }
                }

            },

            /**
             * Localization setup
             */
            behaviors: [
                Polymer.AppLocalizeBehavior
            ],
            attached: function () {
                this.loadResources(this.resolveUrl('../shared/locales.json'));
            },
            _switchLocale: function () {
                this.language = (this.language == 'en') ? 'de' : 'en';
            },

            _apiResponseChanged: function (response) {

                if (response.type == 'error') {

                    this.$.apiErrorMessage.setAttribute('class', 'error');

                } else if (response.type == 'response') {

                    var jsonResponse = response.data;

                    // Save session info to cookies
                    var expires = new Date();
                    expires.setTime(expires.getTime() + (jsonResponse.ttl * 1000));
                    document.cookie = 'mt-api-accesstoken=' + jsonResponse.id + ';expires=' + expires.toUTCString() + ';';
                    document.cookie = "mt-api-userid=" + jsonResponse.userId + ';expires=' + expires.toUTCString() + ';';

                    // Set global session properties
                    this.set('accessToken', jsonResponse.id);
                    this.set('userId', jsonResponse.userId);
                    this.set('loggedIn', true);
                    this.set('presetEmail', '');
                    this.set('presetName', '');
                    this.customWelcomeText = false;

                }
            },

            /**
             * Callback fired when user clicks submit button. Sets a property
             * `ajax` containing information for login API call
             * @private
             */
            _fireLoginRequest: function () {
                this.ajax = {
                    body: {
                        email: this.userInput.email,
                        password: this.userInput.password
                    },
                    method: 'POST',
                    endpoint: '/platformusers/login'
                };

                // Reset input fields (in case of immediate logout users
                // should not have the impression we saved their credentials)
                this.set('userInput.email', '');
                this.set('userInput.password', '');
            },

            _onEnterFireLoginRequest: function (event) {

                if (event.keyCode === 13) {
                    this._fireLoginRequest();
                }

            },

            _presetChanged: function () {

                if (this.presetEmail != '' && this.presetName != '') {

                    this.set('userInput.email', this.presetEmail);
                    this.customWelcomeText = true;

                }
            },

            initSwitchLocale: function(e) {
                this.fire("iron-signal", {name: "switchlocale"});
            }

        });

    </script>

</dom-module>
