<link rel="import" href="../shared/shared-styles.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">

<dom-module id="navigation-bar">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
            .nav-container {
                border-bottom: #BBB solid 3px;
                background: var(--paper-blue-grey-100);
                height: 70px;
            }
            .configuration{
                float: left;
            }
            .notification{
                float:right;
            }
            .icon{
                display: block;
                margin: auto;
                width: 100px;
                z-index: 1;
            }
            paper-icon-button {
                margin: 5%;
                color: var(--paper-blue-grey-900);
            }
            .notification a {
                text-decoration: none;
            }
            .notification paper-button {
                background: none;
                min-width: 0;
                margin: 0;
                padding: 0;
                color: var(--paper-blue-grey-900);
            }
            .notification paper-button:hover, paper-icon-button:hover {
                color: var(--paper-blue-grey-500);
                -o-transition: .1s;
                -moz-transition: .1s;
                -webkit-transition: .1s;
                transition: .1s;
            }

            .active-language {
                text-decoration: underline !important;
            }
        </style>

        <api-request
                headers="[[ ajax.headers ]]"
                method="[[ ajax.method ]]"
                endpoint="[[ ajax.endpoint ]]"
                response="{{ apiResponse }}"></api-request>

        <app-toolbar class="nav-container">
            <div class="configuration nav-block">
                <paper-icon-button icon="icons:exit-to-app" on-tap="_fireLogoutRequest"></paper-icon-button>
                <paper-tooltip>Logout</paper-tooltip>
            </div>
            <div class="icon nav-block">
                <img src="../../images/mt.svg">
            </div>
            <div class="notification  nav-block">
                <paper-button style="float:right" on-click="initSwitchLocale">{{ language }}</paper-button>
                <paper-tooltip offset="5">{{localize('logincard_locale button tooltip')}}</paper-tooltip>

            </div>
            <div class="notification  nav-block">
                <paper-icon-button class="mobile-and-tablet-only" icon="social:notifications" on-tap="toggleNotificationList"></paper-icon-button>
            </div>
        </app-toolbar>
        <iron-signals on-iron-signal-switchlocale="_switchLocale"></iron-signals>
    </template>

    <script>
        Polymer({

            is: 'navigation-bar',

            properties: {

                apiResponse: {
                    type: String,
                    reflectToAttribute: false,
                    observer: '_apiResponseChanged'
                },

                accessToken: {
                    type: String,
                    notify: true
                },

                group: {
                    type: Object,
                    notify: true,
                    value: {}
                },

                loggedIn: {
                    type: Boolean,
                    notify: true
                },

                userId: {
                    type: String,
                    notify: true
                },

                user: {
                    type: Object,
                    notify: true,
                    value: {}
                },

                show: {
                    type: Boolean,
                    value: false,
                    notify: true
                },

                language: {
                    type: String,
                    value: 'de'
                }
            },

            /**
             * Localization setup
             */
            behaviors: [
                Polymer.AppLocalizeBehavior
            ],
            attached: function() {
                this.loadResources(this.resolveUrl('../shared/locales.json'));
            },
            _switchLocale: function() {
                this.language = (this.language == 'en') ? 'de' : 'en';
            },

            /**
             * Toggle notifications display on button tap
             */
            toggleNotificationList: function() {
                var screenwidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
                if (screenwidth < 1023)
                    this.show = !this.show;
            },

            /**
             * Callback fired when logout button is pressed. Sets a property
             * `ajax` containing information for logout API call
             * @private
             */
            _fireLogoutRequest: function () {

                if (this.loggedIn) {
                    this.ajax = {
                        headers: {
                            'Authorization': this.accessToken
                        },
                        method: 'POST',
                        endpoint: '/platformusers/logout'
                    }
                }
            },

            _apiResponseChanged: function (response) {

                if (response.type == 'response') {

                    document.cookie = 'mt-api-accesstoken=; expires=Thu, 01 Jan 1970 00:00:00 UTC';
                    document.cookie = 'mt-api-userid=; expires=Thu, 01 Jan 1970 00:00:00 UTC';

                    this.set('accessToken', '');
                    this.set('userId', '');
                    this.set('loggedIn', false);
                    this.set('user', {});
                    this.set('group', {});

                }

            },
            initSwitchLocale: function(e) {
                this.fire("iron-signal", {name: "switchlocale"});
            }
        });
    </script>
</dom-module>
