<link rel="import" href="../../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../shared/shared-styles.html">

<!--Localization Imports-->
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../services/my-localize-behavior.html">


<dom-module id="notifications-list">
    <template>
        <style  include="shared-styles">

            :host {
                line-height: 1.3em;
            }

            .notifications-scrollarea {
                height: 320px;
                overflow: scroll;
            }

            .notifications-headline-mobile {
                display: none;
            }

            .notifications-none {
                margin: 10px 20px;
            }

            .notifications-actions {
                margin-bottom: -10px;
            }

            .notifications-actions > paper-icon-button {
                float: right;
                margin: 5px;
            }

            .notification {
                background: var(--paper-blue-grey-50);
                border-radius: 5px;
                margin: 10px 10px 0;
                padding: 10px;
            }

            .notification:hover {
                cursor: pointer;
            }

            .notification-detail {
                margin: 10px 15px;
            }

            span.notification-time {
                color: var(--paper-blue-grey-400);
                float: right;
                font-size: 0.7em;
                margin: 5px 0 0 10px;
            }

            h4.notification-title {
                display: inline-block;
                font-weight: 400;
                margin: 0;
            }

            .dialogButton {
                height: 40px;
                margin: 0 0.29em;
                max-width: 200px;
                min-width: 100px;
                width: 49.8%;
            }

            paper-dialog {
                z-index: 1000;
            }

            paper-dialog h3 {
                font-weight: 400;
                margin-bottom: 0;
            }

            .spinner-container {
                background-color: rgba(255,255,255,0.8);
                display: block;
                height: 100%;
                left: 0;
                margin: 0 !important;
                padding: 0 !important;
                position: absolute;
                text-align: center;
                top: 0;
                width: 100%;
                z-index: 100000;
            }

            paper-spinner[active] {
                height: 50px;
                margin: auto;
                top: calc(50% - 25px);
                width: 50px;
            }

            @media screen and (max-width: 1023px) {
                .notifications-scrollarea {
                    height: 100vh;
                }
                .notifications-wrapper {
                    background: var(--paper-blue-grey-300);
                    padding-bottom: 10px;
                    padding-top: 110px;
                }
                .notifications-headline-mobile {
                    display: block;
                }
                .notifications-none {
                    margin: 10px;
                }
                .notification {
                    background: var(--paper-blue-grey-100);
                }
            }

        </style>

        <!-- NEW DATE DIALOG -->
        <paper-dialog id="addDateDialog">

            <h1>[[ localize('notifications_add_date') ]]</h1>

            <p>[[ localize('notifications_dialog_description') ]]</p>

            <!-- Dialog content -->
            <paper-dialog-scrollable>

                <paper-input label="[[ localize('notifications_date_title') ]]"
                             value="{{ dialogTitle }}"></paper-input>

                <h3>[[ localize('notifications_date_start') ]]</h3>

                <!-- Date and time -->
                <paper-date-picker
                        id="picker"
                        date="{{ dialogDate }}"
                        responsive-width="630px"></paper-date-picker>
                <p><time-picker hour="{{ dialogHours }}" min="{{ dialogMins }}"></time-picker></p>

                <!-- Duration -->
                <paper-input type="number"
                             min="0"
                             label="[[ localize('semester_setup_dates_duration') ]]"
                             value="{{ dialogDuration }}">
                    <div suffix>[[ localize('c_minutes') ]]</div>
                </paper-input>

                <!-- Location -->
                <paper-input label="[[ localize('semester_setup_dates_location') ]]"
                             value="{{ dialogLocation }}"></paper-input>

            </paper-dialog-scrollable>

            <!-- Actions -->
            <div class="buttons">
                <paper-button class="dialogButton" on-tap="_dialogCancelled" raised>
                    <iron-icon icon="close" ></iron-icon> [[localize('c_button_discard')]]
                </paper-button>
                <paper-button class="dialogButton" on-tap="_triggerDateCreation" raised>
                    <iron-icon icon="save" ></iron-icon> [[localize('c_button_add')]]
                </paper-button>
            </div>

            <template is="dom-if" if="[[ processingRequest ]]">
                <div class="spinner-container">
                    <paper-spinner active="[[ processingRequest ]]"></paper-spinner>
                </div>
            </template>
        </paper-dialog>

        <!-- UPCOMING DATES LIST -->
        <div class="notifications-scrollarea">

            <div class="notifications-wrapper">

                <h2 class="notifications-headline-mobile">[[ localize('notifications_header') ]]</h2>

                <template is="dom-if" if="[[datesAvailable]]">
                    <template is="dom-repeat" items="[[ dates ]]" as="date">
                        <div class="notification" data-index$="[[index]]" on-tap="_toggleNotificationDetail">
                            <template is="dom-if" if="[[user.isAdmin]]">
                                <paper-icon-button icon="delete" id="remove-[[index]]"></paper-icon-button>
                                <paper-tooltip for="remove-[[index]]"
                                               animation-delay="0">[[ localize('notifications_delete_date') ]]</paper-tooltip>
                            </template>
                            <h4 class="notification-title">[[ date.title ]]</h4>
                            <span class="notification-time">[[ date.remainingLabel ]]</span>
                            <div style="clear:both;"></div>
                        </div>
                        <iron-collapse id="collapse-[[index]]">
                            <div class="notification-detail">
                                <p>Date: [[date.date]]</p>
                                <p>Location: [[date.location]]</p>
                            </div>
                        </iron-collapse>
                    </template>
                </template>

                <template is="dom-if" if="[[!datesAvailable]]">
                    <p class="notifications-none">[[ localize('notifications_none') ]]</p>
                </template>

                <template is="dom-if" if="[[user.isAdmin]]">
                    <div class="notifications-actions">
                        <paper-icon-button icon="add" id="add-date" on-tap="_openDialog"></paper-icon-button>
                        <paper-tooltip for="add-date"
                                       animation-delay="0">[[ localize('notifications_add_date') ]]</paper-tooltip>
                        <div style="clear:both;"></div>
                    </div>
                </template>
            </div>

        </div>

        <template is="dom-if" if="[[ processingRequest ]]">
            <div class="spinner-container">
                <paper-spinner active="[[ processingRequest ]]"></paper-spinner>
            </div>
        </template>

        <!-- Getting dates -->
        <api-request method="[[getAjax.method]]"
                     headers="[[getAjax.headers]]"
                     endpoint="[[getAjax.endpoint]]"
                     semester-filter="[[getAjax.semesterId]]"
                     on-api-response="_receivedDates"
                     on-api-error="_receivedDatesError"
                     loading="{{processingRequest}}"></api-request>

        <!--Iron Signal for Localization-->
        <iron-signals on-iron-signal-language="changeLanguage"></iron-signals>

    </template>

    <script>
        Polymer({
            is: 'notifications-list',

            properties: {

                /* API data */
                accessToken: {
                    type: String },
                processingRequest: {
                    type: Boolean,
                    value: false },
                selectedSemester: {
                    type: String,
                    observer: '_selectedSemesterChanged' },
                user: {
                    type: Object,
                    value: {},
                    observer: '_userChanged' },

                /* Display data */
                dates: {
                    type: Array,
                    value: []},
                datesAvailable: {
                    type: Boolean,
                    computed: '_datesAvailable(dates)' },

                /* Dialog input */
                dialogTitle: {
                    type: String,
                    value: '' },
                dialogDate: {
                    type: Date,
                    value: new Date() },
                dialogHours: {
                    type: Number,
                    value: 8 },
                dialogMins: {
                    type: Number,
                    value: 0 },
                dialogDuration: {
                    type: Number,
                    value: 90 },
                dialogLocation: {
                    type: String,
                    value: '' }
            },

            behaviors: [
                Polymer.MyLocalizeBehavior
            ],

            /** API Logic **/

            _selectedSemesterChanged: function (semesterId) {

                this.getAjax = {
                    headers: {
                        Authorization: this.accessToken
                    },
                    endpoint: '/uniquedates',
                    method: 'GET',
                    semesterId: semesterId
                };
            },

            _userChanged: function (user) {
                if (user && !user.isAdmin) {
                    this.selectedSemester = user.semesterId;
                }
            },

            _receivedDates: function (event) {
                var that = this;
                var receivedDates = event.detail;
                var futureDates = receivedDates.filter(function(date){
                    var now = new Date();
                    var then = new Date(date.date);
                    return ((then.getTime() - now.getTime()) > 0);
                });
                futureDates.sort(function(a,b){
                    return new Date(a.date).getTime() - new Date(b.date).getTime();
                });
                this.dates = futureDates.map(function(date){
                    return {
                        title: date.name,
                        location: date.location,
                        date: that._computeDateString(new Date(date.date), date.duration),
                        remainingLabel: that._computeRemainingDayString(date.date)
                    };
                });
            },

            _receivedDatesError: function (event) {
                console.log("error");
                console.log(event);
            },

            /** UI Logic **/

            _openDialog: function () {
                this.$.addDateDialog.open();
            },

            _dialogCancelled: function () {
                this.$.addDateDialog.close();
                this.dialogTitle = '';
                this.dialogDate = new Date();
                this.dialogHours = 8;
                this.dialogMins = 0;
                this.dialogDuration = 90;
                this.dialogLocation = '';
            },

            _triggerDateCreation: function () {
                this.$.addDateDialog.close();
            },

            _toggleNotificationDetail: function (event) {
                var searchHead = 0, target = event.path[searchHead];
                while (!target.hasAttribute('data-index')) {
                    searchHead++;
                    target = event.path[searchHead];
                }
                var targetIndex = target.getAttribute('data-index');
                this.$$('#collapse-'+targetIndex).toggle();
            },

            /** Property computers **/

            _datesAvailable: function (dates) {
                return dates.length > 0;
            },

            /** Helpers **/

            _computeRemainingDayString: function (dateString) {

                const ONE_DAY_IN_MILLISECONDS = 86400000;

                var date = new Date(dateString);
                var now = new Date();
                var endOfDay = new Date();
                endOfDay.setHours(25);
                endOfDay.setMinutes(0);
                endOfDay.setSeconds(0);
                endOfDay.setMilliseconds(0);

                var diffToEndOfDay = date.getTime() - endOfDay.getTime();
                var diffToNow = date.getTime() - now.getTime();

                // Date lies in the past
                if (diffToEndOfDay < 0 && diffToNow < 0) {
                    return 'vorbei';
                }
                // Date is today in the future
                if (diffToEndOfDay < 0) {
                    return 'in '+Math.floor(diffToNow/3600000)+' Stunden';
                }
                // Date is tomorrow
                if (diffToEndOfDay < ONE_DAY_IN_MILLISECONDS) {
                    return 'morgen';
                }
                return 'in '+Math.ceil(diffToEndOfDay / ONE_DAY_IN_MILLISECONDS)+' Tagen';
            },

            _computeTimeString: function (milliseconds) {
                var date = new Date(milliseconds);
                var hours = date.getHours();
                var mins = date.getMinutes();
                return ((hours < 10) ? '0'+hours : hours) + ':' + ((mins < 10) ? '0'+mins : mins);
            },

            _computeDateString: function (startDate, durationMins) {
                var dayString = (startDate.getDate() < 10) ? '0'+startDate.getDate() : startDate.getDate();
                var monthString = (startDate.getMonth() < 9) ? '0'+(startDate.getMonth()+1) : startDate.getMonth();
                var msStart = startDate.getTime();
                var msEnd = msStart + (durationMins * 60 * 1000);
                return dayString + '.' + monthString + '.' + startDate.getUTCFullYear() + ', '
                       + this._computeTimeString(msStart) + ' - ' + this._computeTimeString(msEnd);
            }
        });
    </script>
</dom-module>
