<link rel="import" href="../shared/shared-styles.html">

<!--Localization Imports-->
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../services/my-localize-behavior.html">

<dom-module is="notifications-card">

    <template>

        <style include="shared-styles">

            /*Notification Styles*/
            :host {
                display: none;
                visibility: hidden;
            }

            .spinner-container {
                 background-color: rgba(255,255,255,0.8);
                 display: block;
                 height: 100%;
                 left: 0;
                 margin: 0 !important;
                 padding: 0 !important;
                 position: absolute;
                 text-align: center;
                 top: 0;
                 width: 100%;
                 z-index: 100000;
            }

            paper-spinner[active] {
                height: 50px;
                margin: auto;
                top: calc(50% - 25px);
                width: 50px;
            }

            /*Desktop*/
            @media screen and (min-width: 1024px) {
                :host {
                    display: inline;
                    visibility: visible;
                    float: right;
                    margin: 15px 10px;
                    width: calc(30% - 20px);
                    height: 370px;
                    background-color: var(--paper-blue-grey-100);
                }
                .notifications-header {
                    background-color: var(--paper-blue-grey-500);
                    height: 50px;
                    line-height: 50px;
                    padding: 0 20px;
                    color: var(--paper-blue-grey-50);
                    border-bottom: 1px solid var(--paper-blue-grey-900);
                }

                .notifications-header > iron-icon{
                    float: right;
                    height: 32px;
                    width: 32px;
                    margin: 9px 0;
                }
            }

        </style>

        <div class="notifications-header">
            [[ localize('notifications_header') ]]
            <iron-icon src="../../images/notifications.svg"></iron-icon>
        </div>
        <notifications-list access-token="[[accessToken]]"
                            selected-semester="[[selectedSemester]]"
                            user="[[user]]"></notifications-list>

        <template is="dom-if" if="[[ processingRequest ]]">
            <div class="spinner-container">
                <paper-spinner active="[[ processingRequest ]]"></paper-spinner>
            </div>
        </template>

        <!--Iron Signal for Localization-->
        <iron-signals on-iron-signal-language="changeLanguage"></iron-signals>

    </template>

    <script>

        Polymer({
            is: 'notifications-card',

            properties: {

                accessToken: {
                    type: String },

                processingRequest: {
                    type: Boolean,
                    value: false
                },

                selectedSemester: {
                    type: String },

                user: {
                    type: Object,
                    value: {}
                }
            },

            behaviors: [
                Polymer.MyLocalizeBehavior
            ]
        });

    </script>

</dom-module>