<link rel="import" href="../shared/shared-styles.html">

<!--Localization Imports-->
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../services/my-localize-behavior.html">


<dom-module id="notifications-card">
    <template>
        <style  include="shared-styles">
            hr {
                margin: 0;
            }
            .notificationlist_container {
                color: black;
                background: #FFFFFF;
                margin-top: 15px;
                margin-left: 5px;
                border-left: 5px solid var(--paper-orange-400);
            }
            .notification_item {
                font-size: 14px;
                margin: 2px;
                border-radius: 2px;
                padding: 10px;
                border-bottom: 1px solid var(--paper-grey-300);
            }
            .notification_item:last-child {
                border-bottom: none;
            }
            .notification_noitems {
                border-left-color: var(--paper-blue-grey-400);

            }
            .notification_noitems .notification_item {
                color: var(--paper-blue-grey-300);
            }

            .date{
                font-size: 12px;
                color: var(--paper-grey-500);
                float: right;
            }

        </style>


        <div class="notificationlist_container notification_noitems">
            <!--
            <div class="notification_item">
                <span class="text">
                Die Gruppenzuteilung ist jetzt freigeschalten! Trage dich jetzt in eine Gruppe ein, damit du
                zusammen mit deinen Freunden arbeiten kannst und nicht mit irgendwelchen random Leuten
                was machen musst! Das wäre doch blöd... </span>
                <span class="date">vor 10 Minuten</span>
            </div>
            <div class="notification_item">
                <span>Die Terminwahl ist jetzt freigeschalten!</span>
                <span class="date">gestern</span>
            </div>
            <div class="notification_item">
                hallo
                <span class="date">01.01.2001</span>
            </div>
            -->
            <h1>[[length]]</h1>

            <template is="dom-repeat" items="[[notifications]]">
                <div class="notification_item">
                    <span class="text">[[item.text]]</span>
                    <span class="date">[[item.date]]</span>
                </div>
            </template>
            <template is="dom-if" if="!{{length}}">
                <div class="notification_item">
                    <span class="text">{{localize('notifications-card none')}}</span>
                </div>
            </template>

            <!--Iron Signal for Localization-->
            <iron-signals on-iron-signal-language="changeLanguage"></iron-signals>


        </div>
    </template>

    <script>
      Polymer({

        is: 'notifications-card',

        properties: {
          notifications: {
              type: Array
          },
          length:{
              computed: '_computeLength(notifications)'
          }
        },
          behaviors: [
              Polymer.MyLocalizeBehavior
          ],
          _computeLength: function (notifications) {
             // this.set('noNotifications',notifications.length<=0);
              return notifications.length;
          }
      });
    </script>
</dom-module>
