<link rel="import" href="../../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../shared/shared-styles.html">

<!--Localization Imports-->
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../services/my-localize-behavior.html">

<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">

<dom-module id="notifications-list">
    <template>
        <style  include="shared-styles">

            :host {
                line-height: 1.3em;
            }

            .notifications-scrollarea {
                height: 320px;
                overflow: scroll;
            }

            .notifications-headline-mobile {
                display: none;
            }

            .notifications-none {
                margin: 10px 20px;
            }

            .notifications-actions {
                margin-bottom: -10px;
            }

            .notifications-actions > paper-icon-button {
                float: right;
                margin: 5px;
            }

            .notification {
                background: var(--paper-blue-grey-50);
                border-radius: 5px;
                margin: 10px 10px 0;
                padding: 10px;
            }

            .notification:hover {
                cursor: pointer;
            }

            .notification-detail {
                margin: 10px 15px;
            }

            span.notification-time {
                color: var(--paper-blue-grey-400);
                float: right;
                font-size: 0.7em;
                margin: 5px 0 0 10px;
            }

            h4.notification-title {
                display: inline-block;
                font-weight: 400;
                margin: 0;
            }

            .dialogButton {
                height: 40px;
                margin: 0 0.29em;
                max-width: 200px;
                min-width: 100px;
                width: 49.8%;
            }

            paper-dialog {
                z-index: 1000;
            }

            paper-dialog h3 {
                font-weight: 400;
                margin-bottom: 0;
            }

            .spinner-container {
                background-color: rgba(255,255,255,0.8);
                display: block;
                height: 100%;
                left: 0;
                margin: 0 !important;
                padding: 0 !important;
                position: absolute;
                text-align: center;
                top: 0;
                width: 100%;
                z-index: 100000;
            }

            paper-spinner[active] {
                height: 50px;
                margin: auto;
                top: calc(50% - 25px);
                width: 50px;
            }

            #errorToast {
                --paper-toast-background-color: var(--paper-red-400);
                --paper-toast-color: var(--paper-blue-grey-900);
            }

            @media screen and (max-width: 1023px) {
                .notifications-scrollarea {
                    height: 100vh;
                }
                .notifications-wrapper {
                    background: var(--paper-blue-grey-300);
                    padding-bottom: 10px;
                    padding-top: 110px;
                }
                .notifications-headline-mobile {
                    display: block;
                }
                .notifications-none {
                    margin: 10px;
                }
                .notification {
                    background: var(--paper-blue-grey-100);
                }
            }

        </style>

        <!-- NEW DATE DIALOG -->
        <paper-dialog id="addDateDialog">

            <h1>[[ localize('notifications_add_date') ]]</h1>

            <p>[[ localize('notifications_dialog_description') ]]</p>

            <!-- Dialog content -->
            <paper-dialog-scrollable>

                <paper-input label="[[ localize('notifications_date_title') ]]"
                             value="{{ dialogTitle }}"></paper-input>

                <h3>[[ localize('notifications_date_start') ]]</h3>

                <!-- Date and time -->
                <paper-date-picker
                        id="picker"
                        date="{{ dialogDate }}"
                        responsive-width="630px"></paper-date-picker>
                <p><time-picker hour="{{ dialogHours }}" min="{{ dialogMins }}"></time-picker></p>

                <!-- Duration -->
                <paper-input type="number"
                             min="0"
                             label="[[ localize('semester_setup_dates_duration') ]]"
                             value="{{ dialogDuration }}">
                    <div suffix>[[ localize('c_minutes') ]]</div>
                </paper-input>

                <!-- Location -->
                <paper-input label="[[ localize('semester_setup_dates_location') ]]"
                             value="{{ dialogLocation }}"></paper-input>

            </paper-dialog-scrollable>

            <!-- Actions -->
            <div class="buttons">
                <paper-button class="dialogButton" on-tap="_discardDialog" raised>
                    <iron-icon icon="close" ></iron-icon> [[localize('c_button_discard')]]
                </paper-button>
                <paper-button class="dialogButton" on-tap="_triggerDateCreation" raised>
                    <iron-icon icon="save" ></iron-icon> [[localize('c_button_add')]]
                </paper-button>
            </div>

            <template is="dom-if" if="[[ processingPostRequest ]]">
                <div class="spinner-container">
                    <paper-spinner active="[[ processingPostRequest ]]"></paper-spinner>
                </div>
            </template>
        </paper-dialog>

        <!-- UPCOMING DATES LIST -->
        <div class="notifications-scrollarea">

            <div class="notifications-wrapper">

                <h2 class="notifications-headline-mobile">[[ localize('notifications_header') ]]</h2>

                <template is="dom-if" if="[[datesAvailable]]">
                    <template is="dom-repeat" items="[[ dates ]]" as="date">
                        <!-- Date list item -->
                        <div class="notification" data-index$="[[index]]" on-tap="_toggleNotificationDetail">
                            <template is="dom-if" if="[[user.isAdmin]]">
                                <paper-icon-button icon="delete"
                                                   id="remove-[[index]]"
                                                   on-tap="_triggerDeleteRequest"></paper-icon-button>
                                <paper-tooltip for="remove-[[index]]"
                                               animation-delay="0">[[ localize('notifications_delete_date') ]]</paper-tooltip>
                            </template>
                            <h4 class="notification-title">[[ date.title ]]</h4>
                            <span class="notification-time">[[ date.remainingLabel ]]</span>
                            <div style="clear:both;"></div>
                        </div>
                        <!-- Date detail -->
                        <iron-collapse id="collapse-[[index]]">
                            <div class="notification-detail">
                                <p><strong>[[ localize('notifications_detail_date') ]]</strong> [[date.date]]</p>
                                <p><strong>[[ localize('notifications_detail_location') ]]</strong> [[date.location]]</p>
                            </div>
                        </iron-collapse>
                    </template>
                </template>

                <template is="dom-if" if="[[!datesAvailable]]">
                    <p class="notifications-none">[[ localize('notifications_none') ]]</p>
                </template>

                <template is="dom-if" if="[[user.isAdmin]]">
                    <div class="notifications-actions">
                        <paper-icon-button icon="add" id="add-date" on-tap="_openDialog"></paper-icon-button>
                        <paper-tooltip for="add-date"
                                       animation-delay="0">[[ localize('notifications_add_date') ]]</paper-tooltip>
                        <div style="clear:both;"></div>
                    </div>
                </template>
            </div>

        </div>

        <template is="dom-if" if="[[ processingRequest ]]">
            <div class="spinner-container">
                <paper-spinner active="[[ processingRequest ]]"></paper-spinner>
            </div>
        </template>

        <paper-toast id="errorToast" text="[[localize('notifications_api_error')]]"></paper-toast>
        <paper-toast id="postSuccessToast" text="[[localize('notifications_api_success_post')]]"></paper-toast>
        <paper-toast id="deleteSuccessToast" text="[[localize('notifications_api_success_delete')]]"></paper-toast>

        <!-- Getting dates -->
        <api-request method="[[getAjax.method]]"
                     headers="[[getAjax.headers]]"
                     endpoint="[[getAjax.endpoint]]"
                     semester-filter="[[getAjax.semesterId]]"
                     on-api-response="_receivedDates"
                     on-api-error="_receivedDatesError"
                     loading="{{processingRequest}}"
                     id="getRequest"></api-request>

        <!-- Posting dates -->
        <api-request method="[[postAjax.method]]"
                     body="[[postAjax.body]]"
                     headers="[[postAjax.headers]]"
                     endpoint="[[postAjax.endpoint]]"
                     on-api-response="_postSuccess"
                     on-api-error="_postError"
                     loading="{{processingPostRequest}}"
                     id="postRequest"></api-request>

        <!-- Deleting dates -->
        <api-request method="[[deleteAjax.method]]"
                     headers="[[deleteAjax.headers]]"
                     endpoint="[[deleteAjax.endpoint]]"
                     on-api-response="_deleteSuccess"
                     on-api-error="_deleteError"
                     loading="{{processingRequest}}"
                     id="deleteRequest"></api-request>

        <!--Iron Signal for Localization-->
        <iron-signals on-iron-signal-language="changeLanguage"></iron-signals>
        <iron-signals on-iron-signal-language="_updateRemainingLabels"></iron-signals>
        <!-- Iron signal for synchronisation of notification list instances -->
        <iron-signals on-iron-signal-update-notifications="reload"></iron-signals>
        <!--Iron Signal Fired on Logout-->
        <iron-signals on-iron-signal-forget="_forget"></iron-signals>

    </template>

    <script>
        Polymer({
            is: 'notifications-list',

            properties: {

                /* API data */
                accessToken: {
                    type: String },
                processingRequest: {
                    type: Boolean,
                    value: false },
                processingPostRequest: {
                    type: Boolean,
                    value: false },
                selectedSemester: {
                    type: String,
                    observer: '_selectedSemesterChanged' },
                user: {
                    type: Object,
                    value: {},
                    observer: '_userChanged' },

                /* Display data */
                dates: {
                    type: Array,
                    value: []},
                datesAvailable: {
                    type: Boolean,
                    computed: '_datesAvailable(dates)' },

                /* Dialog input */
                dialogTitle: {
                    type: String,
                    value: '' },
                dialogDate: {
                    type: Date,
                    value: new Date() },
                dialogHours: {
                    type: Number,
                    value: 8 },
                dialogMins: {
                    type: Number,
                    value: 0 },
                dialogDuration: {
                    type: Number,
                    value: 90 },
                dialogLocation: {
                    type: String,
                    value: '' }
            },

            behaviors: [
                Polymer.MyLocalizeBehavior
            ],

            reload: function () {
                this.$.getRequest.trigger();
            },

            /** * * * * * * * * * **/
            /** * * API Logic * * **/
            /** * * * * * * * * * **/

            /**
             * On every semester change reload list data
             */
            _selectedSemesterChanged: function (semesterId) {

                this.getAjax = {
                    headers: {
                        Authorization: this.accessToken
                    },
                    endpoint: '/uniquedates',
                    method: 'GET',
                    semesterId: semesterId
                };
            },

            /**
             * If a new user is not an admin, take his semesterId for
             * filtering of dates
             */
            _userChanged: function (user) {
                if (user && !user.isAdmin) {
                    this.selectedSemester = user.semesterId;
                }
            },

            /**
             * Filter and sort dates that were received from API:
             * We only need dates in the futures and we want to
             * display them sorted ascending by their beginning
             */
            _receivedDates: function (event) {
                var that = this;
                var receivedDates = event.detail;
                var futureDates = receivedDates.filter(function(date){
                    var now = new Date();
                    var then = new Date(date.date);
                    return ((then.getTime() - now.getTime()) > 0);
                });
                futureDates.sort(function(a,b){
                    return new Date(a.date).getTime() - new Date(b.date).getTime();
                });
                this.dates = futureDates.map(function(date){
                    return {
                        id: date.id,
                        title: date.name,
                        location: date.location,
                        date: that._computeDateString(new Date(date.date), date.duration),
                        dateString: date.date,
                        remainingLabel: that._computeRemainingDayString(date.date)
                    };
                });
            },

            /**
             * Error handler for GET request
             */
            _receivedDatesError: function (event) {
                console.log(event);
            },

            /**
             * Generate a new POST request to the API from data
             * entered in the paper-dialog, and fire request
             */
            _triggerDateCreation: function () {
                var postDate = this.dialogDate;
                postDate.setHours(this.dialogHours);
                postDate.setMinutes(this.dialogMins);
                this.postAjax = {
                    body: {
                        name: this.dialogTitle,
                        date: postDate,
                        location: this.dialogLocation,
                        duration: this.dialogDuration,
                        semesterId: this.selectedSemester
                    },
                    endpoint: '/uniquedates/',
                    headers: {
                        Authorization: this.accessToken
                    },
                    method: 'POST'
                };
            },

            /**
             * On successful POST notify all other instances about
             * the neccessary update and display a message
             */
            _postSuccess: function (event) {
                this._discardDialog();
                this.fire('iron-signal', {name: 'update-notifications'});
                this.$.postSuccessToast.open();
            },

            /**
             * Error handler for POST request
             */
            _postError: function (event) {
                this.$.errorToast.open();
            },

            /**
             * Generate a DELETE request for a specific date. Fetch date
             * by parsing the id attribute of the click event's target element
             */
            _triggerDeleteRequest: function (event) {
                // If user hits just the button and not the iron-icon inside of it,
                // this is the correct id
                var id = event.path[0].getAttribute('id');
                if (id == 'icon') {
                    // User has hit the icon, therefore we need the id of the
                    // icon's ancestor paper-icon-button
                    id = event.path[2].getAttribute('id');
                }
                var index = id.split('remove-')[1];
                var objectId = this.dates[index].id;
                this.deleteAjax = {
                    endpoint: '/uniquedates/'+objectId,
                    method: 'DELETE',
                    headers: {
                        Authorization: this.accessToken
                    }
                }
            },

            /**
             * On sucessful DELETE, notify all other instances of neccessary
             * update and display a message
             */
            _deleteSuccess: function (event) {
                this.fire('iron-signal', {name: 'update-notifications'});
                this.$.deleteSuccessToast.open();
            },

            /**
             * Error handler for DELETE request
             */
            _deleteError: function (event) {
                console.log(event);
            },

            /** * * * * * * * * * **/
            /** * *  UI Logic * * **/
            /** * * * * * * * * * **/

            _openDialog: function () {
                this.$.addDateDialog.open();
            },

            _discardDialog: function () {
                this.$.addDateDialog.close();
                this._resetDialog();
            },

            _resetDialog: function () {
                this.dialogTitle = '';
                this.dialogDate = new Date();
                this.dialogHours = 8;
                this.dialogMins = 0;
                this.dialogDuration = 90;
                this.dialogLocation = '';
            },

            /**
             * Open or close one entry in the dates list
             */
            _toggleNotificationDetail: function (event) {
                var searchHead = 0;
                var target = event.path[0];
                while (!target && !target.hasAttribute('data-index')) {
                    searchHead++;
                    target = event.path[searchHead];
                }
                var targetIndex = target.getAttribute('data-index');
                var targetCollapsible = this.$$('#collapse-'+targetIndex);
                if (targetCollapsible) {
                    targetCollapsible.toggle();
                }

            },

            /**
             * Localization workaround: Since we generate remaining time strings
             * in a function, we need to call this function every time the locale
             * changes
             */
            _updateRemainingLabels: function () {
                var that = this;
                this.dates = this.dates.map(function(date){
                    return {
                        id: date.id,
                        title: date.title,
                        location: date.location,
                        date: date.date,
                        dateString: date.dateString,
                        remainingLabel: that._computeRemainingDayString(date.dateString)
                    };
                });
            },

            /** * * * * * * * * * * **/
            /** Property computers  **/
            /** * * * * * * * * * * **/

            _datesAvailable: function (dates) {
                return dates.length > 0;
            },

            /** * * * * * * * * * **/
            /** * * Helpers * * * **/
            /** * * * * * * * * * **/

            /**
             * Generate a string that describes the distance in time from now
             * to a given date.
             *
             * @param dateString - JavaScript dateString compatible with JS Date
             * @returns {string}
             * @private
             */
            _computeRemainingDayString: function (dateString) {

                const ONE_DAY_IN_MILLISECONDS = 86400000;

                var date = new Date(dateString);
                var now = new Date();
                var endOfDay = new Date();
                endOfDay.setHours(25);
                endOfDay.setMinutes(0);
                endOfDay.setSeconds(0);
                endOfDay.setMilliseconds(0);

                var diffToEndOfDay = date.getTime() - endOfDay.getTime();
                var diffToNow = date.getTime() - now.getTime();

                // Date lies in the past
                if (diffToEndOfDay < 0 && diffToNow < 0) {
                    return this.localize('notifications_remaining_passed');
                }
                // Date is today in the future
                if (diffToEndOfDay < 0) {
                    return 'in '+Math.floor(diffToNow/3600000)+' '
                            +this.localize('notifications_remaining_hours');
                }
                // Date is tomorrow
                if (diffToEndOfDay < ONE_DAY_IN_MILLISECONDS) {
                    return this.localize('notifications_remaining_tomorrow');
                }
                return 'in '+Math.ceil(diffToEndOfDay / ONE_DAY_IN_MILLISECONDS)+' '
                        +this.localize('notifications_remaining_days');
            },

            /**
             * Generates a `hh:mm` formatted string from a Unix Timestamp
             *
             * @param milliseconds
             * @returns {string}
             * @private
             */
            _computeTimeString: function (milliseconds) {
                var date = new Date(milliseconds);
                var hours = date.getHours();
                var mins = date.getMinutes();
                return ((hours < 10) ? '0'+hours : hours) + ':' + ((mins < 10) ? '0'+mins : mins);
            },

            /**
             * Generates a `dd.mm.yyyy, hh:mm - hh:mm` formatted string from a
             * given date and duration
             *
             * @param startDate - JavaScript Date object
             * @param durationMins - Integer representing a number of minutes
             * @returns {string}
             * @private
             */
            _computeDateString: function (startDate, durationMins) {
                var dayString = (startDate.getDate() < 10) ? '0'+startDate.getDate() : startDate.getDate();
                var monthString = (startDate.getMonth() < 9) ? '0'+(startDate.getMonth()+1) : startDate.getMonth();
                var msStart = startDate.getTime();
                var msEnd = msStart + (durationMins * 60 * 1000);
                return dayString + '.' + monthString + '.' + startDate.getUTCFullYear() + ', '
                       + this._computeTimeString(msStart) + ' - ' + this._computeTimeString(msEnd);
            },

            /**
             * Reset all relevant values
             */
            _forget: function () {
                this.accessToken = '';
                this.selectedSemester = '';
                this.user = {};
                this.dates = [];
                this._resetDialog();
            }
        });
    </script>
</dom-module>
