<link rel="import" href="../shared/shared-styles.html">

<dom-module id="notifications-card">
    <template>
        <style  include="shared-styles">
            hr {
                margin: 0;
            }
            .notificationlist_container {
                color: black;
                background: #FFFFFF;
                margin-top: 15px;
                margin-left: 5px;
                border-left: 5px solid var(--paper-orange-400);
            }
            .notification_item {
                font-size: 14px;
                margin: 2px;
                border-radius: 2px;
                padding: 10px;
                border-bottom: 1px solid var(--paper-grey-300);
            }
            .notification_item:last-child {
                border-bottom: none;
            }
            .notification_noitems {
                border-left-color: var(--paper-blue-grey-400);

            }
            .notification_noitems .notification_item {
                color: var(--paper-blue-grey-300);
            }

            .date{
                font-size: 12px;
                color: var(--paper-grey-500);
                float: right;
            }

            /* Mobile */
            @media screen and (max-width: 1023px) {
                .notificationlist_container {
                }
            }
            /* Desktop */
            @media screen and (min-width: 1024px) {
                .notificationlist_container {
                    margin: 15px 15px 0 5px;
                    float:right;
                    width: calc(30% - 25px);
                }
            }

        </style>

        <div class="notificationlist_container notification_noitems">
            <!--
            <div class="notification_item">
                <span class="text">
                Die Gruppenzuteilung ist jetzt freigeschalten! Trage dich jetzt in eine Gruppe ein, damit du
                zusammen mit deinen Freunden arbeiten kannst und nicht mit irgendwelchen random Leuten
                was machen musst! Das wäre doch blöd... </span>
                <span class="date">vor 10 Minuten</span>
            </div>
            <div class="notification_item">
                <span>Die Terminwahl ist jetzt freigeschalten!</span>
                <span class="date">gestern</span>
            </div>
            <div class="notification_item">
                hallo
                <span class="date">01.01.2001</span>
            </div>
            -->
            <div class="notification_item">
                <span class="text">{{localize('notifications-card none')}}</span>
            </div>
            <iron-signals on-iron-signal-switchlocale="_switchLocale"></iron-signals>
        </div>
    </template>

    <script>
      Polymer({

        is: 'notifications-card',

        properties: {
          showlist: {
            type: Boolean
          },
          language: {
            value: 'de',
            type: String
          }
        },

        /**
         * Localization setup
         */
        behaviors: [
            Polymer.AppLocalizeBehavior
        ],
        attached: function() {
            this.loadResources(this.resolveUrl('../shared/locales.json'));
        },
        _switchLocale: function() {
            this.language = (this.language == 'en') ? 'de' : 'en';
        }

      });
    </script>
</dom-module>
