<dom-module id="practicals-tutor-date-creator">
    <template>
        <style include="shared-styles">
            :host{

            }
            .date{
                padding: 10px;
                background-color: var(--paper-blue-grey-500);
                color: var(--paper-blue-grey-100);
                font-size: 18px;
            }
            .lab{
                border-style: solid;
                border-width: 1px;
                border-color: var(--paper-blue-grey-100);
            }
            .date-creator{
                margin-top: 20px;
                background-color: var(--paper-blue-grey-50);
                text-align: center;
            }
            #priorityselection{
                background-color: var(--paper-blue-grey-200);
                padding-bottom: 20px;
            }
            #priorityShower{
                visibility: hidden;
                margin-left: 10%;
                color: green;
            }
            .dropdown-content{
                width: 70px;
            }

        </style>
        <div class="date-creator">
            <div class="date">
                [[date]]
            </div>
            <template is="dom-repeat" items="[[timeslots]]" as="lab" >
                <paper-item id="lab" class="lab" on-tap="_handleDateClick">
                    [[_getTimeSlotString(lab)]]
                </paper-item>
            </template>
        </div>
    </template>
    <script>
        Polymer({
            is: 'practicals-tutor-date-creator',
            properties: {
                apiAllLabs: {
                    type: Array,
                    value: []
                },
                timeslots:{
                    type: Array,
                    value: []
                },
                date:{
                    type: String,
                    value: ""
                },
                chosenlabindex:{
                    type: Number
                },
                chosenlabs:{
                    type: Array,
                    value: []
                },
                chosenpriority:{
                    type: Number,
                    value: 0
                },
                chosencounter:{
                    type: Number,
                    value: 0
                },
                recentlab: {
                    type: Object
                },
                recentpriorityselection:{
                    type: Object
                }
            },
            ready: function() {
                this.date = this._getDateString(this.timeslots[0][0]);
                //console.log(this.timeslots);
            },

            /**
             * Creates string from the timeslot-timits to get a nicer visualisation,
             * Adds leading zeros, if necessary
             */
            _getTimeSlotString: function(slot){
                if(slot) {
                        var starthour = slot[0].getHours();
                        var startminute = slot[0].getMinutes();
                        var endhour = slot[1].getHours();
                        var endminute = slot[1].getMinutes();
                        /*
                    * Add zeros, if necessary
                    */

                    if(starthour<10){

                        starthour = "0"+ starthour;
                    }
                    if(startminute<10){
                        startminute = "0"+startminute;
                    }
                    if(endhour<10
                    ){
                        endhour = "0"+endhour;
                    }
                    if(endminute< 10){
                        endminute = "0" +endminute;
                    }

                    return starthour + ":" + startminute + " - " + endhour + ":" + endminute+ " Uhr";
                }
            },

            /**
             * Creates string from the given date
             * @param {String} date - date that will be transformed to String
             */
            _getDateString: function(date){
                var datestring = "";
                switch(date.getDay()){

                    case 0:
                        datestring = "Sonntag, ";
                        break;
                    case 1:
                        datestring = "Montag, ";
                        break;
                    case 2:
                        datestring = "Dienstag, ";
                        break;
                    case 3:
                        datestring = "Mittwoch, ";
                        break;
                    case 4:
                        datestring = "Donnerstag, ";
                        break;
                    case 5:
                        datestring = "Freitag, ";
                        break;
                    case 6:
                        datestring = "Samstag, ";
                        break;
                }
                datestring = datestring+date.getDate()+"."+date.getMonth()+"."+date.getFullYear();
                return datestring;
            },

            /**
             * Click-Event handler
             * Handles the timeslot selection
             * @param {String} e - handle data
             */
            _handleDateClick: function(e){
                this.fire("date-click");

                this.chosenlabindex = e.model.index;
                this.recentlab = e.target;
                //console.log(this.recentlab);

                if(this.recentlab.style.color == 'green'){
                    this.recentlab.style.color = '';
                    this.recentlab.style.backgroundColor = '';
                    var labId = this.apiAllLabs[this.chosenlabindex].id;
                    this.chosenlabs = this.chosenlabs.filter(function(item){
                        //console.log(labId);
                        //console.log(item.id);
                        return item.id != labId;
                    });
                }
                else {
                    this.recentlab.style.color = 'green';
                    this.recentlab.style.backgroundColor = '#CEF6CE';
                    this.chosenlabs.push(this.apiAllLabs[this.chosenlabindex]);
                }
                console.log(this.chosenlabs);
            },

            _checkFilled: function(arrayItem){
                return arrayItem == '';
            },
            /*_getLabFromPaperItem: funtion(paperItem){
                paperItem.innerHTML
            },*/
            /**
             * Checks if given Parameter is 0 and returns true of false
             * @param selector - Given parameter
             * @returns {boolean}
             * @private
             */
            _computeSelector: function(selector){
                var response = true;
                if(selector == 0){
                    response = false;
                }
                return response;
            },
            /**
             * Reset labselection on Button click
             * @private
             */
            _resetSelection: function(){
                this.chosenlabs =[];
                var labs = Polymer.dom(this.root).querySelectorAll("#lab");
                for(j=0; j < labs.length; j++){
                    labs[j].style.color = '';
                    labs[j].style.backgroundColor = '';
                }
            }
        });
    </script>
</dom-module>