<link rel="import" href="../components/practicals-tutor-date-selector.html">
<link rel="import" href="../components/practicals-show-saved-dates.html">

<dom-module id="practicals-tutor-date-detail">
    <template>
        <style include="shared-styles">
            :host {
                #display: block;
            }
            .page{
                #border-radius: 25px;
                margin: 24px;
                background-color: var(--paper-blue-grey-100);
                color: var(--paper-blue-grey-900);
            }
            .tabheader{
                background-color: var(--paper-blue-grey-900);
                font-size: 120%;
                #border-radius: 25px 25px 0px 0px;
                overflow: hidden;
                height: 5vh;
            }
            .tabheaderbuttons{
                color: var(--paper-blue-grey-50);
                text-align: center;
            }
            .backbutton{
                width: 70px;
                --paper-icon-button-ink-color:var(--paper-blue-grey-300);
                padding-right: 30px;
            }
            .content{
                padding: 10px;
            }
            paper-button {
                display: inline-block;
            }
            .info {
                padding: 0 20px 20px 20px;
                font-weight: 100;
                font-size: 14px
            }
        </style>

        <api-request
            headers="[[ ajax_save.headers ]]"
            method="[[ ajax_save.method ]]"
            body="[[ ajax_save.body ]]"
            endpoint="[[ ajax_save.endpoint ]]"
            on-api-response="_responseFromPrioritySave"></api-request>
        <api-request
                headers="[[ ajax_delete.headers ]]"
                method="[[ ajax_delete.method ]]"
                body="[[ ajax_delete.body ]]"
                endpoint="[[ ajax_delete.endpoint ]]"
                on-api-response="_responseFromPriorityDelete"></api-request>

        <div class="content">
            <template is="dom-if" if="[[registration_open]]">
                <!-- Registration Open Bool from Api is true -->
                <template is="dom-if" if="[[before_deadline]]">
                    <template is="dom-if" if="[[!labs_already_chosen]]" >
                        <!-- Deadline is not over, Registration Open and no dates selected; Select your dates!-->
                        <practicals-tutor-date-selector  id="practicalsDateSelector"
                                                   priority="[[priority]]"
                                                   user="[[ user ]]"
                                                   api-all-labs="[[allLabs]]"
                                                   on-save-click="_handleSaveClick"
                                                   on-reset-click="_handleResetClick"></practicals-tutor-date-selector>
                        <paper-button on-tap="_handleBackToDateOveriew"  style="width: 50%"><iron-icon icon="reply"></iron-icon>Zurück zur Übersicht</paper-button>
                    </template>
                    <template is="dom-if" if="[[labs_already_chosen]]">
                        <!-- Deadline is not over, Registration Open and dates selected; Show saved dates!-->
                        <practicals-show-saved-dates id="practicals_show_saved_dates"
                                                     chosenlabs="{{chosenlabs_transformed}}"
                                                     title="Du hast diese Termine ausgewählt:"></practicals-show-saved-dates>
                        <paper-button on-tap="_handleBackToDateOveriew"  style="width: 50%"><iron-icon icon="reply"></iron-icon>Zurück zur Übersicht</paper-button>
                        <paper-button raised class="changeButton" on-tap="_handleChangeClick" style="width: 49%">
                            <iron-icon icon="image:edit"></iron-icon>
                            Auswahl ändern
                        </paper-button>
                    </template>
                </template>
                <template is="dom-if" if="[[!before_deadline]]">
                    <!-- Deadline is over and Registration has been started-->
                    <template is="dom-if" if="[[!practical_dates_exists]]">
                        <!-- Deadline is over, Registration has been started but Practical Date is not given -->
                        <practicals-show-saved-dates
                                chosenlabs="{{chosenlabs_transformed}}"
                                title="Du hast diese Termine ausgewählt:"></practicals-show-saved-dates>
                    </template>
                    <template is="dom-if" if="[[practical_dates_exists]]">
                        <!-- Deadline is over, Registration has been started and Practical Date is given-->
                        <practicals-show-saved-dates
                                chosenlabs="{{practical_dates_transformed}}"
                                title="Das sind deine Praktikumstermine:"></practicals-show-saved-dates>
                    </template>
                    <div class="info">Die Deadline zur Terminwahl wurde bereits erreicht. In Kürze werden dir feste Termine zugeteilt werden.</div>
                    <paper-button on-tap="_handleBackToDateOveriew"  style="width: 50%"><iron-icon icon="reply"></iron-icon>Zurück zur Übersicht</paper-button>

                </template>
            </template>
            <template is="dom-if" if="[[!registration_open]]">
                <!-- Registration Open Bool from Api is false; Registration not opened yet -->
                <div>
                    Die Terminwahl ist noch nicht freigeschalten!
                </div>
            </template>
        </div>

    </template>

    <script>
        Polymer({
            is: 'practicals-tutor-date-detail',
            properties: {
                accessToken: {
                    type: String,
                    notify: true
                },
                before_deadline:{
                    type: Boolean,
                    value: true,
                    computed: '_computeBeforeDeadline(labType)'
                },
                chosenlabs: {
                    type: Array,
                    value: []
                },
                practical_dates:{
                    type: Array,
                    value: [],
                    notify: true
                },
                practical_dates_exists:{
                    type: Boolean
                },
                priority:{
                    type: Number,
                    value: 2
                },
                registration_open:{
                    type: Boolean,
                    value: true
                },
                route: {
                    type: Object,
                    notify: true
                },
                labs_already_chosen:{
                    type: Boolean
                },
                isReady: {
                    type: Boolean,
                    value: false
                },
                group: Object,
                user: Object,
                userId: {
                    type: String
                },
                allLabs: {
                    type: Array,
                    observer: '_allLabsListener'
                },
                possibleLabs: {
                    type: Array,
                    observer: '_setPossibleLabs'
                },
                labType: Object,
                page: {
                    type: String,
                    notify: true
                },
            },
            ready: function () {
                //console.log(this.labType.type_str);
                //console.log(this.user);
                //console.log(this.allLabs);
                //console.log(this.userId);
                this.labs_already_chosen = false;

            },

            _allLabsListener: function(allLabs) {
//                console.log("change")
                this.practical_dates = this._getPracticalDates(this.allLabs);
                this.practical_dates_exists = this._practicalDateExists(this.practical_dates);
                if(this.practical_dates_exists){
                    this.practical_dates_transformed = this._transformLabs(this.practical_dates,false);
                }

                if(!this.practical_dates_exists && (this.allLabs == [] || this.allLabs == null)){
                    this.registration_open = false;
                }
                else{
                    this.registration_open = true;
                }

                if(this.practical_dates_exists && this.before_deadline){
                    console.log("ERROR: Die Praktikumsdaten können nicht vor der Deadline zugewiesen sein. Daten sind hier inkorrekt! LabType: "+this.labType.type_str);
                    console.log("before_deadline wird statisch auf false gesetzt, damit die Anzeige nicht leer ist");
                    this.before_deadline = false;
                }
            },

            _computeBeforeDeadline: function(labType) {
                return this._getBeforeDeadline(this.labType.registration_deadline_tutors);
            },

            /**
             * Back-button click handler
             */
            _backClicked: function(e) {
                this.fire("back-click");
            },

            /**
             * Get tutors possibleLabs from API (labs where chosen by tutor)
             * @param user - user-Object
             */
            _getPossibleLabs: function(userId){
                this.ajax_possible_labs = {
                    headers: {
                        'Authorization': this.accessToken
                    },
                    method: 'GET',
                    endpoint: '/platformusers/' +userId+ '/tutorpossiblelabs/'
                };
                //console.log(this.ajax_possible_labs);
            },


            _getPracticalDates: function(labs){
                //console.log(labs);
                var labsForThisTutor = [];
                for(i = 0; i<labs.length; i++){
                    if(labs[i].tutorId == this.userId){
                        labsForThisTutor.push(labs[i])
                    }
                }
                //console.log(labsForThisTutor);
                return labsForThisTutor;
            },

            /**
             * Handle save click
             * @param e - Event Variable
             * @private
             */
            _handleSaveClick: function(e){
                //console.log(e.target.chosenlabs);
                var labcounter = 0;
                for(i=0; i< e.target.chosenlabs.length; i++){
                    if(e.target.chosenlabs[i] != null){
                        labcounter++;
                    }
                }
                if(labcounter == e.target.chosenlabs.length && labcounter != 0){
                    this.chosenlabs = [];
                    this.chosenlabs = e.target.chosenlabs;
                    this.chosenlabs_transformed = this._transformLabs(this.chosenlabs,false);

                    this.bodyObject =[];
                    for(i = 0; i<this.chosenlabs.length; i++) {
                        this.bodyObject.push({
                                "labId": this.chosenlabs[i].id
                        });
                    }

                    this.ajax_delete = {
                        headers: {
                            'Authorization': this.accessToken
                        },
                        method: 'DELETE',
                        endpoint: '/platformusers/' +this.userId+ '/tutorpossiblelabs/'
                    };
                    console.log(this.ajax_delete);

                    this.labs_already_chosen = true;
                    var practicals_show_saved_dates = Polymer.dom(this.root).querySelector("#practicals_show_saved_dates");
                    if(practicals_show_saved_dates) {
                        practicals_show_saved_dates._labsChanged(this.chosenlabs_transformed);
                    }
                }
            },
            /**
             * Handle reset click
             * @param e - Event Variable
             * @private
             */
            _handleResetClick: function(e){
                this.chosenlabs = [];
            },
            /**
             * Handle change click
             * @param e - Event Variable
             * @private
             */
            _handleChangeClick: function(e){
                this.labs_already_chosen = false;
                var practicals_date_selector = Polymer.dom(this.root).querySelector("#practicalsDateSelector");
                if(practicals_date_selector) {
                    practicals_date_selector._handleResetClick();
                }
            },

            /**
             * Function that checks for the practial course date
             */
            _practicalDateExists: function(dates){
                //console.log(dates)
                if(!dates || !dates[0] || dates ==  []){
                    //console.log("inside")
                    return false;
                }
                return true;
            },
            /**
             * Function that checks for the if there are labs already chosen
             */
            _chosenlabsExist: function(labs){
                //console.log(labs);
                if(labs == [] || !labs || labs.length == 0){
                    return  false;
                }
                if(!labs[0].date){
                    return  false;
                }
                return  true;
            },
            _getBeforeDeadline: function (deadline){
                var deadline_date = new Date(deadline);
                var today = new Date();
                if(deadline_date > today){
                    //console.log("before deadline");
                    return true;

                }
                //console.log("after deadline");
                return false;

            },
            /**
             * Creates string from the given date
             * @param {String} date - date that will be transformed to String
             */
            _getDateString: function(date){
                var datestring = "";
                switch(date.getDay()){
                    case 0:
                        datestring = "Sonntag, den ";
                        break;
                    case 1:
                        datestring = "Montag, den ";
                        break;
                    case 2:
                        datestring = "Dienstag, den ";
                        break;
                    case 3:
                        datestring = "Mittwoch, den ";
                        break;
                    case 4:
                        datestring = "Donnerstag, den ";
                        break;
                    case 5:
                        datestring = "Freitag, den ";
                        break;
                    case 6:
                        datestring = "Samstag, den ";
                        break;
                }
                var hours = date.getHours();
                var minutes = date.getMinutes();
                if(hours<10){
                    hours = "0"+hours;
                }
                if(minutes<10){
                    minutes = "0"+minutes;
                }
                datestring = datestring+date.getDate()+"."+date.getMonth()+"."+date.getFullYear()+
                    " um "+hours+":"+minutes+" Uhr";
                return datestring;
            },

            /**
             * Transform the Format of the given Timelabs from the Api, so it will be easier to handle in the frontend
             * @param labsFromApi - Contains the given timelabs
             * @param divideDates - Decides if there will be generated a new array for each day inside the return-array or not
             * @returns {Array} - timelabs in new format
             * @private
             */
            _transformLabs: function(labsFromApi,divideDates){
                //console.log(labsFromApi);
                var transformedLabs = []; //Store return-Array here
                var lastLab = new Date(labsFromApi[0].date);
                var countDates = 0; //Date counter
                var countLabs = 0; //lab counter
                var dates = [];

                for(i=0; i<labsFromApi.length; i++){
                    // Create a new array-entrie if date from recent lab is different from date of the last lab
                    var labdate = new Date(labsFromApi[i].date);
                    if((labdate.getFullYear() != lastLab.getFullYear() ||
                        labdate.getMonth() != lastLab.getMonth() ||
                        labdate.getDate() != lastLab.getDate()) && divideDates) {
                        dates = [];
                        lastLab = labdate;
                        transformedLabs.push([]);
                        countDates++;
                        countLabs = 0;
                    }
                    var endtime = new Date(labdate.getFullYear(), labdate.getMonth(), labdate.getDate());
                    if((labdate.getMinutes() + (labsFromApi[i].duration % 60)) > 60){
                        endtime.setHours(1+Math.floor(labdate.getHours()+(labsFromApi[i].duration) / 60));
                        endtime.setMinutes(labdate.getMinutes() + (labsFromApi[i].duration % 60)-60);
                    }
                    else{
                        endtime.setHours(Math.floor(labdate.getHours()+(labsFromApi[i].duration) / 60));
                        endtime.setMinutes(labdate.getMinutes() + (labsFromApi[i].duration % 60));
                    }

                    var lab = [];
                    lab = [labdate, endtime];
                    if(divideDates){
                        dates[countLabs] = lab;
                        transformedLabs[countDates] = dates;
                        countLabs++;
                    }
                    else{
                        transformedLabs[i]=lab;
                    }

                }
                //console.log("transformed labs: ");
                //console.log(transformedLabs);
                return transformedLabs;
            },

            /**
             * Gets response from API call to save the priorities
             * @param response
             * @private
             */
            _responseFromPriorityDelete: function(response) {
                console.log(response);
                this.ajax_save = {
                    headers: {
                        'Authorization': this.accessToken
                    },
                    body: this.bodyObject,
                    method: 'POST',
                    endpoint: '/platformusers/' +this.userId+ '/tutorpossiblelabs/'
                };
                console.log(this.ajax_save);
            },

            /**
             * Sets up the list of chosen labs for this labtype
             * @private
             */
            _setPossibleLabs: function() {
                if(this.practical_dates_exists)
                    return

                var possibleLabsForThisLabtype = [];
                for(i = 0; i<this.allLabs.length; i++){
                    for(j = 0; j< this.possibleLabs.length; j++) {
                        if (this.allLabs[i].id == this.possibleLabs[j].id) {
                            possibleLabsForThisLabtype.push(this.allLabs[i]);
                        }
                    }
                }

                if(this._chosenlabsExist(possibleLabsForThisLabtype)){
                    this.chosenlabs = possibleLabsForThisLabtype;
                    this.chosenlabs_transformed = this._transformLabs(this.chosenlabs,false);
                    this.labs_already_chosen = true;
                }
                //console.log(this.labs_already_chosen);
                if(!this.before_deadline && !this.practical_dates_exists && !this.labs_already_chosen){
                    console.log("ERROR: Die Deadline ist vorbei und trotzdem existieren weder zugewiesene noch ausgewählte Labs. Daten sind hier inkorrekt! LabType: "+this.labType.type_str);
                }
            },

            _handleBackToDateOveriew: function() {
                this.page = 'datepicker_overview'
            }
        });
    </script>
</dom-module>
