<link rel="import" href="../components/practicals-date-selector.html">
<link rel="import" href="../components/practicals-show-saved-dates.html">

<dom-module id="practicals-students-date-detail">
    <template>
        <style include="shared-styles">
            :host {
                #display: block;
            }
            .page{
                #border-radius: 25px;
                margin: 24px;
                background-color: var(--paper-blue-grey-100);
                color: var(--paper-blue-grey-900);
            }
            .tabheader{
                background-color: var(--paper-blue-grey-900);
                font-size: 120%;
                #border-radius: 25px 25px 0px 0px;
                overflow: hidden;
                height: 5vh;
            }
            .tabheaderbuttons{
                color: var(--paper-blue-grey-50);
                text-align: center;
            }
            .backbutton{
                width: 70px;
                --paper-icon-button-ink-color:var(--paper-blue-grey-300);
                padding-right: 30px;
            }
            .content{
                padding: 10px;
            }
        </style>

        <api-request
                id="ajax_savePriorities"
                body="[[ ajax.body ]]"
                headers="[[ ajax.headers ]]"
                method="[[ ajax.method ]]"
                endpoint="[[ ajax.endpoint ]]"
                response="{{ response_savePriorities }}"
                loading="{{ isLoading }}"></api-request>

        <div class="content">
            <template is="dom-if" if="[[registration_open]]">
                <!-- Registration Open Bool from Api is true -->
                <template is="dom-if" if="[[before_deadline]]">
                    <template is="dom-if" if="[[!slots_already_chosen]]" >
                        <!-- Deadline is not over, Registration Open and no dates selected; Select your dates!-->
                        <practicals-date-selector  id="practicalsDateSelector"
                                                   practical_date="[[practical_date]]"
                                                   timeslots="[[timeslots]]"
                                                   priority="[[priority]]"
                                                   api-priorities="{{ labdata.priorities }}"
                                                   on-save-click="_handleSaveClick"
                                                   on-reset-click="_handleResetClick"></practicals-date-selector>
                    </template>
                    <template is="dom-if" if="[[slots_already_chosen]]">
                        <!-- Deadline is not over, Registration Open and dates selected; Show saved dates!-->
                        <practicals-show-saved-dates id="practicals_show_saved_dates"
                                                     chosenslots="[[chosenslots]]"></practicals-show-saved-dates>
                        <paper-button raised class="changeButton" on-tap="_handleChangeClick">
                            <iron-icon icon="reply"></iron-icon>
                            Auswahl ändern
                        </paper-button>
                    </template>
                </template>
                <template is="dom-if" if="[[!before_deadline]]">
                    <!-- Deadline is over but Registration has been started-->
                    <template is="dom-if" if="[[!practical_date_exists]]">
                        <!-- Deadline is over, Registration has been started but Practical Date is not given -->
                        <practicals-show-saved-dates chosenslots="[[chosenslots]]"></practicals-show-saved-dates>
                    </template>
                    <template is="dom-if" if="[[practical_date_exists]]">
                        <!-- Deadline is over, Registration has been started and Practical Date is given-->
                        <div>
                            Dein Praktikumstermin ist am [[practical_date_string]]
                        </div>
                    </template>
                </template>
            </template>
            <template is="dom-if" if="[[!registration_open]]">
                <!-- Registration Open Bool from Api is false; Registration not opened yet -->
                <div>
                    Die Terminwahl ist noch nicht freigeschalten!
                </div>
            </template>
        </div>

    </template>

    <script>
        Polymer({
            is: 'practicals-students-date-detail',
            properties: {
                accessToken: {
                    type: String,
                    notify: true
                },
                before_deadline:{
                    type: Boolean,
                    value: true
                },
                chosenslots:{
                    type: Array,
                    value: []
                },
                practical_date:{
                    type: Date,
                    notify: true
                },
                practical_date_exists:{
                    type: Boolean
                },
                priority:{
                    type: Number,
                    value: 2
                },
                registration_open:{
                    type: Boolean,
                    value: true
                },
                route: {
                    type: Object,
                    notify: true
                },
                slots_already_chosen:{
                    type: Boolean
                },
                timeslots:{
                    type: Array,
                    value: []
                },
                isReady: {
                    type: Boolean,
                    value: false
                },
                response_savePriorities: {
                    type: Object,
                    observer: '_responseFromPrioritySave'
                },
                group: Object,
                labData: Object,
                labType: Object
            },
            ready: function () {
                console.log("practical_date: " + this.labData.lab);
                console.log("chosenslots: " + this.labData.priorities);
                console.log("deadline: " + this.labType.registration_deadline);
                this.practical_date = this.labData.lab;
                this.practical_date_exists = this._dateExists(this.practical_date);
                if(this.practical_date_exists){
                    this.practical_date_string = this._getDateString(this.practical_date);
                }
                else{
                    this.timeslots = this._getTimeslots();
                    this.chosenslots = this.labData.priorities;
                    this.slots_already_chosen = this._chosenslotsExist(this.chosenslots);
                }
                this.before_deadline = this._getBeforeDeadline(this.labType.registration_deadline);
                console.log(this.labData);
                console.log(this.labType);
                console.log(this.group);
            },
            /**
             * Back-button click handler
             */
            _backClicked: function(e) {
                this.fire("back-click");
            },

            /**
             * Handle save click
             * @param e - Event Variable
             * @private
             */
            _handleSaveClick: function(e){
                var slotcounter = 0;
                for(i=0; i< e.target.chosenslots.length; i++){
                    if(e.target.chosenslots[i] != null){
                        slotcounter++;
                    }
                }
                if(slotcounter == e.target.chosenslots.length){
                    //this.chosenslots = [];
                    this.chosenslots = e.target.chosenslots;
                    this.slots_already_chosen = true;
                    var practicals_show_saved_dates = Polymer.dom(this.root).querySelector("#practicals_show_saved_dates");
                    if(practicals_show_saved_dates) {
                        practicals_show_saved_dates._slotsChanged(this.chosenslots);
                    }
                }
                else{
                    alert("Error: Not enogh slots chosen. Just "+slotcounter+" slots chosen.");
                }

                // TODO: Deliver chosen slots as lab objects (with Id)

                // IMPORTANT: This is the example process for saving priorities.
                // The process has to be done for each set priority (every
                // entry in chosenslots)

                /*for (var i = 0; i < this.chosenslots.length; i++) {

                    // TODO: Replace this by chosenslot entry as lab object
                    var dummyLab = {};

                    // Step 1. check if this priority has been in the DB for this group already
                    var found = false;
                    for (var i = 0; i < this.labData.priorities.length; i ++) {
                        if (this.labData.priorities[i].id == dummyLab.id) {
                            found = true;
                            break;
                        }
                    }
                    if (found)
                    // take next priority / go on in loop over chosenslots
                        break;

                    // Step 2. Save a new priority object
                    this.ajax = {
                        endpoint: '/groups/' + this.group.id + 'priorities?filter[where][semesterId]=' + this.group.semesterId,
                        method: 'POST',
                        headers: {
                            'Authorization' : this.accessToken
                        },
                        body: {
                            priority: 3,
                            groupId: this.group.id,
                            labId: dummyLab.id, // TODO: Set this (= current slot's lab id)
                            semesterId: this.group.semesterId,
                            labTypeId: this.labType.id
                        }
                    }
                }*/
            },
            /**
             * Handle reset click
             * @param e - Event Variable
             * @private
             */
            _handleResetClick: function(e){
                this.chosenslots = [];
            },
            /**
             * Handle change click
             * @param e - Event Variable
             * @private
             */
            _handleChangeClick: function(e){
                this.slots_already_chosen = false;
                var practicals_date_selector = Polymer.dom(this.root).querySelector("#practicalsDateSelector");
                if(practicals_date_selector) {
                    practicals_date_selector._handleResetClick();
                }
            },
            /**
             * Function that checks for the practial course date
             */
            _dateExists: function(date){
                if(date == null || typeof(date)!= undefined){
                    return false;
                }
                return true;
            },
            /**
             * Function that checks for the if there are slots already chosen
             */
            _chosenslotsExist: function(slots){
                if(slots == null || slots == [] || slots == 0){
                    return  false;
                }
                return  true;
            },
            _getBeforeDeadline: function (deadline){
                var deadline_date = new Date(deadline);
                var today = new Date();
                //console.log(today);
                //console.log(deadline_date);
                if(deadline_date > today){
                    console.log("before deadline");
                    return true;

                }
                console.log("after deadline");
                return false;

            },
            /**
             * Function that checks for the practial course date
             */
            _getChosenslots: function(){
                //TODO: Get Timeslots from Backend
                var timeslots =[];
                timeslots = [[new Date(2017,1,2,1,0),new Date(2017,1,2,2,0)],[new Date(2017,1,2,3,0),new Date(2017,1,2,4,0)],[new Date(2017,1,2,5,0),
                    new Date(2017,1,10,14,0)],[new Date(2017,1,10,15,0),new Date(2017,1,10,16,0)],[new Date(2017,1,10,17,0),new Date(2017,1,10,18,0)]];

                //return timeslots;
                return null;
            },

            /**
             * Function that checks for the practial course date
             * @param {String} date - date that will be transformed to String
             */
            _getTimeslots: function(){
                //TODO: Get Timeslots from Backend
                var timeslots =[];
                timeslots.starttimes = [new Date(2017,1,2,1,0),new Date(2017,1,2,2,0),new Date(2017,1,2,3,0),new Date(2017,1,2,4,0),new Date(2017,1,2,5,0),
                    new Date(2017,1,10,14,0),new Date(2017,1,10,15,0),new Date(2017,1,10,16,0),new Date(2017,1,10,17,0),new Date(2017,1,10,18,0),new Date(2017,1,10,19,0),new Date(2017,1,10,20,0),
                    new Date(2017,1,12,12,0),new Date(2017,1,12,13,0),new Date(2017,1,12,14,0),new Date(2017,1,12,15,0),new Date(2017,1,14,14,0),new Date(2017,1,14,15,0)];
                timeslots.sizes =[60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60];

                return this._transformTimeslots(timeslots);
                //return null;
            },
            /**
             * Creates string from the given date
             * @param {String} date - date that will be transformed to String
             */
            _getDateString: function(date){
                var datestring = "";
                switch(date.getDay()){
                    case 0:
                        datestring = "Sonntag, den ";
                        break;
                    case 1:
                        datestring = "Montag, den ";
                        break;
                    case 2:
                        datestring = "Dienstag, den ";
                        break;
                    case 3:
                        datestring = "Mittwoch, den ";
                        break;
                    case 4:
                        datestring = "Donnerstag, den ";
                        break;
                    case 5:
                        datestring = "Freitag, den ";
                        break;
                    case 6:
                        datestring = "Samstag, den ";
                        break;
                }
                var hours = date.getHours();
                var minutes = date.getMinutes();
                if(hours<10){
                    hours = "0"+hours;
                }
                if(minutes<10){
                    minutes = "0"+minutes;
                }
                datestring = datestring+date.getDate()+"."+date.getMonth()+"."+date.getFullYear()+
                    " um "+hours+":"+minutes+" Uhr";
                return datestring;
            },
            /**
             * Transform the Format of the given Timeslots from the Api, so it will be easier to handle in the frontend
             * @param slotsFromApi - Contains the given timeslots
             * @returns {Array} - timeslots in new format
             * @private
             */
            _transformTimeslots: function(slotsFromApi){
                var transformedSlots = []; //Store return-Array here
                var lastSlot = slotsFromApi.starttimes[0];
                var countDates = 0; //Date counter
                var countSlots = 0; //Slot counter
                var dates = [];

                for(i=0; i<slotsFromApi.starttimes.length; i++){
                    // Create a new array-entrie if date from recent slot is different from date of the last slot
                    if(slotsFromApi.starttimes[i].getFullYear() != lastSlot.getFullYear() ||
                        slotsFromApi.starttimes[i].getMonth() != lastSlot.getMonth() ||
                        slotsFromApi.starttimes[i].getDate() != lastSlot.getDate()) {
                        dates = [];
                        lastSlot = slotsFromApi.starttimes[i];
                        transformedSlots.push([]);
                        countDates++;
                        countSlots = 0;
                    }
                    var endtime = new Date(slotsFromApi.starttimes[i].getFullYear(), slotsFromApi.starttimes[i].getMonth(), slotsFromApi.starttimes[i].getDate());
                    if((slotsFromApi.starttimes[i].getMinutes() + (slotsFromApi.sizes[i] % 60)) > 60){
                        endtime.setHours(1+Math.floor(slotsFromApi.starttimes[i].getHours()+(slotsFromApi.sizes[i]) / 60));
                        endtime.setMinutes(slotsFromApi.starttimes[i].getMinutes() + (slotsFromApi.sizes[i] % 60)-60);
                    }
                    else{
                        endtime.setHours(Math.floor(slotsFromApi.starttimes[i].getHours()+(slotsFromApi.sizes[i]) / 60));
                        endtime.setMinutes(slotsFromApi.starttimes[i].getMinutes() + (slotsFromApi.sizes[i] % 60));
                    }

                    var slot = [];
                    slot = [slotsFromApi.starttimes[i], endtime];
                    dates[countSlots] = slot;
                    transformedSlots[countDates] = dates;
                    countSlots++;
                }
                return transformedSlots;
            },
            /**
             * Gets response from API call to create a new priority
             * @param response
             * @private
             */
            _responseFromPrioritySave: function(response) {
                if (!this.isReady)
                    return;
                console.log(response);
            }
        });
    </script>
</dom-module>
