<!--Localization Imports-->
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../services/my-localize-behavior.html">

<dom-module id="practicals-admin-date-creator">
    <template>
        <style include="shared-styles">
            :host{

            }
            .date{
                padding: 10px;
                background-color: var(--paper-blue-grey-500);
                color: var(--paper-blue-grey-100);
                font-size: 18px;
            }
            #lab{
                border-style: solid;
                border-width: 1px;
                border-color: var(--paper-blue-grey-100);
            }
            .labStrings{
                margin-right: 5px;
                margin-left: 5px;
            }
            .date-creator{
                margin-top: 20px;
                background-color: var(--paper-blue-grey-50);
                text-align: center;
            }
            #priorityselection{
                background-color: var(--paper-blue-grey-200);
                padding-bottom: 20px;
            }
            #priorityShower{
                visibility: hidden;
                margin-left: 10%;
                color: green;
            }
            .dropdown-content{
                width: 70px;
            }
            .lab:hover {
                cursor: pointer;
                background-color: var(--paper-orange-50);
            }

        </style>
        <div class="date-creator">
            <div class="date">
                [[date]]
            </div>
            <template is="dom-repeat" items="[[labs]]" as="lab" >
                <paper-item id="lab" class="lab" on-tap="_handleDateClick">
                    <p class="labStrings">[[_getTimeSlotString(lab)]] [[localize('general_hours')]] </p>
                    <p class="labStrings">[[localize('practicals-admin tutor')]]: [[_getLabTutorString(lab)]] </p>
                    <p class="labStrings"> [[localize('practicals-admin group')]]: [[_getLabGroupString(lab)]]</p>
                </paper-item>
            </template>
        </div>

        <!--Iron Signal for Localization-->
        <iron-signals on-iron-signal-language="changeLanguage"></iron-signals>

    </template>

    <script>
        Polymer({
            is: 'practicals-admin-date-creator',
            properties: {
                labs:{
                    type: Array,
                    value: [],
                    observer: "_labsChanged"
                },
                date:{
                    type: String,
                    value: ""
                },
                chosenlabindex:{
                    type: Number
                }
            },

            behaviors: [
                Polymer.MyLocalizeBehavior
            ],

            ready: function() {
                //this.date = this._getDateString(this.labs[0].dates[0]);
            },

            /**
             * Creates string from the timeslot-timits to get a nicer visualisation,
             * Adds leading zeros, if necessary
             */
            _getLabTutorString: function(slot){
                var returnstring = "XXX";
                if(slot) {
                    if(slot.tutorName &&  slot.tutorName != ""){
                        /*try{
                        returnstring = this.localize('practicals-admin tutor')+": "+slot.tutorName;
                        }
                        catch(e){*/
                            returnstring = slot.tutorName;
                        //}
                    }
                    else if(slot.tutor &&  slot.tutor != "" && (!slot.tutorName || slot.tutorName != "")){
                        /*try{
                        returnstring = this.localize('practicals-admin tutor')+": "+slot.tutor;
                        }
                        catch(e){*/
                            returnstring = slot.tutor;
                        //}
                    }
                }
                return returnstring;
            },
            /**
             * Creates string from the timeslot-timits to get a nicer visualisation,
             * Adds leading zeros, if necessary
             */
            _getLabGroupString: function(slot){
                var returnstring = "XXX";
                if(slot) {
                    if(slot.groupName && slot.groupName != ""){
                        /*try {
                            returnstring = this.localize('practicals-admin group') + ": " + slot.groupName;
                        }
                        catch(e){*/
                            returnstring = slot.groupName;
                        //}
                    }
                    else if(slot.group &&  slot.group != "" && (!slot.groupName || slot.groupName != "")){
                        /*try{
                            returnstring = this.localize('practicals-admin group')+": "+slot.group;
                        }
                        catch(e){*/
                            returnstring = slot.group;
                        //}
                    }
                }
                return returnstring;
            },

            /**
             * Creates string from the timeslot-timits to get a nicer visualisation,
             * Adds leading zeros, if necessary
             */
            _getTimeSlotString: function(slot){
                if(slot) {
                    var starthour = slot.dates[0].getHours();
                    var startminute = slot.dates[0].getMinutes();
                    var endhour = slot.dates[1].getHours();
                    var endminute = slot.dates[1].getMinutes();
                    /*
                    * Add zeros, if necessary
                    */

                    if(starthour< 10){

                        starthour = "0"+ starthour;
                    }
                    if(startminute<10) {
                        startminute = "0"+ startminute;
                    }
                    if(endhour<10){
                        endhour = "0"+ endhour;
                    }
                    if(endminute< 10) {
                        endminute = "0" + endminute;
                    }

                    return starthour + ":" + startminute + " - " + endhour + ":" + endminute;
                }
            },

            /**
             * Creates string from the given date
             * @param {String} date - date that will be transformed to String
             */
            _getDateString: function(date){
                var datestring = "";
                switch(date.getDay()){

                    case 0:
                        try {
                            datestring = this.localize('general_weekdays 0') + ", ";
                        }
                        catch(e){
                            datestring = " ";
                        }
                        break;
                    case 1:
                        try  {
                            datestring = this.localize('general_weekdays 1') + ", ";
                        }
                        catch(e){
                            datestring = " ";
                        }
                        break;
                    case 2:
                        try  {
                            datestring = this.localize('general_weekdays 2') + ", ";
                        }
                        catch(e){
                            datestring = " ";
                        }
                        break;
                    case 3:
                        try  {
                            datestring = this.localize('general_weekdays 3') + ", ";
                        }
                        catch(e){
                            datestring = " ";
                        }
                        break;
                    case 4:
                        try  {
                            datestring = this.localize('general_weekdays 4') + ", ";
                        }
                        catch(e){
                            datestring = " ";
                        }
                        break;
                    case 5:
                        try {
                            datestring = this.localize('general_weekdays 5') + ", ";
                        }
                        catch(e){
                            datestring = "";
                         }
                        break;
                    case 6:
                        try {
                            datestring = this.localize('general_weekdays 6') + ", ";
                        }
                        catch(e){
                            datestring = "";
                        }
                        break;
                }
                var month = date.getMonth()+1;
                var monthString = month.toString();
                if(month < 10){
                    monthString = "0"+month.toString();
                }

                var day = date.getDate();
                var dayString = day.toString();
                if(day < 10){
                    dayString = "0"+day.toString();
                }

                datestring = datestring+dayString+"."+monthString+"."+date.getFullYear();
                return datestring;
            },

            /**
             * Click-Event handler
             * Handles the timeslot selection
             * @param {String} e - handle data
             */
            _handleDateClick: function(e){
                //console.log(e.model.index);
                this.fire("date-click",this.labs[e.model.index]);
            },

            _labsChanged: function(e){
                //console.log("labsChanged");
                this.date = this._getDateString(this.labs[0].dates[0]);
            }
        });
    </script>
</dom-module>