<dom-module id="practicals-no-registration-detail">
    <template>
        <style include="shared-styles">

        </style>
        <template is="dom-if" if="[[before_deadline]]">
            <!-- before the deadline is over -->
            <div>
                Die Terminwahl ist noch nicht freigeschaltet!
            </div>
        </template>

        <template is="dom-if" if="[[!before_deadline]]">
            <!-- after the deadline is over -->
            <div>
                Dein Praktikumstermin ist am [[practical_date_string]]
            </div>
        </template>
    </template>
    <script>
        Polymer({
            is: 'practical-date-selector',
            properties: {
                before_deadline:{
                    type: Boolean
                },
                practical_date:{
                    type: Date,
                    notify: true
                },
                practical_date_string: {
                    type: String,
                    value: "",
                    notify: true
                }
            },
            ready: function(){

            }

        });

    </script>
</dom-module>