<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="date-creator.html">
<link rel="import" href="../shared/shared-styles.html">

<dom-module id="practical-date-detail">
    <template>
        <style include="shared-styles">
            :host{

            }
            .dateselector{
                text-align: center;
                width: 100%;
            }
            .datecreator{
                display:inline-block;
                margin:0;
                height: auto;
                width: 49%;
                min-width: 400px;
                vertical-align:top;
            }
        </style>
        <!-- Checking for Group ID if User Joined Group-->
        <template is="dom-if" if="{{!practicalDate}}">
            <div class="dateselector">
                <template is="dom-repeat" items="[[timeslots]]" as="slots">
                    <date-creator timeslots="[[slots]]" priority="[[priority]]" class="datecreator"
                                  on-priority-click="_handlePriorityClick" on-date-click="_handleDateClick"></date-creator>
                </template>
            </div>
        </template>
        <template is="dom-if" if="{{practicalDate}}">
            <div class="dateshower">
                Dein Praktikumstermin ist am {{practicalDateString}}
            </div>
        </template>
    </template>
    <script>
        Polymer({
            is: 'practical-date-detail',
            properties: {
                type:{
                    type: String,
                    notify: true,
                    value: ""
                },
                practicalDate: {
                    type: Date,
                    notify: true,
                    readOnly: false,
                    value: null
                },
                practicalDateString: {
                    type: String,
                    value: ""
                },
                timeslots:{
                    type: Array,
                    value: []
                },
                time_limits:{
                    type: Array,
                    value: []
                },
                time_slot_size:{
                    type: Number,
                    value: 0
                },
                priority:{
                    type: Number,
                    value: 5
                },
                priorities:{
                    type: Array,
                    value: []
                },
                chosenslots:{
                    type: Array,
                    value: []
                }
            },

            ready: function() {
                this.time_limits = [new Date(1,0,0,1,0),new Date(1,0,0,5,0),new Date(5,1,0,14,0),new Date(5,1,0,23,0)];
                this.time_slot_size = 30;
                this.practicalDate = this._getDate();
                if(this.practicalDate != null){
                    this.practicalDateString = this._getDateString(this.practicalDate);
                }
                else{
                    this.timeslots = this._calculateTimeslots(this.time_limits,this.time_slot_size);
                }

                for (i = 0; i < this.priority; i++) {
                    this.priorities[i]=i+1;
                }
            },

            /**
             * Function that checks for the practial course date
             * @param {String} date - date that will be transformed to String
             */
            _getDate: function(){
                //TODO: Check for Practicalsdates in Backend
                //return new Date(1,0,0,0,0);
                return null;
            },

            /**
             * Creates string from the given date
             * @param {String} date - date that will be transformed to String
             */
            _getDateString: function(date){
                var datestring = "";
                switch(date.getDay()){
                    case 1:
                        datestring = "Montag, den ";
                        break;
                    case 2:
                        datestring = "Dienstag, den ";
                        break;
                    case 3:
                        datestring = "Mittwoch, den ";
                        break;
                    case 4:
                        datestring = "Donnerstag, den ";
                        break;
                    case 5:
                        datestring = "Freitag, den ";
                        break;
                    case 6:
                        datestring = "Samstag, den ";
                        break;
                    case 7:
                        datestring = "Sonntag, den ";
                        break;
                }
                datestring = datestring+date.getDate()+"."+date.getMonth()+"."+date.getFullYear()+
                        " um "+date.getHours()+":"+date.getMinutes()+" Uhr";
                return datestring;
            },

            /**
             * Calculate Timeslots from given timelimits and the desired timeslot size
             * @param {Array} timeLimits - time limits to define the slots
             * @param {Number} timeSlotSize - desired size of the time slots
             */
            _calculateTimeslots: function(timeLimits,timeSlotSize){
                var timeslots =[];
                if(timeLimits.length%2 == 0) {
                    for (i = 0; i < timeLimits.length; i = i + 2) {
                        //Check if start- and endlimit are on the same day
                        if(timeLimits[i].getFullYear() == timeLimits[i+1].getFullYear() &&
                            timeLimits[i].getMonth() == timeLimits[i+1].getMonth() &&
                            timeLimits[i].getDate() == timeLimits[i+1].getDate()) {
                            var slotsOnThisDays = [];
                            var starttime = (timeLimits[i].getHours() * 60) + timeLimits[i].getMinutes(); // Starttime in Minutes
                            var endtime = (timeLimits[i + 1].getHours() * 60) + timeLimits[i + 1].getMinutes(); // Endtime in Minutes
                            var totalTimeDifference = endtime - starttime; //Total timeslot length

                            for (j = 0; j < (totalTimeDifference); j = j + timeSlotSize) {

                                //Calculate startdate of recent timeslot by adding the already calculated timeslot lenghts to the total starttime
                                var startdate = new Date(timeLimits[i].getFullYear(), timeLimits[i].getMonth(), timeLimits[i].getDate());
                                startdate.setHours(Math.floor((starttime + j) / 60));
                                startdate.setMinutes((starttime + j) % 60);

                                //Calculate enddate of recent timeslot by adding timeslot lenght to the startdate
                                var enddate = new Date(timeLimits[i].getFullYear(), timeLimits[i].getMonth(), timeLimits[i].getDate());
                                enddate.setHours(Math.floor((starttime + j + timeSlotSize) / 60));
                                enddate.setMinutes((starttime + j + timeSlotSize) % 60);
                                slotsOnThisDays.push([startdate, enddate]);
                            }
                            timeslots.push(slotsOnThisDays);
                        }
                        else{console.log("Error: Array is malformed. Each start- and endlimit has to be on the same day.")}
                    }
                    return timeslots;
                }
                else{
                    console.log("Error: Array is malformed. No pair number of timeslot limits.")
                }
            },

            /**
             * Handle date click from Child (date-creator)
             * Update child priorities-Array
             * @param e - Event Variable
             * @private
             */
            _handleDateClick: function(e){
                e.target.priorities = this.priorities;
            },

            /**
             * Handle priority click from Child (date-creator)
             * @param e - Event Variable
             * @private
             */
            _handlePriorityClick: function(e){
                this.chosenslots[e.target.chosenpriority-1]= e.target.chosenslot;
                //console.log(this.chosenslots);
                this.priorities[e.target.chosenpriority-1] = 0;
            }
        });
    </script>
</dom-module>