<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared/shared-styles.html">

<dom-module is="reset-password-card">

    <template>
        <style>
            :host {
                max-width: 400px;
                padding: 10px;
                width: 100%;
            }

            a {
                color: var(--paper-blue-grey-800);
            }

            paper-card {
                width: 100%;
                --paper-card-background-color: var(--paper-blue-grey-100);
                --paper-card-header-color: var(--paper-blue-grey-50);

                --paper-card-header: {
                    background: var(--paper-blue-grey-900);
                };

                --paper-card-actions: {
                    border: 0;
                };
            }

            .card-actions paper-button {
                background-color: var(--paper-blue-grey-900);
                color: var(--paper-blue-grey-50);
                margin: 0;
                width: 100%;
            }
            .card-actions paper-button:hover {
                background-color: var(--paper-blue-grey-700);
                -o-transition: .1s;
                -moz-transition: .1s;
                -webkit-transition: .1s;
                transition: .1s;
            }

            paper-input-container, paper-input {
                --paper-input-container-color: var(--paper-blue-grey-500);
                --paper-input-container-focus-color: var(--paper-blue-grey-900);
            }

            iron-icon[prefix] {
                margin-right: 5px;
            }

            .card-content p {
                margin-top: 0;
            }

            .card-content p.error {
                color: #db4437;
                font-size: 12px;
                margin-bottom: 0;
                margin-top: 16px;
                transition: height 1s;
            }

            .card-content p.hide {
                display: none;
            }

            .spinner-container {
                background-color: rgba(255,255,255,0.8);
                display: block;
                height: 100vh;
                left: 0;
                position: absolute;
                text-align: center;
                top: 0;
                width: 100vw;
                z-index: 100;
            }

            paper-spinner[active]{
                height: 50px;
                margin: auto;
                top: calc(50% - 25px);
                width: 50px;
            }

            .card-header {
                @apply(--paper-font-headline);
                background-color: var(--paper-blue-grey-900);
                padding: 16px;
                font-size: 24px;
                font-weight: 400;
                color: #eceff1;
            }

            .localepicker {
                float: right;
            }

            .localepicker paper-button {
                padding: 0;
                /*width: 50px;*/
                color: var(--paper-blue-grey-300);
                min-width: 0px;
                font-size: 20px;
                font-weight: 300;
            }

            .localepicker paper-button:hover {
                color: #FFF;
                -o-transition: .1s;
                -moz-transition: .1s;
                -webkit-transition: .1s;
                transition: .1s;
            }
        </style>

        <api-request
            headers="[[ ajax.headers ]]"
            method="[[ ajax.method ]]"
            endpoint="[[ ajax.endpoint ]]"
            response="{{ apiResponse }}">
        </api-request>

        <paper-card>

            <div class="card-header">
                <span>{{localize('resetpasswordcard_title')}}</span>
                <span class="localepicker">
                    <paper-button style="float:right" on-tap="initSwitchLocale">{{ language }}</paper-button>
                    <paper-tooltip offset="5">{{localize('logincard_locale button tooltip')}}</paper-tooltip>
                </span>
            </div>

            <template is="dom-if" if="[[ !isReset ]]">
                <div class="card-content">

                    <!-- Description text -->
                    <p>
                        {{localize('resetpasswordcard_infotext')}}
                    </p>

                    <!-- Email input -->
                    <paper-input
                            id="emailInput"
                            label="E-Mail"
                            value="{{ email }}"
                            on-keydown="_onEnterFireRegisterRequest"
                            error-message="{{localize('registrationcard_mandatory')}}"
                            auto-validate
                            required
                            invalid="{{ invalid.email }}">
                        <iron-icon icon="mail" prefix></iron-icon>
                    </paper-input>

                    <!-- API error message -->
                    <p class="error hide" id="apiErrorMessage">
                        {{localize('registrationcard_error')}}
                    </p>

                </div>

                <div class="card-actions" style="padding: 20px">
                    <paper-button
                            on-tap="_clickedReset"
                            disabled="{{ buttonDisabled }}">{{localize('resetpasswordcard_button-reset')}}
                    </paper-button>
                    <p>
                        <a href="#/login/">{{localize('registrationcard_back')}}</a>
                    </p>
                </div>
            </template>

            <template is="dom-if" if="[[ isReset ]]">
                <div class="card-content">
                    <p>
                        {{localize('resetpasswordcard_mail sent-1')}}
                        <span style="font-weight: 700">[[ email ]]</span>
                        {{localize('resetpasswordcard_mail sent-2')}}
                    </p>
                </div>

                <div class="card-actions" style="padding: 20px">
                    <p>
                        <a href="#/login/">{{localize('registrationcard_back')}}</a>
                    </p>
                </div>
            </template>

        </paper-card>

        <iron-signals on-iron-signal-switchlocale="_switchLocale"></iron-signals>
    </template>

    <script>
        Polymer({

            is: 'reset-password-card',

            properties: {

                language: {
                    value: 'de',
                    type: String
                },
                page: {
                    type: String,
                    notify: true
                },
                presetEmail: {
                    type: String,
                    notify: true
                },
                isReset: {
                    type: Boolean,
                    value: false
                },
                apiResponse: {
                    type: Object,
                    observer: "_apiResponseChanged"
                }
            },

            /**
             * Localization setup
             */
            behaviors: [
                Polymer.AppLocalizeBehavior
            ],
            attached: function() {
                this.loadResources(this.resolveUrl('../shared/locales.json'));
            },
            _switchLocale: function() {
                this.language = (this.language == 'en') ? 'de' : 'en';
            },

            _clickedReset: function(e) {
                var newPW = this._generateRandomPW(10);
                this.isReset = true;
                console.log("New PW: " + newPW);

                // TODO: change password in DB and send e-mail
            },

            /**
             * Generates and returns a random string with length 'length'
             * @param length
             * @returns {string}
             * @private
             */
            _generateRandomPW: function(length)
            {
                var text = "";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for( var i=0; i < length; i++ )
                    text += possible.charAt(Math.floor(Math.random() * possible.length));

                return text;
            },

            _apiResponseChanged: function(response) {
                console.log(response)
            },

            initSwitchLocale: function(e) {
                this.fire("iron-signal", {name: "switchlocale"});
            }

        });

    </script>

</dom-module>