<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../../bower_components/ace-widget/ace-widget.html">

<link rel="import" href="../shared/semester-setup-shared.html">

<dom-module id="semester-setup-practicals">

    <template>

        <style include="semester-setup-shared"></style>
        <style>

            paper-button.practicals-collapse-header {
                background: var(--semester-setup-primary-light-color);
                color: var(--semester-setup-secondary-color);
                margin: 10px 0;
                width: 100%;
            }

        </style>

        <paper-card heading="Edit Practical Types" class="flex">
            <div class="card-content">

                <p>Each group of students will have to pass three practicals: <strong>Photo, Video and Audio</strong>. If you can, please provide some details.</p>

                <p>Never mind if some information is still uncertain - just leave those fields blank and add data later.</p>

                <div>
                    <paper-button
                            class="practicals-collapse-header"
                            on-tap="_toggleCollapse"
                            data-practical-type="photo">
                        Photo Lab
                        <iron-icon
                                icon="hardware:keyboard-arrow-down"
                                data-practical-type="photo"></iron-icon>

                    </paper-button>
                    <iron-collapse id="photoCollapsible">
                        <paper-input
                            label="Title that will be shown to users"
                            value="Photo Lab"></paper-input>

                        <paper-input label="What is the deadline for student groups to choose their favorite timeslot?"
                                     on-tap="_openPickerDialog"
                                     data-dialog-id="photo-registration-deadline"></paper-input>
                        <paper-dialog id="photo-registration-deadline" class="paper-date-picker-dialog"
                                      on-iron-overlay-closed="dismissDialog">
                            <paper-date-picker id="picker" date="[[date]]"></paper-date-picker>
                            <div class="buttons">
                                <paper-button dialog-dismiss>Cancel</paper-button>
                                <paper-button dialog-confirm>OK</paper-button>
                            </div>
                        </paper-dialog>

                        <p>Add some content to the page <strong>tutors</strong> will see when they click on the
                            photo lab. You can use
                            <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
                                Markdown syntax</a>.</p>
                        <!-- Access editor content in js with this.$.photoDescriptionTutor.editorValue -->
                        <ace-widget id="photoDescriptionTutor"></ace-widget>

                        <p>Add some content to the page <strong>students</strong> will see when they click on the
                            photo lab. You can use
                            <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
                                Markdown syntax</a>.</p>
                        <!-- Access editor content in js with this.$.photoDescriptionTutor.editorValue -->
                        <ace-widget id="photoDescriptionStudent"></ace-widget>
                    </iron-collapse>
                </div>

                <div>
                    <paper-button
                            class="practicals-collapse-header"
                            on-tap="_toggleCollapse"
                            data-practical-type="video">
                        Video Lab
                        <iron-icon
                                icon="hardware:keyboard-arrow-down"
                                data-practical-type="video"></iron-icon>
                    </paper-button>
                    <iron-collapse id="videoCollapsible">

                        <paper-input
                                label="Title that will be shown to users"
                                value="Video Lab"></paper-input>

                        <paper-input label="What is the deadline for student groups to choose their favorite timeslot?"
                                     on-tap="_openPickerDialog"
                                     data-dialog-id="video-registration-deadline"></paper-input>
                        <paper-dialog id="video-registration-deadline" class="paper-date-picker-dialog"
                                      on-iron-overlay-closed="dismissDialog">
                            <paper-date-picker id="picker" date="[[date]]"></paper-date-picker>
                            <div class="buttons">
                                <paper-button dialog-dismiss>Cancel</paper-button>
                                <paper-button dialog-confirm>OK</paper-button>
                            </div>
                        </paper-dialog>

                        <p>Add some content to the page <strong>tutors</strong> will see when they click on the
                            video lab. You can use
                            <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
                                Markdown syntax</a>.</p>
                        <!-- Access editor content in js with this.$.photoDescriptionTutor.editorValue -->
                        <ace-widget id="videoDescriptionTutor"></ace-widget>

                        <p>Add some content to the page <strong>students</strong> will see when they click on the
                            video lab. You can use
                            <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
                                Markdown syntax</a>.</p>
                        <!-- Access editor content in js with this.$.photoDescriptionTutor.editorValue -->
                        <ace-widget id="videoDescriptionStudent"></ace-widget>

                    </iron-collapse>
                </div>

                <div>
                    <paper-button
                            class="practicals-collapse-header"
                            on-tap="_toggleCollapse"
                            data-practical-type="audio">
                        Audio Lab
                        <iron-icon
                                icon="hardware:keyboard-arrow-down"
                                data-practical-type="audio"></iron-icon>
                    </paper-button>
                    <iron-collapse id="audioCollapsible">

                        <paper-input
                                label="Title that will be shown to users"
                                value="Audio Lab"></paper-input>

                        <paper-input label="What is the deadline for student groups to choose their favorite timeslot?"
                                     on-tap="_openPickerDialog"
                                     data-dialog-id="audio-registration-deadline"></paper-input>
                        <paper-dialog id="audio-registration-deadline" class="paper-date-picker-dialog"
                                      on-iron-overlay-closed="dismissDialog">
                            <paper-date-picker id="picker" date="[[date]]"></paper-date-picker>
                            <div class="buttons">
                                <paper-button dialog-dismiss>Cancel</paper-button>
                                <paper-button dialog-confirm>OK</paper-button>
                            </div>
                        </paper-dialog>

                        <p>Add some content to the page <strong>tutors</strong> will see when they click on the
                            audiolab. You can use
                            <a target=_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
                                Markdown syntax</a>.</p>
                        <!-- Access editor content in js with this.$.photoDescriptionTutor.editorValue -->
                        <ace-widget id="audioDescriptionTutor"></ace-widget>

                        <p>Add some content to the page <strong>students</strong> will see when they click on the
                            audio lab. You can use
                            <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
                                Markdown syntax</a>.</p>
                        <!-- Access editor content in js with this.$.photoDescriptionTutor.editorValue -->
                        <ace-widget id="audioDescriptionStudent"></ace-widget>

                    </iron-collapse>
                </div>

            </div>
        </paper-card>

    </template>

    <script>

        Polymer({

            is: 'semester-setup-practicals',

            properties: {

                aceValue: {
                    type: String,
                    notify: true,
                    value: 'Default string'
                }

            },

            _toggleCollapse: function (event) {
                console.log(event);
                var idPrefix = '#';
                var idSuffix = 'Collapsible';
                var practicalType = event.path[0].getAttribute('data-practical-type');
                var element = this.$$(idPrefix + practicalType + idSuffix);
                element.toggle();
            },

            _openPickerDialog: function (event) {
                var dialogId = event.path[7].getAttribute('data-dialog-id');
                this.$$('#'+dialogId).open();
            }

        });

    </script>

</dom-module>