<!--Localization Imports-->
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../services/my-localize-behavior.html">

<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<dom-module id="settings-change-password">

    <template>

        <style include="shared-styles">

            :host {
                margin: 0 20px;
            }

            paper-button {
                display: inline-block;
                margin: 10px 10px 10px 0;
                max-width: 200px;
            }

            paper-input-container, paper-input {
                --paper-input-container-color: var(--paper-blue-grey-500);
                --paper-input-container-focus-color: var(--paper-blue-grey-900);
            }

            .spinner-container {
                background-color: rgba(255,255,255,0.8);
                display: block;
                height: 100%;
                left: 0;
                position: absolute;
                text-align: center;
                top: 0;
                width: 100%;
                z-index: 100;
            }

            paper-spinner[active]{
                height: 50px;
                margin: auto;
                top: calc(50% - 25px);
                width: 50px;
            }

            .errorToast {
                --paper-toast-background-color: var(--paper-red-300);
                --paper-toast-color: var(--paper-blue-grey-900);
            }

        </style>

        <template is="dom-if" if="[[ isLoading ]]">
            <div class="spinner-container">
                <paper-spinner active="[[ isLoading ]]"></paper-spinner>
            </div>
        </template>

        <paper-input
                id="oldPassword"
                label="[[ localize('settings_changepw_old') ]]"
                type="password"
                value="{{ oldPassword }}"
                error-message="[[ localize('c_error_required') ]]"
                auto-validate
                required
                invalid="{{oldPasswordInvalid}}"></paper-input>
        <paper-input
                id="newPassword"
                label="[[ localize('settings_changepw_new') ]]"
                type="password"
                value="{{ newPassword }}"
                on-input="_validatePasswordMatch"
                error-message="[[ localize('c_error_required') ]]"
                auto-validate
                required
                invalid="{{newPasswordInvalid}}"></paper-input>
        <paper-input
                id="newPasswordConfirm"
                label="[[ localize('settings_changepw_confirmNew') ]]"
                type="password"
                value="{{ newPasswordConfirm }}"
                on-input="_validatePasswordMatch"
                on-blur="_validateConfirmNotEmpty"
                error-message="[[ localize('settings_changepw_error_mismatch') ]]"
                required
                invalid="{{newPasswordConfirmInvalid}}"></paper-input>

        <div class="actions">
            <paper-button on-tap="_resetFields">[[ localize('c_button_reset') ]]</paper-button>
            <paper-button on-tap="_fireChangeRequest">[[ localize('settings_changepw_storepw') ]]</paper-button>
        </div>

        <paper-toast class="errorToast"
                     id="apiErrorToast"
                     text="[[ localize('settings_changepw_apierror') ]]"></paper-toast>
        <paper-toast class="errorToast"
                     id="inputErrorToast"
                     text="[[ localize('settings_changepw_inputerror') ]]"></paper-toast>
        <paper-toast id="successToast"
                     text="[[ localize('settings_changepw_success') ]]"></paper-toast>

        <!-- Password change -->
        <api-request body="[[changeAjax.body]]"
                     endpoint="[[changeAjax.endpoint]]"
                     headers="[[changeAjax.headers]]"
                     method="[[changeAjax.method]]"
                     on-api-response="_changeSuccess"
                     on-api-error="_changeFailed"
                     loading="{{isLoading}}"></api-request>

        <!-- Re-login -->
        <api-request endpoint="[[loginAjax.endpoint]]"
                     body="[[loginAjax.body]]"
                     method="[[loginAjax.method]]"
                     on-api-response="_loginSuccess"
                     on-api-error="_changeFailed"
                     loading="{{isLoading}}"></api-request>

        <!--Iron Signal for Localization-->
        <iron-signals on-iron-signal-language="changeLanguage"></iron-signals>

    </template>

    <script>

        Polymer({

            is: 'settings-change-password',

            behaviors: [
                Polymer.MyLocalizeBehavior
            ],

            properties: {

                /* Input fields */
                oldPassword: {
                    type: String,
                    value: '' },
                newPassword: {
                    type: String,
                    value: '' },
                newPasswordConfirm: {
                    type: String,
                    value: '' },

                /* Validations */
                oldPasswordInvalid: {
                    type: Boolean,
                    value: false },
                newPasswordInvalid: {
                    type: Boolean,
                    value: false },
                newPasswordConfirmInvalid: {
                    type: Boolean,
                    value: false },

                /* API data */
                accessToken: {
                    type: String,
                    notify: true,
                    value: '' },
                isLoading: {
                    type: Boolean,
                    value: false },
                userEmail: {
                    type: String,
                    value: '' }
            },

            /** UI Methods */
            _resetFields: function () {
                this.oldPassword = '';
                this.newPassword = '';
                this.newPasswordConfirm = '';
                this.oldPasswordInvalid = false;
                this.newPasswordInvalid = false;
                this.newPasswordConfirmInvalid = false;
            },

            /** Validation Methods */
            _validateAll: function () {
                if (this.oldPassword === '') {
                    this.oldPasswordInvalid = true;
                }
                if (this.newPassword === '') {
                    this.newPasswordInvalid = true;
                }
                this._validateConfirmNotEmpty();
            },

            _validateConfirmNotEmpty: function () {
                if (this.newPasswordConfirm === '') {
                    this.newPasswordConfirmInvalid = true;
                } else {
                    this.newPasswordConfirmInvalid = false;
                    this._validatePasswordMatch();
                }
            },

            _validatePasswordMatch: function () {
                if (this.newPasswordConfirm === ''
                        || this.newPassword === this.newPasswordConfirm) {
                    this.newPasswordConfirmInvalid = false;
                    this.set('newPasswordErrorMessageLocaleString', 'c_error_required');
                } else {
                    this.newPasswordConfirmInvalid = true;
                    this.set('newPasswordErrorMessageLocaleString','c_error_pwmismatch');
                }
            },

            /** API Methods */
            _fireChangeRequest: function () {
                this._validateAll();
                if (!this.oldPasswordInvalid
                        && !this.newPasswordInvalid
                        && !this.newPasswordConfirmInvalid) {

                    this.changeAjax = {
                        body: {
                            oldPassword: this.oldPassword,
                            newPassword: this.newPassword
                        },
                        endpoint: '/platformusers/changepassword',
                        headers: {
                            Authorization: this.accessToken
                        },
                        method: 'POST'
                    };

                } else {
                    this.$.inputErrorToast.open();
                }
            },

            _changeSuccess: function () {
                console.log('password change success');
                this.loginAjax = {
                    body: {
                        email: this.userEmail,
                        password: this.newPassword
                    },
                    endpoint: '/platformusers/login',
                    method: 'POST'
                };
            },

            _loginSuccess: function (event) {
                console.log('Re login success');
                console.log('New accessToken: '+event.detail.id);
                this.set('accessToken', event.detail.id);
                this.$.successToast.open();
                this._resetFields();
            },

            _changeFailed: function () {
                this.$.apiErrorToast.open();
            }

        });

    </script>

</dom-module>