<!--Localization Imports-->
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../services/my-localize-behavior.html">

<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<dom-module id="settings-change-password">

    <template>

        <style include="shared-styles">

            :host {
                margin: 0 20px;
            }

            paper-button {
                display: inline-block;
                margin: 10px 10px 10px 0;
                max-width: 200px;
            }

            paper-input-container, paper-input {
                --paper-input-container-color: var(--paper-blue-grey-500);
                --paper-input-container-focus-color: var(--paper-blue-grey-900);
            }

            .spinner-container {
                background-color: rgba(255,255,255,0.8);
                display: block;
                height: 100%;
                left: 0;
                position: absolute;
                text-align: center;
                top: 0;
                width: 100%;
                z-index: 100;
            }

            paper-spinner[active]{
                height: 50px;
                margin: auto;
                top: calc(50% - 25px);
                width: 50px;
            }

            .errorToast {
                --paper-toast-background-color: var(--paper-red-300);
                --paper-toast-color: var(--paper-blue-grey-900);
            }

        </style>

        <template is="dom-if" if="[[ isLoading ]]">
            <div class="spinner-container">
                <paper-spinner active="[[ isLoading ]]"></paper-spinner>
            </div>
        </template>

        <paper-input
                id="oldPassword"
                label="Old password"
                type="password"
                value="{{ oldPassword }}"
                error-message="required"
                auto-validate
                required
                invalid="{{oldPasswordInvalid}}"></paper-input>
        <paper-input
                id="newPassword"
                label="New password"
                type="password"
                value="{{ newPassword }}"
                on-input="_validatePasswordMatch"
                error-message="required"
                auto-validate
                required
                invalid="{{newPasswordInvalid}}"></paper-input>
        <paper-input
                id="newPasswordConfirm"
                label="Confirm new password"
                type="password"
                value="{{ newPasswordConfirm }}"
                on-input="_validatePasswordMatch"
                on-blur="_validateConfirmNotEmpty"
                error-message="[[ newPasswordErrorMessage ]]"
                required
                invalid="{{newPasswordConfirmInvalid}}"></paper-input>

        <div class="actions">
            <paper-button on-tap="_resetFields">Reset fields</paper-button>
            <paper-button on-tap="_fireChangeRequest">Submit change</paper-button>
        </div>

        <paper-toast class="errorToast"
                     id="apiErrorToast"
                     text="Error changing your password. Please try again."></paper-toast>
        <paper-toast class="errorToast"
                     id="inputErrorToast"
                     text="Your input contains errors"></paper-toast>
        <paper-toast id="successToast"
                     text="Password changed sucessfully"></paper-toast>

        <api-request body="[[ajax.body]]"
                     endpoint="[[ajax.endpoint]]"
                     headers="[[ajax.headers]]"
                     method="[[ajax.method]]"
                     on-api-response="_changeSuccess"
                     on-api-error="_changeFailed"
                     loading="{{isLoading}}"></api-request>

        <!--Iron Signal for Localization-->
        <iron-signals on-iron-signal-language="changeLanguage"></iron-signals>

    </template>

    <script>

        Polymer({

            is: 'settings-change-password',

            behaviors: [
                Polymer.MyLocalizeBehavior
            ],

            properties: {

                /* Input fields */
                oldPassword: {
                    type: String,
                    value: '' },
                newPassword: {
                    type: String,
                    value: '' },
                newPasswordConfirm: {
                    type: String,
                    value: '' },

                /* Validations */
                oldPasswordInvalid: {
                    type: Boolean,
                    value: false },
                newPasswordInvalid: {
                    type: Boolean,
                    value: false },
                newPasswordConfirmInvalid: {
                    type: Boolean,
                    value: false },

                /* Error messages */
                newPasswordErrorMessage: {
                    type: String,
                    value: 'required' },

                /* API data */
                accessToken: {
                    type: String,
                    value: '' },
                isLoading: {
                    type: Boolean,
                    value: false }

            },

            /** UI Methods */
            _resetFields: function () {
                this.oldPassword = '';
                this.newPassword = '';
                this.newPasswordConfirm = '';
                this.oldPasswordInvalid = false;
                this.newPasswordInvalid = false;
                this.newPasswordConfirmInvalid = false;
            },

            /** Validation Methods */
            _validateAll: function () {
                if (this.oldPassword === '') {
                    this.oldPasswordInvalid = true;
                }
                if (this.newPassword === '') {
                    this.newPasswordInvalid = true;
                }
                this._validateConfirmNotEmpty();
            },

            _validateConfirmNotEmpty: function () {
                if (this.newPasswordConfirm === '') {
                    this.newPasswordConfirmInvalid = true;
                } else {
                    this.newPasswordConfirmInvalid = false;
                    this._validatePasswordMatch();
                }
            },

            _validatePasswordMatch: function () {
                if (this.newPasswordConfirm === ''
                        || this.newPassword === this.newPasswordConfirm) {
                    this.newPasswordConfirmInvalid = false;
                    this.newPasswordErrorMessage = 'required';
                } else {
                    this.newPasswordConfirmInvalid = true;
                    this.newPasswordErrorMessage = 'passwords don\'t match';
                }
            },

            /** API Methods */
            _fireChangeRequest: function () {
                this._validateAll();
                if (!this.oldPasswordInvalid
                        && !this.newPasswordInvalid
                        && !this.newPasswordConfirmInvalid) {

                    this.ajax = {
                        body: {
                            newPassword: this.newPassword
                        },
                        endpoint: '/platformusers/changepassword',
                        headers: {
                            Authorization: this.accessToken
                        },
                        method: 'POST'
                    };

                } else {
                    this.$.inputErrorToast.open();
                }
            },

            _changeSuccess: function () {
                this.$.successToast.open();
                this._resetFields();
            },

            _changeFailed: function () {
                this.$.apiErrorToast.open();
            }

        });

    </script>

</dom-module>