<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/iron-data-table/iron-data-table.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">


<dom-module id="tutor-sessionlist">

    <template>

        <style include="shared-styles">
            :host {
                min-width: 320px;
                display: block;
                /*background-color: var(--paper-blue-grey-100);*/
            }
            paper-button {
                width: calc(35% - 20px);
            }
            paper-item {
                cursor: pointer
            }
            .session_date {
                width: 35%;
                min-width: 150px;
            }
            .session_time {
                width: 20%;
            }
            .session_icon {
                width: 5%;
                min-width: 24px;
            }
            .session_type {
                width: 30%;
            }
            .sessions_row {
                border-top: 2px solid var(--paper-grey-200)
            }
            .sessions_row:first-of-type {
                border-top: none
            }
            .sessions_row:hover {
                background-color: var(--paper-grey-100)
            }
            .sessions_heading {
                background-color: var(--paper-blue-grey-800);
                color: white;
                /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
            }
            .session_details {
                font-size: 12px;
            }
            paper-listbox {
                padding: 0
            }
            .session-unfolded {
                border-left: 5px solid var(--paper-blue-grey-400);
                font-weight: bold;
            }
            .session_toggleDropdown {
                width: 4%;
                color: var(--paper-blue-grey-200);
            }
            .session-unfolded .session_toggleDropdown {
                transform: rotate(90deg);
                transition: transform .3s;
            }

        </style>

        <api-request
                headers="[[ ajax_labs.headers ]]"
                method="[[ ajax_labs.method ]]"
                endpoint="[[ ajax_labs.endpoint ]]"
                on-api-response="_apiLabsResponse"></api-request>
        <api-request
                headers="[[ ajax_exercises.headers ]]"
                method="[[ ajax_exercises.method ]]"
                endpoint="[[ ajax_exercises.endpoint ]]"
                on-api-response="_apiExercisesResponse"></api-request>
        <api-request
                id="ajax_group"
                headers="[[ ajax_group.headers ]]"
                method="[[ ajax_group.method ]]"
                endpoint="[[ ajax_group.endpoint ]]"
                on-api-response="_apiGroupResponse"></api-request>
        <api-request
                id="ajax_student"
                headers="[[ ajax_student.headers ]]"
                method="[[ ajax_student.method ]]"
                endpoint="[[ ajax_student.endpoint ]]"
                on-api-response="_apiStudentResponse"></api-request>

        <div class="lab-list-container">
            <template is="dom-if" if="[[ !finishedSessionsLoad ]]">
                <paper-spinner active></paper-spinner>
            </template>
            <template is="dom-if" if="[[ finishedSessionsLoad ]]">
                <paper-listbox>

                    <paper-item on-click="toggleCollapse" class="sessions_heading">
                        <span class="session_toggleDropdown mobile-hidden" style="width: 4%">
                        </span>
                        <span class="session_date">[[ localize('tutor_sessionlist_heading_date') ]]</span>
                        <span class="session_time">[[ localize('tutor_sessionlist_heading_time') ]]</span>
                        <span class="session_icon" style="width:15%"></span>
                        <span class="session_type"></span>
                    </paper-item>

                    <template id="sessionlist" is="dom-repeat" items="[[ futureSessions ]]" as="session"
                        >
                        <!--[[ session.id ]]-->
                        <!--<template is="dom-repeat" items="[[ session.groupMembers ]]" as="member">-->
                            <!--[[ member.name ]]-->
                        <!--</template>-->

                        <paper-item on-click="toggleCollapse" class="sessions_row" id="src-[[ session.id ]]">
                            <span class="session_toggleDropdown mobile-hidden">
                                <iron-icon icon="hardware:keyboard-arrow-right"></iron-icon>
                            </span>
                            <span class="session_date">[[ session.date_string ]]</span>
                            <span class="session_time">[[ session.time_string ]]</span>
                            <span class="session_icon"><iron-icon icon="[[ session.icon ]]"></iron-icon></span>
                            <span class="session_type">[[ session.labType_string ]]</span>
                        </paper-item>

                        <iron-collapse id="collapse-[[ session.id ]]">
                            <paper-item class="session_details" style="border-left: 2px solid var(--paper-blue-grey-500)">
                                [[ session.location ]]
                            </paper-item>
                            <paper-item class="session_details" style="border-left: 2px solid var(--paper-blue-grey-500)">
                                [[ session.labType_description_tutor ]]
                            </paper-item>

                            <template is="dom-if" if="[[ typeof session.groupMembers == 'undefined' ]]"> groupmembers undefined</template>

                            <template is="dom-repeat" items="[[ session.groupMembers ]]" as="groupMember">
                                <paper-item>
                                    [[ groupMember.name ]]
                                </paper-item>
                            </template>
                            </template>
                        </iron-collapse>

                    </template>
                </paper-listbox>
            </template>
        </div>

        <iron-signals on-iron-signal-switchlocale="_switchLocale"></iron-signals>
    </template>
    <script>


        Polymer({
            is: 'tutor-sessionlist',
            properties: {
                accessToken: String,
                language: {
                    type: String,
                    value: 'de'
                },
                selfInfo: String,
                nextSessions: {
                    type: Array,
                    value: []
                },
                users_in_exercises: {
                    type: Array,
                    value: []
                },
                sessions: {
                    type: Array,
                    value: []
                },
                futureSessions: {
                    type: Array,
                    value: []
                },
                assignedLabs: {
                    type: Array
                },
                labTypeAudio: Object,
                labTypeVideo: Object,
                labTypeFoto: Object,
                labTypesArray: {
                    type: Array,
                    value: []
                },
                finishedSessionsLoad: false,
                studentsList: {
                    type: Array,
                    value: []
                },
                allSessionsRequested: false
            },

            observers: [
                '_initSessionList(labTypeAudio, labTypeVideo, labTypeFoto, assignedLabs, accessToken)',
//                '_initSessionList(labTypesArray, assignedLabs)'
            ],

            ready: function () {
//                this.ajax_labs = {
//                    headers: {
//                        Authorization: this.accessToken
//                    },
//                    method: 'GET',
//                    endpoint: '/labs/?filter[where][tutorId]=' + this.selfInfo.id
//                };
//                this.ajax_exercises = {
//                    headers: {
//                        Authorization: this.accessToken
//                    },
//                    method: 'GET',
////                    endpoint: '/exercises/?filter[where][tutor]=' + this.selfInfo.id
//                        endpoint: '/platformusers/' + this.selfInfo.id + '/exercise'
//                };
//                this.ajax_labTypes = {
//                    'headers': {
//                        'Authorization': this.accessToken
//                    },
//                    method: 'GET',
//                    endpoint: '/labTypes/'
//                };
            },

            /**
             * Localization setup
             */
            behaviors: [
                Polymer.AppLocalizeBehavior
            ],
            attached: function() {
                this.loadResources(this.resolveUrl('../shared/locales.json'));
            },
            _switchLocale: function() {
                this.language = (this.language == 'en') ? 'de' : 'en';
            },

            toggleCollapse: function(e) {
                this.$$("#collapse-" + e.model.session.id).toggle();
                this.$$("#src-" + e.model.session.id).classList.toggle('session-unfolded');
            },

            prettySessionEntry: function(item) {
                prettyItem = item
                console.log(prettyItem)

                switch(item.labType_string){
                    case "":
                        prettyItem.icon = "social:school";
                        prettyItem.labType_string = "Übung"
                        break;
                    case "Audio":
                        prettyItem.icon = "av:volume-mute";
                        break;
                    case "Video":
                        prettyItem.icon = "av:videocam";
                        break;
                    case "Foto":
                        prettyItem.icon = "image:photo-camera";
                        break;
                }

                console.log(item)
                if(typeof item.groupMembers != 'undefined' && item.groupMembers.length != 0)
                    console.log("fdasdfsaf")
                return prettyItem;
            },

            _apiLabsResponse: function(response) {
                this._initSessionList(response.detail)
//                this.futureLabs = this.getOnlyFutureDates(response.detail);
            },
            _apiExercisesResponse: function(response) {
//                this.futureExercises = this.getOnlyFutureDates(response.detail);
                if (response.detail.length == 0)
                    return;
                this._initSessionList(response.detail)
            },

            /**
             * Function to remove objects that have a property 'date' that lies in the past from an array
             * @param allSessions
             * @returns {Array}
             */
            onlyFutureSessions: function(allSessions) {
                var futureDates = [];
                var today = Date.now();
                for (var i = 0; i < allSessions.length; i++) {
                    var currentSession = allSessions[i];
                    if (new Date(currentSession.date) > today)
                        this.push('futureSessions', allSessions[i]);
                }
            },

            /**
             * Initialize sessions list
             */
            _initSessionList: function(labTypeAudio, labTypeVideo, labTypeFoto, assignedLabs, accessToken) {

                if (assignedLabs.length == 0)
                    return null;

                this._makeLabTypesArray(labTypeAudio, labTypeVideo, labTypeFoto);

                var labTypesArray = [labTypeAudio, labTypeVideo, labTypeFoto];

                var type = ("labTypeId" in assignedLabs[0]) ? "lab" : "exercise";
                var sessions_list = [];
                console.log(assignedLabs);

                for (var i = 0; i < assignedLabs.length; i++) {

                    var date = new Date(assignedLabs[i].date);
                    var date_string = this._getDateString(date);
                    var time_string = (date.getHours() + 1) + ":" + (date.getMinutes()<10 ? '0' : '') + date.getMinutes();
                    var labType_string = ""
                    var labType_description_tutor = ""

                    if (labTypesArray.length != 0) {
                        for (var j = 0; j < labTypesArray.length; j++) {
                            if (labTypesArray[j].id == assignedLabs[i].labTypeId) {
                                labType_string = labTypesArray[j].type_str
                                labType_description_tutor = labTypesArray[j].description_tutor
                            }
                        }
//                        if (assignedLabs[i].labTypeId in labTypesArray)
//                            labType_string = labTypesArray[assignedLabs[i].labTypeId]
                    }

                    var session = {
                        'id': assignedLabs[i].id,
                        'type': type,
                        'date': assignedLabs[i].date,
                        'date_string': date_string,
                        'time_string': time_string,
                        'location': assignedLabs[i].location,
                        'groupId': assignedLabs[i].groupId,
                        'labTypeId': assignedLabs[i].labTypeId,
                        'labType_string': labType_string,
                        'labType_description_tutor': labType_description_tutor,
                        'exercise_name': assignedLabs[i].name,
                        'groupMembers': []
                    };

                    this.push('sessions', session);
                    this.$.ajax_group.$.request.auto = false;

                    // If a group signed up for the session, get their data
                    if (typeof assignedLabs[i].groupId != 'undefined') {
                        this.ajax_group = {
                            'headers': {
                                'Authorization': this.accessToken
                            },
                            'method': 'GET',
                            'endpoint': '/labs/' + assignedLabs[i].id + '/group'
                        }
                        this.$.ajax_group.$.request.generateRequest();
                    }
                }
                this.onlyFutureSessions(this.sessions);
                this.allSessionsRequested = true;
            },

            _apiGroupResponse: function(response) {
                console.log(response.detail)
                var receivedGroup = response.detail
                var studentsList = []

                for (var j = 0; j < this.sessions.length; j++) {
                    if(receivedGroup.id == this.sessions[j].groupId) {
                        this.sessions[j].group = receivedGroup;
                        this.sessions[j].groupMembers = []
                        for (var m = 0; m < receivedGroup.groupMemberIds.length; m++) {
                            var groupmember = { id: receivedGroup.groupMemberIds[m] }
                            this.sessions[j].groupMembers.push(groupmember)

                            if (this.studentsList.indexOf(groupmember) < 0)
                                this.studentsList.push(groupmember)
                        }
                    }
                }
                console.log(this.sessions);
                console.log(this.studentsList);

                // make students api call if all have been collected in the studentsList only
                if (!this.allSessionsRequested)
                    return;

                for (var s = 0; s < this.studentsList.length; s++) {
                    this.ajax_student = {
                        'headers': {
                            'Authorization': this.accessToken
                        },
                        'method': 'GET',
                        'endpoint': '/platformusers/' + this.studentsList[s].id
                    }
                    this.$.ajax_student.$.request.generateRequest();
                }
            },

            _apiStudentResponse: function(response) {
//                console.log(response.detail)
                var receivedStudent = response.detail;

//                for (var s = 0; s < this.studentsList.length; s++) {
//                    if (this.studentsList[s].id == receivedStudent.id) {
//                        this.studentsList[s].email = receivedStudent.email;
//                        this.studentsList[s].first_name = receivedStudent.first_name;
//                        this.studentsList[s].name = receivedStudent.name;
//                    }
//                }

                for (var i = 0; i < this.sessions.length; i++) {
                    if (typeof this.sessions[i].groupMembers == 'undefined')
                        continue;
                    for (var j = 0; j < this.sessions[i].groupMembers.length; j++) {
                        if (this.sessions[i].groupMembers[j].id == receivedStudent.id) {
                            this.sessions[i].groupMembers[j].email = receivedStudent.email;
                            this.sessions[i].groupMembers[j].first_name = receivedStudent.first_name;
                            this.sessions[i].groupMembers[j].name = receivedStudent.name;
                        }
                    }
                }

                var sessions = this.sessions;
                console.log("now")
                console.log(sessions)
                this.set('sessions', []);
                this.set('sessions', sessions);
//                if (this.allStudentsRequested)
//                    this.$$("#sessionlist").render();
            },

            _makeLabTypesArray: function(labtypeAudio, labtypeVideo, labtypeFoto) {
//                console.log(response.detail)
                var labtypes = [ labtypeAudio, labtypeVideo, labtypeFoto ];

                for (var i = 0; i < labtypes.length; i++) {
                    this.labTypesArray[labtypes[i].type_str] =  {
                        'id':  labtypes[i].id,
                        'name': labtypes[i].type_str,
                        'registration_open': labtypes[i].registration_open
                    }

                    if (this.sessions.length != 0) {
                        var labType_string;
                        for (var j = 0; j < this.sessions.length; j++) {
                            if (labtypes[i].id == this.sessions[j].labTypeId) {
                                this.sessions[j].labType_string = labtypes[i].type_str
                            }
                        }
//                        this.notifyPath('sessions.name');
//                        var sessions = this.sessions;
//                        this.sessions = []
//                        this.sessions = sessions;

                        var sessions = this.sessions;
                        this.set('sessions', []);
                        this.set('sessions', sessions);
                    }
                }

                this.finishedSessionsLoad = true
                return this.labTypesArray;
            },

            /**
             * Creates string from the given date
             * @param {String} date - date that will be transformed to String
             */
            _getDateString: function(date){
                var datestring = "";
                switch(date.getDay()){

                    case 0:
                        datestring = "Sonntag, ";
                        break;
                    case 1:
                        datestring = "Montag, ";
                        break;
                    case 2:
                        datestring = "Dienstag, ";
                        break;
                    case 3:
                        datestring = "Mittwoch, ";
                        break;
                    case 4:
                        datestring = "Donnerstag, ";
                        break;
                    case 5:
                        datestring = "Freitag, ";
                        break;
                    case 6:
                        datestring = "Samstag, ";
                        break;
                }
                datestring = datestring+date.getDate()+"."+ (date.getMonth()+1) + "."+date.getFullYear();
                return datestring;
            },
        });
    </script>
</dom-module>