<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../shared/shared-styles.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">


<dom-module id="login-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      .login-container{
        width:320px;
        height: 640px;
        background-color: var(--paper-blue-grey-50);
      }
      /*Phone*/
      @media screen and (max-width: 767px) {

      }
      /*Tablet*/
      @media screen and (min-width: 768px) and (max-width: 1023px) {

      }
      /*Desktop*/
      @media screen and (min-width: 1024px) {

      }
    </style>

    <div class="login-container">
      <paper-input value="{{name}}"></paper-input>
      <paper-icon-button icon="" ontap="_login">Login</paper-icon-button>
    </div>
  </template>

  <script>
    Polymer({

      is: 'login-view',

      properties: {
        name: {
          type: String
        },
        password: {
          type: String
        }
      },
      _login: function (e) {
        console.log("Logged in");
      }
      //Resize listener not yet workings
      /*ready: function(){
        window.addEventListener("resize", function() { this.windowResize(); });
      },
      windowResize: function(){
          this.expanded = ($(window).width()>767);
      }*/

    });
  </script>
</dom-module>
