<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../services/get-user-info.html">
<link rel="import" href="../components/admin-card.html">

<!--Localization Imports-->
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../services/my-localize-behavior.html">


<dom-module id="admin-dashboard">
    <template>
        <style>
            :host{
            }

            .user-container {
                float: left;
            }


            .practicals-container {
                float: left;
            }

            iron-collapse {
                width: 100%;
            }


            .user-container {
                margin: 0 10px;
            }

            .practicals-container {
                margin: 10px 10px;
            }

            /*Phone*/
            @media screen and (max-width: 767px) {
                .user-container {
                    width: calc(100% - 20px);
                }

                .practicals-container {
                    width: calc(100% - 20px);
                }
            }

            /*Tablet*/
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                .user-container {
                    width: calc(50% - 20px);
                }

                .practicals-container {
                    width: calc(50% - 20px);
                }
            }

            /*Desktop*/
            @media screen and (min-width: 1024px) {
                .user-container {
                    width: calc(35% - 20px);
                }

                .practicals-container {
                    width: calc(35% - 20px);
                }
            }
        </style>
        <div></div>

        <div class="user-container">
                <!-- A D M I N   T O O L B A R -->
                <admin-toolbar
                        user="[[ user ]]"
                        selected-semester="{{ adminSelectedSemesterId }}"></admin-toolbar>
            <admin-card label="{{localize('admin_dashboard admins')}}"
                        path-to-icon="../../images/admin.svg"
                        role="admins"></admin-card>
            <admin-card label="{{localize('admin_dashboard tutors')}}"
                        path-to-icon="../../images/tutor.svg"
                        role="tutors"></admin-card>
            <admin-card label="{{localize('admin_dashboard students')}}"
                        path-to-icon="../../images/student.svg"
                        role="students"></admin-card>
            <admin-card label="{{localize('admin_dashboard groups')}}"
                        path-to-icon="../../images/group.svg"
                        role="groups"></admin-card>
            </div>

        <div class="practicals-container">
            <template is="dom-repeat" items="[[labTypes]]" as="labType">
                <index-card lab-type="[[labType]]" group="[[group]]"></index-card>
            </template>
        </div>

        <!--Iron Signal for Localization-->
        <iron-signals on-iron-signal-language="changeLanguage"></iron-signals>

    </template>
    <script>
        Polymer({
            is: 'admin-dashboard',
            properties: {
                accessToken: {
                    type: String
                },
                adminSelectedSemesterId: {
                    type: String
                }
            },
            behaviors: [
                Polymer.MyLocalizeBehavior
            ],
            ready: function() {

            }
        });
    </script>
</dom-module>