<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../services/get-user-info.html">
<link rel="import" href="../components/admin-card.html">

<!--Localization Imports-->
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../services/my-localize-behavior.html">


<dom-module id="admin-dashboard">
    <template>
        <style>
            :host{
            }

            .user-container {
                float: left;
            }


            .practicals-container {
                float: left;
            }

            iron-collapse {
                width: 100%;
            }

            admin-toolbar {
                margin: 0 10px;
                width: auto;
            }

            /*Phone*/
            @media screen and (max-width: 767px) {
                .user-container {
                    width: 100%;
                    min-width: 320px;
                }

                .practicals-container {
                    min-width: 320px;
                    width: 100%;
                }

                admin-toolbar {
                    margin: 0;
                }
            }

            /*Tablet*/
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                .user-container {
                    margin: 10px;
                    width: calc(50% - 20px);
                }

                .practicals-container {
                    margin: 10px;
                    width: calc(50% - 20px);
                }
            }

            /*Desktop*/
            @media screen and (min-width: 1024px) {
                .user-container {
                    margin: 10px;
                    width: calc(35% - 20px);
                }

                .practicals-container {
                    margin: 10px;
                    width: calc(35% - 20px);
                }
            }
        </style>

        <div class="user-container">
                <!-- A D M I N   T O O L B A R -->
                <admin-toolbar
                        user="[[ user ]]"
                        selected-semester="{{ adminSelectedSemesterId }}"></admin-toolbar>
            <admin-card label="{{localize('admin_dashboard tutors')}}"
                        path-to-icon="../../images/tutor.svg"
                        role="tutors"></admin-card>
            <admin-card label="{{localize('admin_dashboard students')}}"
                        path-to-icon="../../images/student.svg"
                        role="students"></admin-card>
            <admin-card label="{{localize('admin_dashboard groups')}}"
                        path-to-icon="../../images/group.svg"
                        role="groups"></admin-card>
                <!--group-card key="groups" group-name="Gruppen" on-tap="toggleGroup"></group-card>
                <iron-collapse id="collapse" opened=true>
                    <groups-admin class="group-info"
                                  access-token="[[ accessToken ]]"
                                  self-info="{{user}}"
                                  selected-semester="[[ adminSelectedSemesterId ]]"></groups-admin>
                </iron-collapse-->
            </div>

        <div class="practicals-container">
                <index-card type="Fotopraktikum" label1="Lab:" info1="in 6 Tagen" label2="Abgabe:"
                            info2="18.05.16, 14-16"></index-card>
                <index-card type="Videopraktikum" label1="Lab:" info1="in 6 Tagen" label2="Abgabe:"
                            info2="18.05.16, 14-16"></index-card>
                <index-card type="Audiopraktikum" label1="Lab:" info1="in 6 Tagen" label2="Abgabe:"
                            info2="18.05.16, 14-16"></index-card>
        </div>

        <!--Iron Signal for Localization-->
        <iron-signals on-iron-signal-language="changeLanguage"></iron-signals>



    </template>
    <script>
        Polymer({
            is: 'admin-dashboard',
            properties: {
                accessToken: {
                    type: String
                },
                adminSelectedSemesterId: {
                    type: String
                }
            
            },
            behaviors: [
                Polymer.MyLocalizeBehavior
            ],
            listeners: {
                'CREATE' : '_openCreate'
            },
            ready: function() {
                console.log(this.adminSelectedSemesterId);
            },
            _handleTap: function (event) {
                console.log(event.target);
                console.log(event);
                //var key = event.target.getAttribute('key');
                //this.fire('CHANGE_ROUTE', {path: '/'+key, page: key});
                //console.log(event.model);
            },
            _openCreate: function (event) {
                console.log(event);
            }
        });
    </script>
</dom-module>