<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../services/get-user-info.html">

<dom-module id="admin-dashboard">
    <template>
        <style>
            :host{
            }
        </style>
        <div></div>

        <div class="group-placeholder" on-tap="_handleTap">
                <!-- A D M I N   T O O L B A R -->
                <admin-toolbar
                        user="[[ user ]]"
                        selected-semester="{{ adminSelectedSemesterId }}"
                        main-view-page="{{ page }}"></admin-toolbar>
                <group-card key="groups" group-name="Gruppen" on-tap="toggleGroup"></group-card>
                <iron-collapse id="collapse" opened=true>
                    <groups-admin class="group-info"
                                  access-token="[[ accessToken ]]"
                                  self-info="{{user}}"
                                  selected-semester="[[ adminSelectedSemesterId ]]"></groups-admin>
                </iron-collapse>
            </div>

        <div class="practicalsContainer">
            <div on-tap="_handleFotoTap">
                <index-card type="Fotopraktikum" label1="Lab:" info1="in 6 Tagen" label2="Abgabe:"
                            info2="18.05.16, 14-16"></index-card>
            </div>
            <div on-tap="_handleVideoTap">
                <index-card type="Videopraktikum" label1="Lab:" info1="in 6 Tagen" label2="Abgabe:"
                            info2="18.05.16, 14-16"></index-card>
            </div>
            <div on-tap="_handleAudioTap">
                <index-card type="Audiopraktikum" label1="Lab:" info1="in 6 Tagen" label2="Abgabe:"
                            info2="18.05.16, 14-16"></index-card>
            </div>
        </div>

    </template>
    <script>
        Polymer({
            is: 'admin-dashboard',
            properties: {
                accessToken: {
                    type: String
                },
                adminSelectedSemesterId: {
                    type: String
                },
            
            },
            ready: function() {
            
            },
            _handleTap: function (event) {
                console.log(event);
                //console.log(event.path[0].key);
                var key = event.target.getAttribute('key');
                this.fire('CHANGE_ROUTE', {path: '/'+key, page: key});
                //console.log(event.model);
            },
        });
    </script>
</dom-module>