<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../components/group-detail.html">

<dom-module id="group-view">
    <template>
        <style>
            :host{
            }
        </style>
        <div>
            <group-detail></group-detail>
        </div>
    </template>
    <script>
        Polymer({
            is: 'group-view',
            properties: {
            
            },
            ready: function() {
            
            }
        });
    </script>
</dom-module>