<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../components/group-detail.html">

<!--Localization Imports-->
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../services/my-localize-behavior.html">


<dom-module id="group-view">
    <template>
        <style>
            :host{
            }
        </style>
        <div>
            <group-detail></group-detail>
        </div>
        <!--Iron Signal for Localization-->
        <iron-signals on-iron-signal-language="changeLanguage"></iron-signals>

    </template>
    <script>
        Polymer({
            is: 'group-view',
            properties: {
            
            },
            ready: function() {
            
            },
            behaviors: [
                Polymer.MyLocalizeBehavior
            ]
        });
    </script>
</dom-module>