<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../shared/shared-styles.html">
<link rel="import" href="../services/get-user-info.html">
<link rel="import" href="../services/get-access-token.html">
<link rel="import" href="../services/api-request.html">
<link rel="import" href="../components/mail-input.html">

<!--Localization Imports-->
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../services/my-localize-behavior.html">


<dom-module id="groups-admin">

    <template>

        <style include="shared-styles iron-flex iron-flex-alignment">

            h1 > span {
                font-style: italic;
            }

            h1 {
                height: auto;
            }

            .userInfo {
                display: block;
                padding-bottom: 10px;
            }

            .userInfo > .member {
                margin: 0 10px;
                padding: 10px;
                border-bottom: 1px solid var(--paper-blue-grey-700);
                background-color: var(--paper-blue-grey-50);
                height: 20px;
                overflow: hidden;
            }
            .member div :last-of-type {
                border-radius: 5px 5px 0 0;
            }

            .userInfo > .member > h2 {

                position: relative;
                margin: 0 0 0 40px;
                width: calc(100% - 40px);
                top: -5px;
                color: var(--paper-blue-grey-700);
                font-size: 13px;
            }

            .userInfo > .member > a {
                float: left;
                width: 40px;
                position: relative;
                top: -10px;
            }

            .userInfo > .member > a > paper-icon-button {
                color: var(--paper-blue-grey-700);
            }

            .container {
                padding: 20px;
            }

            .student {
                /*height: 50px;*/
                background-color: var(--paper-blue-grey-100);
                margin: 5px;

                min-width: 250px;
                border-radius: 5px;

                width: 100%;
            }

            .student > h1 {
                width: calc(100% - 100px);
                float: left;
                margin: 10px;

                font-size: 20px;
                height: 30px;
                padding: 0 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .student > paper-icon-button {
                float: right;
                margin: 5px;
            }

            #createDialog{
                min-width: 300px;
            }

        </style>

        <paper-dialog id="deleteDialog" on-iron-overlay-closed="_reactToDeleteDialog">
            <div>
                <h1>{{localize('groupsadmin_dialog text-1')}}<span></span> {{localize('groupsadmin_dialog text-2')}}
                </h1>
                <p>{{localize('admin_dialog text-3')}}</p>
            </div>
            <div class="buttons">
                <paper-button dialog-dismiss autofocus>{{localize('c_button_cancel')}}</paper-button>
                <paper-button dialog-confirm>OK</paper-button>
            </div>
        </paper-dialog>

        <paper-dialog id="createDialog" on-iron-overlay-closed="_reactToCreateDialog">
            <div>
                <h1>Please enter the Users E-Mails to create a new group</h1>
                <paper-input class="create-group-input"
                             label="{{localize('groupdetail_create groupname')}} [[calcNaturalIndex(index)]]"
                             value="{{newGroupName}}"
                             required></paper-input>
                <template is="dom-repeat" items="{{members}}" as="member">
                    <paper-input class="create-group-input"
                                 label="{{localize('groupdetail_member')}} [[calcNaturalIndex(index)]]"
                                 value="{{member.name}}"
                                 required>
                        <iron-icon icon="mail" prefix></iron-icon>
                        <div suffix>@campus.lmu.de</div>
                    </paper-input>
                </template>
            </div>
            <div class="buttons">
                <paper-button dialog-dismiss autofocus>{{localize('c_button_cancel')}}</paper-button>
                <paper-button dialog-confirm>OK</paper-button>
            </div>
        </paper-dialog>

        <!-- Fetches Semester Group Size -->
        <api-request
                headers="[[ groupSizeAJAX.headers ]]"
                method="[[ groupSizeAJAX.method ]]"
                endpoint="[[ groupSizeAJAX.endpoint ]]"
                on-api-response="_handleGroupSizeResponse"></api-request>

        <!-- Fetches all current Groups -->
        <api-request
                headers="[[ ajax.headers ]]"
                method="[[ ajax.method ]]"
                endpoint="[[ ajax.endpoint ]]"
                semester-filter="[[ selectedSemester ]]"
                on-api-response="_handleGroupsResponse"></api-request>

        <!-- Deletes Specific group -->
        <api-request
                headers="[[ deleteAjax.headers ]]"
                method="[[ deleteAjax.method ]]"
                endpoint="[[ deleteAjax.endpoint ]]"
                on-api-response="_handleDeleteGroupResponse"></api-request>


        <!-- Create group by mail request -->
        <api-request
                headers="[[ ajaxCreateGroup.headers ]]"
                body="[[ ajaxCreateGroup.body ]]"
                method="[[ ajaxCreateGroup.method ]]"
                endpoint="[[ ajaxCreateGroup.endpoint ]]"
                on-api-response="_handleCreateGroupResponse"
                on-api-error="_handleCreateGroupError"
                loading="{{ isLoading }}"></api-request>

        <!--Lists all Groups-->
        <div class="container horizontal layout wrap">
            <paper-button on-tap="expandAll" style="width: 33%;">Expand all</paper-button>
            <paper-button on-tap="collapseAll" style="width: 33%;">Collapse all</paper-button>
            <paper-icon-button  style="width: 33%;" icon="add-circle-outline" on-tap="create"></paper-icon-button>

            <template is="dom-repeat" items="[[groups]]" as="group">
                <div class="student flex self-center" id="group_[[index]]">
                    <h1 on-tap="_toggleCollapse">[[group.name]]</h1>
                    <paper-icon-button icon="icons:delete" on-tap="_deleteGroup"></paper-icon-button>
                    <iron-collapse id="collapse[[index]]">
                        <div class="userInfo">
                            <template is="dom-repeat" items="[[group.groupMemberIds]]" as="member">
                                <div class="member">
                                    <a href="mailto:[[member.mail]]" tabindex="-1"><paper-icon-button icon="icons:mail"></paper-icon-button></a>
                                    <h2>[[member.name]]</h2>
                                </div>
                            </template>
                        </div>

                </div>
                </iron-collapse>

            </template>
        </div>

        <!--Paper Toasts on Create & Delete, Success or Failure-->
        <paper-toast id="createSuccess" text="{{localize('admin-toast create-success')}}"></paper-toast>
        <paper-toast id="createFail" text="{{localize('admin-toast create-fail')}}"></paper-toast>
        <paper-toast id="deleteSuccess" text="{{localize('admin-toast delete-success')}}"></paper-toast>
        <paper-toast id="deleteFail" text="{{localize('admin-toast delete-fail')}}"></paper-toast>


        <!--Iron Signal for Localization-->
        <iron-signals on-iron-signal-language="changeLanguage"></iron-signals>

        <!--Iron Signal for passing Semester-->
        <iron-signals on-iron-signal-semester="_semesterChanged"></iron-signals>

        <!--Iron Signal Fired on Logout-->
        <iron-signals on-iron-signal-forget="_forget"></iron-signals>


    </template>
    <script>
        Polymer({
            is: 'groups-admin',
            properties: {
                accessToken: String,
                selfInfo: {
                    type: Object,
                    notify: true,
                    readOnly: false,
                    value: {
                        groupId: ''
                    }
                },
                groups: {
                    type: Array
                },
                newGroupName: String,
                students: {
                    type: Array,
                    observer: '_studentsChanged'
                },
                language: {
                    type: String,
                    value: 'de'
                },
                selectedSemester: {
                    type: String
                },
                members: {
                    type: Array
                }
            },
            behaviors: [
                Polymer.MyLocalizeBehavior
            ],


            _studentsChanged: function (detail) {
                if(detail.length!==0) {
                    this.set('students',detail);

                    this.ajax = {
                        contentType: 'application/json',
                        headers: {
                            Authorization: this.accessToken,
                            filter: '{"where":{"semesterId":"' + this.semester + '"}}'
                        },
                        method: 'GET',
                        endpoint: '/groups'
                    };

                }
            },

            _semesterChanged: function (event) {
                this.set('semester', event.detail.semesterId);
                this.groupSizeAJAX = {
                        contentType: 'application/json',
                        headers: {
                            Authorization: this.accessToken
                        },
                        method: 'GET',
                        endpoint: '/semesters/' + this.semester
                    };
            },

            _handleGroupSizeResponse: function (response) {
                this.set('groupSize', response.detail.group_size);
            },

            /**
             * Callback fired when api-request responds to GET on current group.
             * @param response
             * @private
             */
            _handleGroupsResponse: function (event) {
                var groups = event.detail;

                //Change groupMemberIds to Array Containing Objects with ID, Name and Mail
                for(var i=0; i<groups.length; i++){
                    for(var j=0; j<groups[i].groupMemberIds.length; j++) {
                        var memberId = groups[i].groupMemberIds.shift();
                        var member = this.students.filter(function (obj) {
                            return obj.id === memberId;
                        })[0];
                        var valid = member!==undefined;
                        groups[i].groupMemberIds.push({
                            "id": memberId,
                            "name": (valid)?(member.first_name + ' ' + member.name):(''),
                            "mail": (valid)?(member.email):('')
                        });
                    }
                }

                this.set('groups', groups);
            },

            /**
             * Opens Popup to Approve Group Deletion
             * @private
             */
            _deleteGroup: function (event, groupId) {
                var groupID = event.model.__data__.group.id;
                var groupName = event.model.__data__.group.name;
                //Pass Group ID Through deleteDialog
                this.$.deleteDialog.dataset.groupID = groupID;
                this.$$('#deleteDialog > div > H1 > span').textContent = groupName;
                this.$.deleteDialog.open();
            },

            /**
             * Opens Creation Popup (called on-tap & from main-view)
             * @public
             */
            create: function () {
                this.set('members',[]);
                for(var i=0; i<this.groupSize; i++)
                    this.push('members',{name:''});
                this.set('newGroupName', 'Gruppe '+(this.groups.length+1));
                this.$.createDialog.open();
            },

            /**
             * Callback on Deletion Popup Closed
             * @private
             */
            _reactToDeleteDialog: function (event) {
                if (event.detail.confirmed) {
                    //Get bakc groupID
                    var groupID = event.path[0].dataset.groupID;
                    this.deleteAjax = {
                        contentType: 'application/json',
                        headers: {
                            Authorization: this.accessToken
                        },
                        method: 'DELETE',
                        endpoint: '/groups/' + groupID
                    };

                }
            },

            /**
             * Callback on Creation Popup Closed
             * @private
             */
            _reactToCreateDialog: function (event) {

                if (event.detail.confirmed) {

                    var memberIds = [];
                    var checked = true;
                    var self = this;
                    //Add suffix back to Mails and Push to Array
                    this.members.forEach(function (element) {
                        if(element.name!=""){
                            var mail = element.name.concat("@campus.lmu.de");
                            //Find Student in students
                            var student = self.students.filter(function ( obj ) {
                                return obj.email === mail;
                            })[0];
                            //Check if user Exists
                            if(student != undefined){
                                //Check if User not in group
                                if(student.groupId==undefined){
                                    memberIds.push(student.id);
                                }else{
                                    checked = false;
                                    self.$$('#createFail').open();
                                }
                            }else{
                                checked = false;
                                self.$$('#createFail').open();
                            }



                        }else{
                            checked = false;
                            self.$$('#createFail').open();
                        }
                    });
                    if(checked){
                        //Find Student IDs in students

                        this.ajaxCreateGroup = {
                            headers: {
                                Authorization: this.accessToken
                            },
                            method: 'POST',
                            body: {
                                "groupMemberIds": memberIds,
                                "name": this.newGroupName,
                                "semesterId": this.semester
                            },
                            endpoint: '/groups'
                        };
                    }

                }
            },

            /**
             * Callback on API response to Delete Group Request
             * @private
             */
            _handleDeleteGroupResponse: function (event) {
                var groupID = this.$.deleteDialog.dataset.groupID;
                index = this.groups.findIndex(x => x.id === groupID);
                this.splice('groups', index, 1);
                this.$.deleteDialog.dataset.groupID = '';
                this.$$('#deleteSuccess').open();
            },

            /**
             * Updates groups and displays Succeeded Toast
             * on API response to Create Group Request
             * @private
             */
            _handleCreateGroupResponse: function (response) {
                var group = response.detail;
                for(var j=0; j<group.groupMemberIds.length; j++) {
                    var memberId = group.groupMemberIds.shift();
                    var member = this.students.filter(function (obj) {
                        return obj.id === memberId;
                    })[0];
                    var valid = member!==undefined;
                    group.groupMemberIds.push({
                        "id": memberId,
                        "name": (valid)?(member.first_name + ' ' + member.name):(''),
                        "mail": (valid)?(member.email):('')
                    });
                }
                this.push('groups', group);
                this.$$('#createSuccess').open();

            },

            /**
             * Displays Creation Fail Toast on API Error
             * @private
             */
            _handleCreateGroupError: function (response) {
                this.$$('#createFail').open();
            },

            /**
             * Tap-Handler to expand/collapse specific group information
             * @private
             */
            _toggleCollapse: function (event) {
                index = event.model.__key__.slice(1);
                this.$$('#collapse' + index).toggle();
                //Uncomment for 100% width of expanded Tiles
                //this.$$('#group_' + index).classList.toggle('flex-none');
            },

            /**
             * Tap-Handler to expand all groupMembers
             * @private
             */
            expandAll: function () {
                var self = this;
                this.groups.forEach(function (item, index) {
                    self.$$('#collapse' + index).show();
                });
            },

            /**
             * Tap-Handler to collapse all groupMembers
             * @private
             */
            collapseAll: function () {
                var self = this;
                this.groups.forEach(function (item, index) {
                    self.$$('#collapse' + index).hide();
                });
            },


            /**
             * Function called by Event on Logout
             * Resetting all Data Component Received on its own
             * @private
             */
            _forget: function () {
                this.set('groups', []);
            },

            /**
             * helper function for Member numbers in create Group
             * @param index
             * @returns {number}
             */
            calcNaturalIndex: function (index) {
                return ++index;
            }
        });
    </script>
</dom-module>