<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../components/login-card.html">
<link rel="import" href="../components/registration-card.html">

<dom-module id="login-view">

    <template>

        <style include="iron-flex iron-flex-alignment">

            login-card, registration-card {
                margin-top: 50px;
            }

        </style>

        <app-route
            route="{{route}}"
            pattern="/:page"
            data="{{routeData}}"
            tail="{{subroute}}"></app-route>


            <iron-pages
                    selected="[[page]]"
                    attr-for-selected="name"
                    fallback-selection="login">

                <div name="login" class="horizontal center-justified layout">
                    <login-card
                            access-token="{{ accessToken }}"
                            logged-in="{{ loggedIn }}"
                            user-id="{{ userId }}"></login-card>
                </div>
                <div name="register" class="horizontal center-justified layout">
                    <registration-card></registration-card>
                </div>

            </iron-pages>
        </div>

    </template>

    <script>

        Polymer({

            is: 'login-view',

            properties: {

                accessToken: {
                    type: String,
                    notify: true
                },

                loggedIn: {
                    type: Boolean,
                    notify: true
                },

                userId: {
                    type: String,
                    notify: true
                },

                page: {
                    type: String,
                    reflectToAttribute: false
                },

                route: {
                    type: Object,
                    notify: true
                }
            },

            observers: [
                '_routePageChanged(routeData.page)'
            ],

            _routePageChanged: function (page) {
                this.page = page || 'login';
            }

        });

    </script>

</dom-module>