<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../components/login-card.html">

<dom-module id="login-view">

    <template>

        <style include="iron-flex iron-flex-alignment">

            login-card {
                margin-top: 50px;
            }

        </style>

        <div class="horizontal center-justified layout">
            <login-card
                access-token="{{ accessToken }}"
                logged-in="{{ loggedIn }}"
                user-id="{{ userId }}"></login-card>
        </div>

    </template>

    <script>

        Polymer({

            is: 'login-view',

            properties: {

                accessToken: {
                    type: String,
                    notify: true
                },

                loggedIn: {
                    type: Boolean,
                    notify: true
                },

                userId: {
                    type: String,
                    notify: true
                }

            }

        });

    </script>

</dom-module>