<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../components/login-card.html">
<link rel="import" href="../components/registration-card.html">

<dom-module id="login-view">

    <template>

        <style include="iron-flex iron-flex-alignment">

            login-card, registration-card {
                margin-top: 50px;
            }

        </style>

        <app-route
            route="{{route}}"
            pattern="/:page"
            data="{{routeData}}"
            tail="{{subroute}}"></app-route>

        <iron-pages
                selected="[[page]]"
                attr-for-selected="name"
                fallback-selection="auth">

            <div name="auth" class="horizontal center-justified layout">
                <login-card
                        access-token="{{ accessToken }}"
                        logged-in="{{ loggedIn }}"
                        preset-email="{{ presetEmail }}"
                        preset-name="{{ presetName }}"
                        user-id="{{ userId }}"></login-card>
            </div>
            <div name="register" class="horizontal center-justified layout">
                <registration-card
                        page="{{ route.path }}"
                        preset-email="{{ presetEmail }}"
                        preset-name="{{ presetName }}"></registration-card>
            </div>

        </iron-pages>

    </template>

    <script>

        Polymer({

            is: 'login-view',

            properties: {

                accessToken: {
                    type: String,
                    notify: true
                },

                loggedIn: {
                    type: Boolean,
                    notify: true
                },

                userId: {
                    type: String,
                    notify: true
                },

                page: {
                    type: String,
                    reflectToAttribute: false
                },

                presetEmail: String,

                presetName: String,

                route: {
                    type: Object,
                    notify: true
                }
            },

            observers: [
                '_routePageChanged(routeData.page)'
            ],

            _routePageChanged: function (page) {
                this.page = page || 'auth';
            }

        });

    </script>

</dom-module>