<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../components/index-card.html">
<link rel="import" href="../components/group-card.html">
<link rel="import" href="../components/group-detail.html">
<link rel="import" href="../components/groups-admin.html">
<link rel="import" href="../components/notifications-card.html">
<link rel="import" href="../components/navigation-bar.html">
<link rel="import" href="../components/admin-toolbar.html">
<link rel="import" href="semester-setup-view.html">
<link rel="import" href="../shared/shared-styles.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/effects/resize-snapped-title.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/effects/waterfall.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/effects/fade-background.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/transburger-icon/transburger-icon.html">
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">

<dom-module id="main-view">

    <template>

        <style include="shared-styles">
            :host {
                width: 100%;
                heigth: auto;
            }

            .group-placeholder {
                float: left;
            }

            .group-info {
                width: 100%;
            }

            .practicalsContainer {
                float: left;
            }

            iron-collapse {
                width: 100%;
            }

            admin-toolbar {
                margin: 0 10px;
                width: auto;
            }

            .desktop-only{
                display: none;
            }

            /*Phone*/
            @media screen and (max-width: 767px) {
                .group-placeholder {
                    width: 100%;
                    min-width: 320px;
                }

                .practicalsContainer {
                    min-width: 320px;
                    width: 100%;
                }

                admin-toolbar {
                    margin: 0;
                }
            }

            /*Tablet*/
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                .group-placeholder {
                    margin: 10px;
                    width: calc(50% - 20px);
                }

                .practicalsContainer {
                    margin: 10px;
                    width: calc(50% - 20px);
                }
            }

            /*Desktop*/
            @media screen and (min-width: 1024px) {
                .group-placeholder {
                    margin: 10px;
                    width: calc(35% - 20px);
                }

                .practicalsContainer {
                    margin: 10px;
                    width: calc(35% - 20px);
                }
                .no-desktop{
                    display: none;
                }
                .desktop-only{
                    display: block;
                }

                .menu-icon:hover {
                    background-color: var(--paper-blue-grey-500);
                }
                .menu-icon {
                    background-color: transparent !important;
                }
            }

            .nav-container {
                border-bottom: var(--paper-blue-grey-700) solid 1px;
                background: var(--paper-blue-grey-600);
                height: 70px;
            }

            .configuration {
                float: left;
            }

            .notification {
                float: right;
            }

            .icon {
                display: block;
                margin: auto;
                /*padding-top: 10px;*/
                width: 100px;
                z-index: 1;
            }

            paper-icon-button {
                /*position: relative;*/
                margin: 5%;
                color: var(--paper-blue-grey-900);
            }

            .notification a {
                text-decoration: none;
            }

            .notification paper-button {
                background: none;
                min-width: 0;
                margin: 0;
                padding: 0;
                color: var(--paper-blue-grey-900);
            }

            /*.notification paper-button:hover, paper-icon-button:hover {
                color: var(--paper-blue-grey-500);
                -o-transition: .1s;
                -moz-transition: .1s;
                -webkit-transition: .1s;
                transition: .1s;
            }*/

            .active-language {
                text-decoration: underline !important;
            }

            .left-triangle {
                z-index: 20;
                fill: #546E7A;
                height: 30px;
                width: calc(50% - 20px);
                position: absolute;
                top: 70px;
                left: 0;
                float: left;
                stroke: #455A64;
                stroke-width: 5;
            }

            .rect {
                z-index: 20;
                fill: #546E7A;
                height: 30px;
                width: 45px;
                position: absolute;
                left: calc(50% - 25px);
                top: 70px;

            }

            .right-triangle {
                z-index: 20;
                fill: #546E7A;
                height: 30px;
                width: calc(50% - 15px);
                position: absolute;
                top: 70px;
                right: 0;
                float: left;
                stroke: #455A64;
                stroke-width: 5;
            }

            .icon-large {
                position: absolute;
                left: calc(50% - 68px);
                top: -70px;
                height: 100%;
                z-index: 100;
            }

            .icon-small {
                position: absolute;
                left: calc(50% - 52px);
                top: -40px;
                height: 100%;
                z-index: 100;
            }

            .icon-one {
                left: calc(50% - 52px);
                /* top: 0; */
                height: 100%;
                z-index: 100;
                text-align: center;
                width: 100px;
                position: relative;
            }

            .icon-one > img {
                height: 100%;
            }

            .helper_container {
                height: auto;
            }

            paper-toolbar.tall {
                height: 100px;
            }

            paper-toolbar {
                height: 60px;
                font-size: 16px;
                line-height: 60px;
                padding: 0 10px;
                color: white;
                transition: height 0.2s;
            }

            .icon-container {
                position: absolute;
                background-color: var(--paper-blue-grey-600);
                width: 100%;
                height: 60px;
                top: 0;
                left: 0;

            }

            .larger_geometry_container {

                z-index: 20;
                height: 0;
                opacity: 0;
                transition: height,opacity 0.2s;

            }

            .larger_geometry_container > div {
                z-index: 20;
                background-color: var(--paper-blue-grey-600);
                height: 10px;
                width: 100%;
                position: absolute;
                top: 60px;
                left: 0;
            }

            paper-toolbar.tall > .larger_geometry_container {
                height: 10px;
                opacity: 1;
                transition: height,opacity 0.2s;

            }

            #menu {
                background-color: var(--paper-blue-grey-800);
                height: 80px;
                border-bottom: 10px solid var(--paper-blue-grey-500);
                width: auto;
                margin: 0 auto;
            }

            paper-icon-button {
                color: var(--paper-blue-grey-50);

            }
            .menu-icon{

                background-color: var(--paper-blue-grey-500);
                border-radius: 50%;
                height: 40px;
                width: 40px;
                margin: 12px;
            }
            
            .menu-icon-wrapper{
                float: right;
            }
            .menu-icon-container{
                top: 8px;
                position: relative;
                left: calc(50% - 96px);
                width: 192px;
                height: 64px;
                background-color: var(--paper-blue-grey-200);
                border-radius: 32px;
            }

            /*#notifications{
                position: fixed;
                z-index: 10;
                top: 60px;
            }*/
        </style>

        <app-route
                route="{{route}}"
                pattern="/:page"
                data="{{routeData}}"
                tail="{{subroute}}"></app-route>

        <!-- Fetches info about currently logged in user -->
        <!--api-request
                headers="[[ ajax.headers ]]"
                method="[[ ajax.method ]]"
                endpoint="[[ ajax.endpoint ]]"
                on-api-response="_handleLoggedInUserResponse"></api-request-->

        <!--Old Nav Bar-->
        <!--app-header-layout>
            <app-header fixed condenses effects="waterfall">
                <navigation-bar
                access-token="{{ accessToken }}"
                group="{{ group }}"
                logged-in="{{ loggedIn }}"
                user-id="{{ userId }}"
                user="{{ user }}"
                show="{{ showMobileNotifications }}"></navigation-bar>
            </app-header>
        </app-header-layout-->

        <div style="height: 100vh; width: 100%; overflow: hidden; min-width: 320px;">

            <iron-collapse id="menu" class="no-desktop">
                <!--h1>menüoptionen</h1-->
                <div class="menu-icon-container">

                    <div class="menu-icon-wrapper"> <!--class="configuration nav-block"-->
                        <paper-icon-button class="menu-icon" icon="icons:exit-to-app" on-tap="_fireLogoutRequest"></paper-icon-button>
                        <paper-tooltip>Logout</paper-tooltip>
                    </div>

                    <div class="menu-icon-wrapper"> <!--class="configuration nav-block"-->
                        <paper-icon-button class="menu-icon" icon="icons:settings" on-tap="_fireLogoutRequest"></paper-icon-button>
                        <paper-tooltip>Logout</paper-tooltip>
                    </div>

                    <div class="menu-icon-wrapper"> <!--class="configuration nav-block"-->
                        <paper-icon-button class="menu-icon" icon="icons:language" on-tap="_fireLogoutRequest"></paper-icon-button>
                        <paper-tooltip>Logout</paper-tooltip>

                    </div>

                    <!--div> class="notification  nav-block">
                        <paper-button on-click="initSwitchLocale">{{ language }}</paper-button>
                        <paper-tooltip offset="5">{{localize('logincard_locale button tooltip')}}</paper-tooltip>
                    </div-->
                </div>

            </iron-collapse>
            <paper-header-panel mode="waterfall-tall">
                <paper-toolbar>
                    <div class="icon-one nav-block">
                        <img src="../../images/mt.svg">
                    </div>

                    <div class="icon-container">

                        <div class="configuration nav-block no-desktop">
                            <paper-icon-button icon="icons:menu" on-tap="_toggleMenu" style=""></paper-icon-button>
                            <paper-tooltip>Menu</paper-tooltip>
                        </div>


                        <div class="notification  nav-block no-desktop">
                            <paper-icon-button class="mobile-and-tablet-only" icon="social:notifications"
                                               on-tap="_toggleNotifications"></paper-icon-button>
                        </div>

                        <div class="menu-icon-wrapper desktop-only"> <!--class="configuration nav-block"-->
                            <paper-icon-button class="menu-icon" icon="icons:settings" on-tap="_fireLogoutRequest"></paper-icon-button>
                            <paper-tooltip>Logout</paper-tooltip>

                        </div>
                        <div class="menu-icon-wrapper desktop-only"> <!--class="configuration nav-block"-->
                            <paper-icon-button class="menu-icon" icon="icons:language" on-tap="_fireLogoutRequest"></paper-icon-button>
                            <paper-tooltip>Logout</paper-tooltip>

                        </div>
                        <div class="menu-icon-wrapper desktop-only"> <!--class="configuration nav-block"-->
                            <paper-icon-button class="menu-icon" icon="icons:exit-to-app" on-tap="_fireLogoutRequest"></paper-icon-button>
                            <paper-tooltip>Logout</paper-tooltip>
                        </div>



                            <!--div> class="notification  nav-block">
                                <paper-button on-click="initSwitchLocale">{{ language }}</paper-button>
                                <paper-tooltip offset="5">{{localize('logincard_locale button tooltip')}}</paper-tooltip>
                            </div-->
                    </div>
                    <div>
                        <iron-collapse id="notifications">
                            <div style="height: 300px; width: 100%; background-color:green;">Test Notification Container</div>
                        </iron-collapse>
                    </div>

                    <div class="larger_geometry_container">
                        <div></div>
                        <svg viewBox="0 0 200 200" class="left-triangle" preserveAspectRatio="none">
                            <polygon points="0,0 200,0 200,200 "></polygon>
                        </svg>
                        <svg viewBox="0 0 200 200" class="right-triangle" preserveAspectRatio="none">
                            <polygon points="200,0 0,200 0,0 "></polygon>
                        </svg>
                        <svg viewBox="0 0 200 200" class="rect" preserveAspectRatio="none">
                            <rect width="200" height="200"></rect>
                        </svg>
                    </div>

                    <iron-collapse id="notifications_2">
                        <div style="height: 300px; width: 100%; background-color:green;">Test Notification Container</div>
                    </iron-collapse>

                </paper-toolbar>
                <div>

                    <template is="dom-if" if="{{ showMobileNotifications }}">
                        <notifications-card showlist="{{ showMobileNotifications }}"></notifications-card>
                    </template>

                    <!-- P A G E S -->
                    <iron-pages
                            selected="[[routeData.page]]"
                            attr-for-selected="name"
                            fallback-selection="error">

                        <!-- Dashboard Page -->
                        <div class="main-page" name="dashboard">

                            <template is="dom-if" if="[[ user.isAdmin ]]">

                            </template>

                            <!-- NOTIFICATIONS -->
                            <div class="notificationsContainer">
                                <template is="dom-if" if="{{ showNotifications }}">
                                    <notifications-card showlist="{{ showlist }}"></notifications-card>
                                </template>
                            </div>

                            <template is="dom-if" if="[[user.isAdmin]]">
                                <div class="group-placeholder">
                                    <!-- A D M I N   T O O L B A R -->
                                    <admin-toolbar
                                            user="[[ user ]]"
                                            selected-semester="{{ adminSelectedSemesterId }}"
                                            main-view-page="{{ page }}"></admin-toolbar>
                                    <group-card group-name="Gruppen" on-tap="toggleGroup"></group-card>
                                    <iron-collapse id="collapse" opened=true>
                                        <groups-admin class="group-info"
                                                      access-token="[[ accessToken ]]"
                                                      self-info="{{user}}"
                                                      selected-semester="[[ adminSelectedSemesterId ]]"></groups-admin>
                                    </iron-collapse>
                                </div>
                            </template>

                            <template is="dom-if" if="[[user.isStudent]]">
                                <div class="group-placeholder light-color-text">
                                    <group-card group-name=[[group.name]] on-tap="toggleGroup"></group-card>
                                    <iron-collapse id="collapse" opened=true>
                                        <group-detail class="group-info"
                                                      access-token="[[ accessToken ]]"
                                                      group="{{ group }}"
                                                      self-info="{{user}}"
                                                      group-name="{{groupName}}"></group-detail>
                                    </iron-collapse>
                                </div>
                            </template>

                            <div class="practicalsContainer">
                                <div on-tap="_handleFotoTap">
                                    <index-card type="Fotopraktikum" label1="Lab:" info1="in 6 Tagen" label2="Abgabe:"
                                                info2="18.05.16, 14-16"></index-card>
                                </div>
                                <div on-tap="_handleVideoTap">
                                    <index-card type="Videopraktikum" label1="Lab:" info1="in 6 Tagen" label2="Abgabe:"
                                                info2="18.05.16, 14-16"></index-card>
                                </div>
                                <div on-tap="_handleAudioTap">
                                    <index-card type="Audiopraktikum" label1="Lab:" info1="in 6 Tagen" label2="Abgabe:"
                                                info2="18.05.16, 14-16"></index-card>
                                </div>
                            </div>
                        </div>

                        <!-- Practical Detail Pages -->
                        <practicals-view
                                name="photo"
                                type="Foto"
                                icon="[[icon]]"
                                route="{{subroute}}"
                                on-back-click="_handleBackTap"
                                access-token="{{ session.accessToken }}"
                                logged-in="{{ session.loggedIn }}"
                                user-id="{{ session.userId }}"></practicals-view>
                        <practicals-view
                                name="video"
                                type="Video"
                                icon="[[icon]]"
                                route="{{subroute}}"
                                on-back-click="_handleBackTap"
                                access-token="{{ session.accessToken }}"
                                logged-in="{{ session.loggedIn }}"
                                user-id="{{ session.userId }}"></practicals-view>
                        <practicals-view
                                name="audio"
                                type="Audio"
                                icon="[[icon]]"
                                route="{{subroute}}"
                                on-back-click="_handleBackTap"
                                access-token="{{ session.accessToken }}"
                                logged-in="{{ session.loggedIn }}"
                                user-id="{{ session.userId }}"></practicals-view>

                        <!-- Semester Setup Pages (Admin only) -->
                        <template is="dom-if" if="[[ user.isAdmin ]]">
                            <semester-setup-view
                                    name="semester-setup"
                                    page="{{ page }}"
                                    access-token="[[ accessToken ]]"></semester-setup-view>
                        </template>

                    </iron-pages>


                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>
                    <div>Scroll Content</div>

                </div>
            </paper-header-panel>
        </div>

        <iron-signals on-iron-signal-forget="_forget"></iron-signals>
    </template>


    <script>
        Polymer({

            is: 'main-view',

            properties: {

                accessToken: {
                    type: String,
                    observer: '_accessTokenChanged'
                },
                adminSelectedSemesterId: {
                    type: String
                },
                apiResponse: {
                    type: Object,
                    reflectToAttribute: false,
                    observer: '_apiResponseChanged'
                },
                group: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                loggedIn: {
                    type: Boolean,
                    notify: true
                },
                showNotifications: {
                    type: Boolean,
                    value: false
                },
                userId: {
                    type: String,
                    notify: true,
                    observer: '_userIdChanged'
                },
                user: {
                    type: Object,
                    observer: '_userChanged'
                    /*notify: true,
                    readOnly: false,
                    value: {}*/
                },
                page: {
                    type: String,
                    reflectToAttribute: false,
                    observer: '_pageChanged'
                },
                route: {
                    type: Object,
                    notify: true,
                    observer: '_routeChanged'
                },
                routeData: {
                    type: Object,
                    observer: '_routeDataChanged'
                },
                language: {
                    type: String,
                    value: 'de'
                }
            },

            behaviors: [
                Polymer.AppLocalizeBehavior
            ],

            attached: function () {
                this.loadResources(this.resolveUrl('../shared/locales.json'));
            },

            ready: function () {

            },

            observers: [
                //'_routePageChanged(routeData.page)'
            ],
            listeners: {
                'FORGET_IT' : '_handleForget'
            },

        /*_userIdChanged: function () {

                this.set('userId', this.userId);

                if (this.userId && this.accessToken) {

                    this.ajax = {
                        headers: {
                            Authorization: this.accessToken
                        },
                        method: 'GET',
                        endpoint: '/platformusers/' + this.userId
                    };
                }
            },*/

            toggleGroup: function () {
                var mq = window.matchMedia("(max-width: 767px)");
                if (mq.matches) {
                    this.$.collapse.toggle();
                }
            },
            /*_accessTokenChanged: function () {
                if (this.userId && this.accessToken) {

                    this.ajax = {
                        headers: {
                            Authorization: this.accessToken
                        },
                        method: 'GET',
                        endpoint: '/platformusers/' + this.userId
                    };
                }
            },*/

            /*_handleLoggedInUserResponse: function (event) {
                console.log('_handleLoggedInUserResponse()');
                var userResponse = event.detail;
                console.log(userResponse);
                this.set('user.email', userResponse.email);
                this.set('user.firstName', userResponse['first_name']);
                this.set('user.groupId', userResponse.groupId);
                this.set('user.name', userResponse.name);
                this.set('user.isAdmin', userResponse.isAdmin);
                this.set('user.isTutor', userResponse.isTutor);
                if (!this.user.isAdmin && !this.user.isTutor) {
                    this.set('user.isStudent', true);
                }
                console.log(this.user);
            },*/

            toggleGroup: function () {
                var mq = window.matchMedia("(max-width: 767px)");
                if (mq.matches) {
                    this.$$('#collapse').toggle();
                }
            },

            isStudent: function () {
                if (!this.user.isAdmin && !this.user.isTutor) {
                    return true;
                }
            },

            _switchLocale: function () {
                this.language = (this.language == 'en') ? 'de' : 'en';
            },

            /**
             * Handle tap on Back-Button
             */
            _handleBackTap: function () {
                this.page = 'dashboard';
            },
            /**
             * Handle tap on Foto-Button
             */
            _handleFotoTap: function () {
                this.page = "foto-practicals";
                this.icon = "../../../images/photo.svg";
            },
            /**
             * Handle tap on Video-Button
             */
            _handleVideoTap: function () {
                this.page = "video-practicals";
                this.icon = "../../../images/video.svg";
            },
            /**
             * Handle tap on Audio-Button
             */
            _handleAudioTap: function () {
                /*this.page = "audio-practicals";
                this.icon = "../../../images/audio.svg";*/
                this.set('route.path','/audio');
                this.set('routeData.page','audio');
            },
            /**
             * Callback fired when the applications route changes
             * @param {String} page - new value of routeData.page
             * @private
             */
            _routePageChanged: function (page) {
                //this.page = page || 'dashboard';
            },
            /**
             * Callback fired when the applications page property changes
             * @param {String} page - new value of page property
             * @private
             */
            _pageChanged: function (page) {
                // Load page import on demand.
                /*if (page.search('practicals') >= 0) {
                    var resolvedPageUrl = this.resolveUrl('./practicals-view.html');
                    this.importHref(resolvedPageUrl, null, this._showPage404, true);
                }*/
            },
            _toggleMenu: function () {
                this.$$('#menu').toggle();
            },
            _toggleNotifications: function () {
                this.$$('#notifications').toggle();
            },

            _routeChanged: function (detail) {
                console.log(detail);
            },

            _routeDataChanged: function (detail) {
                console.log(detail);
            },
            _userChanged: function (detail) {
                console.log("User Changed in Main View: ");
                console.log(detail);
            },

            _fireLogoutRequest: function () {
                this.fire('USER_LOGOUT')
            },


            _forget: function (event) {
                console.log('Heard Forget Event');
                //TODO reset all data
            }
        });
    </script>
</dom-module>
