<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared/shared-styles.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../components/practical-date-detail.html">


<dom-module id="practicals-view">
  <template>
    <style include="shared-styles">
      :host {
        #display: block;
      }
      .page{
        #border-radius: 25px;
        margin: 24px;
        background-color: var(--paper-blue-grey-100);
        color: var(--paper-blue-grey-900);
      }
      .tabheader{
        background-color: var(--paper-blue-grey-900);
        font-size: 120%;
        #border-radius: 25px 25px 0px 0px;
        overflow: hidden;
        height: 5vh;
      }
      .tabheaderbuttons{
        color: var(--paper-blue-grey-50);
        text-align: center;
      }
      .backbutton{
        width: 70px;
        --paper-icon-button-ink-color:var(--paper-blue-grey-300);
        padding-right: 30px;
      }
      .firsttab{
        padding-left: 25px;
      }
      paper-tab{
        --paper-tab-ink:var(--paper-blue-grey-100);
        font-weight: 300;
      }
      paper-tab.iron-selected {
        color: var(--paper-blue-grey-900);
        background-color: var(--paper-blue-grey-100);
      }
      .icon{
        position: absolute;
        margin-left: 40px;
        margin-top: -5px;
        width: 64px;
        height: 64px;
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        background-color: var(--paper-blue-grey-100);
        border:  3px solid var(--paper-blue-grey-900);
        z-index: 1;
      }
      .content{
        padding: 10px;
      }
    </style>
    <div class="page">
      <img class="icon" src=[[icon]] z-index="1">
      <paper-tabs selected="{{selectedTab}}" class="tabheader" no-slide>
        <paper-icon-button  class="tabheaderbuttons backbutton" icon="icons:arrow-back" on-tap="_backClicked"></paper-icon-button>
        <paper-tab class="tabheaderbuttons firsttab">Allgemein</paper-tab>
        <paper-tab class="tabheaderbuttons">Termine</paper-tab>
      </paper-tabs>
      <div class="content">
        <h2>[[type]] Praktikum</h2>
        <iron-pages selected="{{selectedTab}}">
          <div>Page 1 Text</div>
          <div>
            <practical-date-detail type=[[type]]></practical-date-detail>
          </div>
        </iron-pages>
      </div>
    </div>
  </template>

  <script>
    Polymer({

      is: 'practicals-view',
      properties: {
          type:{
              type: String,
              notify: true,
              value: ""
          },
          selectedTab:{
              type: String,
              value: "0"
          },
          icon:{
              type: String,
          }
      },
        _backClicked: function() {
            this.fire("back-click");
        },
        ready: function () {
            if(this.type.includes("Photo" || "photo")){
                this.icon = "../../../images/photo.svg";
            } else if(this.type.includes("Foto" || "foto")){
                this.icon = "../../../images/photo.svg";
            } else if(this.type.includes("Video" || "video")){
                this.icon = "../../../images/video.svg";
            } else if(this.type.includes("Audio" || "audio")){
                this.icon = "../../../images/audio.svg";
            }
        }

    });
  </script>
</dom-module>
