<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared/shared-styles.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<!--link rel="import" href="../components/practicals-date-selector.html">
<link rel="import" href="../components/practicals-show-saved-dates.html"-->
<link rel="import" href="../components/practicals-students-date-detail.html">


<dom-module id="practicals-view">
    <template>
        <style include="shared-styles">
            :host {
              #display: block;
            }
            .page{
              #border-radius: 25px;
              margin: 24px;
              background-color: var(--paper-blue-grey-100);
              color: var(--paper-blue-grey-900);
            }
            .tabheader{
              background-color: var(--paper-blue-grey-900);
              font-size: 120%;
              #border-radius: 25px 25px 0px 0px;
              overflow: hidden;
              height: 5vh;
            }
            .tabheaderbuttons{
              color: var(--paper-blue-grey-50);
              text-align: center;
            }
            .backbutton{
              width: 70px;
              --paper-icon-button-ink-color:var(--paper-blue-grey-300);
              padding-right: 30px;
            }
            .firsttab{
              padding-left: 25px;
            }
            paper-tab{
              --paper-tab-ink:var(--paper-blue-grey-100);
              font-weight: 300;
            }
            paper-tab.iron-selected {
              color: var(--paper-blue-grey-900);
              background-color: var(--paper-blue-grey-100);
            }
            .icon{
              position: absolute;
              margin-left: 40px;
              margin-top: -5px;
              width: 64px;
              height: 64px;
              width: 6vh;
              height: 6vh;
              border-radius: 50%;
              background-color: var(--paper-blue-grey-100);
              border:  3px solid var(--paper-blue-grey-900);
              z-index: 1;
            }
            .content{
              padding: 10px;
            }
        </style>

        <api-request
            id="ajax_savePriorities"
            body="[[ ajax.body ]]"
            headers="[[ ajax.headers ]]"
            method="[[ ajax.method ]]"
            endpoint="[[ ajax.endpoint ]]"
            response="{{ response_savePriorities }}"
            loading="{{ isLoading }}"></api-request>

        <div class="page">
            <img class="icon" src=[[icon]] z-index="1">
            <paper-tabs selected="{{selectedTab}}" class="tabheader" no-slide>
                <paper-icon-button  class="tabheaderbuttons backbutton" icon="icons:arrow-back" on-tap="_backClicked"></paper-icon-button>
                <paper-tab class="tabheaderbuttons firsttab">Allgemein</paper-tab>
                <paper-tab class="tabheaderbuttons">Termine</paper-tab>
            </paper-tabs>
            <div class="content">
                <h1>[[type]] Praktikum</h1>
                <iron-pages selected="[[selectedTab]]">
                    <div>
                        <h1>Informationen</h1>
                        [[informationText]]
                    </div>
                    <div>
                        <h1>Terminauswahl</h1>
                        <practicals-students-date-detail group="[[ group ]]"
                                                         lab-type="[[labType]]"
                                                         lab-data="[[labData]]"
                                                         all-labs="[[allLabs]]"
                                                         on-back-click="_handleBackTap"
                                                         access-token="{{ accessToken }}"
                                                         logged-in="{{ session.loggedIn }}"
                                                         user-id="{{ session.userId }}"></practicals-students-date-detail>
                    </div>
                </iron-pages>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: 'practicals-view',
            properties: {
                accessToken: {
                    type: String,
                    notify: true
                },
                icon:{
                    type: String
                },
                practical_date:{
                    type: Date,
                    notify: true
                },
                route: {
                    type: Object,
                    notify: true
                },
                selectedTab:{
                    type: String,
                    value: "0"
                },
                type:{
                    type: String,
                    notify: true,
                    value: ""
                },
                isReady: {
                    type: Boolean,
                    value: false
                },
                response_savePriorities: {
                    type: Object,
                    observer: '_responseFromPrioritySave'
                },
                user: Object,
                group: Object,
                labData: Object,
                labType: Object
            },
            ready: function () {
                if(this.user.isStudent){
                    this.informationText = this.labType.description_student;
                }
                if(this.user.isTutor){
                    this.informationText = this.labType.description_tutor;
                }
            },
            /**
             * Back-button click handler
             */
            _backClicked: function(e) {
              this.fire("back-click");
            },

            /**
             * Handle save click
             * @param e - Event Variable
             * @private
             */
            _handleSaveClick: function(e){
            },
            /**
             * Handle reset click
             * @param e - Event Variable
             * @private
             */
            _handleResetClick: function(e){
            },
            /**
             * Handle change click
             * @param e - Event Variable
             * @private
             */
            _handleChangeClick: function(e){
            },
            /**
             * Gets response from API call to create a new priority
             * @param response
             * @private
             */
            _responseFromPrioritySave: function(response) {
                if (!this.isReady)
                    return;
                console.log(response);
            }
        });
    </script>
</dom-module>
