<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module is="semester-setup-view">

    <template>

        <style>

            :host {
                text-align: center;
            }

            div {
                background: black;
                margin: auto;
                max-width: 1200px;
                padding: 10px;
                height: 500px;
            }

            h1 {
                color: white;
            }

        </style>

        <div>
            <h1>I am the semester setup view</h1>
        </div>

    </template>

    <script>

        Polymer({

            is: 'semester-setup-view'

            // Here goes the logic

        });

    </script>

</dom-module>