<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../components/semester-setup-basics.html">
<link rel="import" href="../components/semester-setup-practicals.html">
<link rel="import" href="../components/semester-setup-tutors.html">
<link rel="import" href="../components/semester-setup-students.html">
<link rel="import" href="../components/semester-setup-dates.html">
<link rel="import" href="../shared/semester-setup-shared.html">


<dom-module is="semester-setup-view">

    <template>

        <style include="iron-flex"></style>
        <style include="semester-setup-shared"></style>
        <style>

            :host {
                text-align: center;
            }

            .setup-container {
                margin: auto;
                max-width: 1000px;
                text-align: left;
                width: 100%;
            }

            .setup-header {
                margin: 50px auto 0;
                max-width: 1000px;
                width: 100%;
            }

            .setup-header > .setup-header-breadcrumb {
                float: left;
                margin: 0 40px 20px;
            }

            .setup-header-breadcrumb > .mobile {
                display: none;
            }

            paper-button.setup-header-breadcrumb-done, paper-button.setup-header-breadcrumb-mobile {
                background: var(--semester-setup-primary-light-color);
                color: var(--semester-setup-secondary-color);
            }

            paper-button.setup-header-breadcrumb-active {
                background: var(--semester-setup-primary-color);
                color: var(--semester-setup-secondary-color);
            }

            paper-button.setup-header-breadcrumb-todo {
                background: none;
                color: var(--semester-setup-secondary-dark-color);
            }

            .setup-header > .setup-header-actions {
                float: right;
                margin: 0 20px;
            }

            .setup-footer {
                margin: 0 auto 20px;
                max-with: 1000px;
                text-align: center;
                width: 100%;
            }

            .setup-footer > .setup-footer-navigation {
                display: inline-block;
                margin: auto;
            }

            .setup-footer > .setup-footer-navigation > paper-button {
                float: left;
            }

            /* * * * * * * * * * * * * * * * * * * * * * *
             *               Media Queries               *
             * * * * * * * * * * * * * * * * * * * * * * */

            @media screen and (max-width: 767px) {

                .setup-header-breadcrumb > .mobile {
                    display: block;
                }

                .setup-header-breadcrumb > .desktop {
                    display: none;
                }

            }

        </style>

        <paper-dialog id="closeDialog">
            <h2>Close semester setup?</h2>
            <p>Leaving this page will discard all your inputs. Are you sure you want to continue?</p>
            <p>If you don't have any tutors, students or dates for this semester yet, you can just skip these steps and add data later.</p>
            <div class="buttons">
                <paper-button dialog-dismiss>Stay here</paper-button>
                <paper-button dialog-confirm autofocus on-tap="_closeDialogCloseButtonTapped">Close</paper-button>
            </div>
        </paper-dialog>

        <div class="setup-container vertical layout">

            <div class="setup-header">
                <div class="setup-header-actions">
                    <paper-icon-button
                            id="closeSetupButton"
                            icon="icons:close"
                            on-tap="_closeButtonTapped"></paper-icon-button>
                    <paper-tooltip
                            for="closeSetupButton"
                            position="bottom"
                            animation-delay="0"
                            fit-to-visible-bounds="true">Discard new semester</paper-tooltip>
                </div>
                <div class="setup-header-breadcrumb">
                    <div class="desktop">
                        <template is="dom-repeat" items="[[ breadcrumbStatus ]]" as="breadcrumb">
                            <template is="dom-if" if="[[ breadcrumb.done ]]">
                                <paper-button
                                        class="setup-header-breadcrumb-done"
                                        data-breadcrumb-index="[[ breadcrumb.index ]]"
                                        on-tap="_jumpToPage">[[ breadcrumb.label ]]</paper-button>
                            </template>
                            <template is="dom-if" if="[[ breadcrumb.active ]]">
                                <paper-button
                                        class="setup-header-breadcrumb-active"
                                        data-breadcrumb-index="[[ breadcrumb.index ]]"
                                        on-tap="_jumpToPage">[[ breadcrumb.label ]]</paper-button>
                            </template>
                            <template is="dom-if" if="[[ breadcrumb.todo ]]">
                                <paper-button
                                        class="setup-header-breadcrumb-todo"
                                        data-breadcrumb-index="[[ breadcrumb.index ]]"
                                        on-tap="_jumpToPage">[[ breadcrumb.label ]]</paper-button>
                            </template>
                        </template>
                    </div>
                    <div class="mobile">
                        <paper-button class="setup-header-breadcrumb-mobile" disabled>[[ activeIndexNatural ]]/5 [[ activeLabel ]]</paper-button>
                    </div>
                </div>
            </div>

            <iron-pages selected="[[activeIndex]]">

                <!-- BASICS -->
                <semester-setup-basics></semester-setup-basics>

                <!-- PRACTICALS -->
                <!-- This page is hidden by default because of heavyweight code editors that
                     should not be loaded without reason -->
                <semester-setup-practicals show="[[ showPracticalsPage ]]"></semester-setup-practicals>

                <!-- TUTORS -->
                <semester-setup-tutors></semester-setup-tutors>

                <!-- STUDENTS -->
                <semester-setup-students></semester-setup-students>

                <!-- DATES -->
                <semester-setup-dates></semester-setup-dates>

            </iron-pages>

            <div class="setup-footer">
                <div class="setup-footer-navigation">
                    <paper-button on-tap="_stepBack" disabled="[[ backDisabled ]]"><iron-icon icon="icons:chevron-left"></iron-icon> Back</paper-button>
                    <paper-button on-tap="_stepForward" disabled="[[ nextDisabled ]]">Next <iron-icon icon="icons:chevron-right"></iron-icon></paper-button>
                </div>
            </div>
        </div>

    </template>

    <script>

        // TODO
        // - Lokalisation
        // - CSV parsen
        // - API requests

        Polymer({

            is: 'semester-setup-view',

            properties: {

                activeIndex: {
                    type: Number,
                    value: 0
                },

                activeIndexNatural: {
                    type: Number,
                    computed: '_getActiveIndexNatural(activeIndex)'
                },

                activeLabel: {
                    type: String,
                    computed: '_getActiveLabel(activeIndex)'
                },

                backDisabled: {
                    type: Boolean,
                    value: true
                },

                breadcrumbStatus: {
                    type: Array,
                    computed: '_computeBreadcrumbStatus(activeIndex)'
                },

                nextDisabled: {
                    type: Boolean,
                    value: false
                },

                page: {
                    type: String,
                    notify: true
                },

                showPracticalsPage: {
                    type: Boolean,
                    notify: true,
                    computed: '_showPracticalsPage(activeIndex)'
                },

                userInput: {
                    type: Object,
                    notify: true,
                    value: {
                        groupSize: 4
                    }
                }
            },

            _getActiveLabel: function (index) {
                var labels = [
                    'Basics',
                    'Practicals',
                    'Tutors',
                    'Students',
                    'Dates'
                ];
                return labels[index];
            },

            _getActiveIndexNatural: function (index) {
                return index + 1;
            },

            _computeBreadcrumbStatus: function (index) {
                var result = [
                    {label: '1. Basics', index: 0, done: false, active: false, todo: false},
                    {label: '2. Practicals', index: 1, done: false, active: false, todo: false},
                    {label: '3. Tutors', index: 2, done: false, active: false, todo: false},
                    {label: '4. Students', index: 3, done: false, active: false, todo: false},
                    {label: '5. Dates', index: 4, done: false, active: false, todo: false}
                ];
                head = 0;
                while (head < index) {
                    result[head].done = true;
                    head++;
                }
                result[head].active = true;
                head++;
                while (head < result.length) {
                    result[head].todo = true;
                    head++;
                }
                return result;
            },

            _closeButtonTapped: function () {
                this.$.closeDialog.open();
            },

            _closeDialogCloseButtonTapped: function () {
                this.page = 'dashboard';
            },

            _updateNavButtons: function () {
                if (this.activeIndex == 0) {
                    this.backDisabled = true;
                    this.nextDisabled = false;
                } else if (this.activeIndex == (this.breadcrumbStatus.length - 1)) {
                    this.backDisabled = false;
                    this.nextDisabled = true;
                } else {
                    this.backDisabled = false;
                    this.nextDisabled = false;
                }
            },

            _stepBack: function () {
                if (this.activeIndex > 0) {
                    this.activeIndex -= 1;
                }
                this._updateNavButtons();
            },

            _stepForward: function () {
                if (this.activeIndex < 4) {
                    this.activeIndex += 1
                }
                this._updateNavButtons();
            },

            _jumpToPage: function (event) {
                this.activeIndex = event.path[0].dataBreadcrumbIndex;
                this._updateNavButtons();
            },

            _showPracticalsPage: function (activeIndex) {
                return (activeIndex == 1);
            }
        });

    </script>

</dom-module>