<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../shared/shared-styles.html">
<link rel="import" href="../components/settings-change-password.html">

<dom-module id="settings-view">

    <template>

        <style include="iron-flex"></style>
        <style include="shared-styles">

            .settings-container {
                margin: 40px auto 0;
                max-width: 1000px;
                text-align: left;
            }

            paper-card {
                display: block;
                margin: 0 20px 20px;
                width: auto;

                --paper-card-background-color: var(--paper-blue-grey-100);
                --paper-card-header-color: var(--paper-blue-grey-50);

                --paper-card-header: {
                    background: var(--paper-blue-grey-700);
                };
            }

            section {
                margin: 0 20px;
            }

            section > h2 {
                margin-bottom: 0;
                padding-left: 0;
                padding-right: 0;
            }

        </style>

        <div class="settings-container vertical layout">

            <paper-card heading="User Settings" class="flex">

                <div class="card-content">

                    <section>
                        <h2>Change your password</h2>
                        <settings-change-password access-token="[[accessToken]]"></settings-change-password>
                    </section>

                </div>

            </paper-card>

        </div>

    </template>

    <script>

        Polymer({

            is: 'settings-view',

            properties: {

                accessToken: {
                    type: String,
                    value: '' }
            }

        });

    </script>

</dom-module>