<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared/shared-styles.html">

<dom-module id="settings-view">
    <template>
        <style include="shared-styles">
            :host{
            }
        </style>
        <div>Welcome to the Settings</div>
    </template>
    <script>
        Polymer({
            is: 'settings-view',
            properties: {
            
            },
            ready: function() {
            
            }
        });
    </script>
</dom-module>